<script type="text/javascript" src="/js/tinymce.min.js"></script>
<script type="text/javascript">
  
  //將mongodb的_id轉換成yyyy/mm/dd的格式
  function convertDateToString(_id) {
    let timestamp = _id.toString().substring(0, 8);
    let date = new Date(parseInt(timestamp, 16) * 1000)
    var str = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate();
    return str;
  }
  //字超過15個字後省略為"..."
  function trunc(str){
    if(str!==undefined && str.length>15){
      return str.substr(0,15)+"...";
    }else{
      return str;
    }    
  }
  //判斷是不是觸控螢幕
  function isMobile(){
    try{ document.createEvent("TouchEvent"); return true; }
    catch(e){ return false;}
  }
  //電腦版的送出問題功能，這麼做的目的是因為直接使用bootstrap的data-toggle功能好像會有送出兩次的狀況
  function submit(){    
    $.ajax({
            type: "POST",
            url: "/qna/toPost",
            dataType: 'json',
            timeout: 5000,
            data: {              
              title: $("#q_title").val(),
              question: $('#q_content').val()
            },
            success: function (data) {
              if (data[0] === 'success') {                
                $(".askmodal").css("display", "none");
                $("#img2").attr("src","penguin.png");
                $("#img1").css("display","inline");                
                $("#noticeModal").modal("hide");
                alert("成功");
              }
            },
            error: function (err) {
              alert("資料庫出錯!!");
            }
          });
    
  }
  //手機版的送出問題功能
  function mobileSubmit(){
    $.ajax({
            type: "POST",
            url: "/qna/toPost",
            dataType: 'json',
            timeout: 5000,
            data: {              
              title: $("#mobileq_title").val(),
              question: $('#mobileq_content').val()
            },
            success: function (data) {
              if (data[0] === 'success') {
                $(".askmodal").css("display", "none");
                alert("成功");
                $("#mobileNoticeModal").modal("hidden");
              }
            },
            error: function (err) {
              alert("資料庫出錯!!");
            }
          });
  }
  $(document).ready(function () {
    //讓滑鼠移到標題可以出現tooltip
    $('body').tooltip({
      selector: '[data-toggle=tooltip]'
    });
    var timer;
    var sort = ""; //紀錄時間、人氣的按鈕值
    var c = location.pathname.split('/')[2]; //分類的值
    //手機版發問按鈕觸發手機版發問modal
    $("#mobileAskBtn").click(function () {
      $("#mobileAskModal").modal();
    });
    //更新bootstrap的dropdown text
    $(document).on("click",".dropdown-item",function(){
      $("#dropdownMenuButton").text($(this).text());    
    });

    $("#modifyBtn").on("click",function(){      
      let category;
      switch($("#dropdownMenuButton").text()){
        case "校園生活":
        case "課程相關":
        case "學生事務":
        case "其他":
          category=$("#dropdownMenuButton").text();
          break;
        default:
          category="";
      }
      
      $.ajax({
        type: "POST",
        url: "/qna/toModify",
        dataType: 'json',
        timeout: 5000,
        data: {
          postID: $("#modifyInput").attr("postid"),
          category:category,
          content: tinyMCE.get('modifyInput').getContent(),
          reviewed: $("#defaultCheck1").is(":checked") ? true : false
        },
        success:function(data){          
          if(data.result === "success"){
            alert("新增修改成功");
          }
          else{
            alert("出錯了");
          }
        },
        error:function(err){
          alert("資料庫出錯");
        }
      });
    });
    //搜尋時增加一個attr到tbody，好讓getData()不要取得非搜尋的資料
    $("#searchImg").on("click",function(){
      $("tbody").attr("search", "true");
      $("tbody").empty();
      search(c, sort);
    });

    $("#deleteBtn").on("click",function(){
      $.ajax({
        type: "POST",
        url: "/qna/toDelete",
        dataType: 'json',
        timeout: 5000,
        data:{
          postID:$("#modifyInput").attr("postid")
        },
        success:function(data){
          if(data.result === "success"){
            alert("刪除成功");
          }
          else{
            alert("出錯了");
          }
        },
        error:function(err){
          alert("資料庫出錯");
        }
      });
    });

    //option按鈕的css變化
    $("#option li").mouseenter(function(){
      $(this).addClass("optionHover");
    });
    $("#option li").mouseleave(function(){
      $(this).removeClass("optionHover");
    });
    //搜尋
    $(".searchInput").on("keyup", function (e) {
      //在searchInput按下enter時
      if (e.keyCode == "13") {
        $("tbody").attr("search", "true");
        $("tbody").empty();
        search(c, sort);
      }
    });
    //送出問題前先檢查格式是否符合要求(電腦版)
    $(document).on("click","#submit1",function(){
      var forms = document.getElementsByClassName('askForm');
      var validation = Array.prototype.filter.call(forms, function(form) {
          if (form.checkValidity() === false) {
            alert("請檢查格式是否符合規定");
            event.preventDefault();
            event.stopPropagation();            
          }else{
            $("#noticeModal").modal("show");
          }          
        }, false);    
    });
    //送出問題前先檢查格式是否符合要求(手機版)
    $(document).on("click","#submit2",function(){
      var forms = document.getElementsByClassName('mobileAskForm');
      var validation = Array.prototype.filter.call(forms, function(form) {
          if (form.checkValidity() === false) {
            alert("請檢查格式是否符合規定");
            event.preventDefault();
            event.stopPropagation();            
          }else{
            $("#mobileNoticeModal").modal("show");
          }          
        }, false);   
      });

    //一開始載入網頁時，去分辨在哪個category，好讓該category上色
    if (c == "") {      
      $("i[option='all']").parents("li").css({"background-color":"rgb(251,217,185)","color":"rgb(32,56,100)"});
    }else {     
      $("i[option='"+c+"']").parents("li").css({"background-color":"rgb(251,217,185)","color":"rgb(32,56,100)"});
    }
    
    $(".sortButton").click(function () {
      $(".mobileFilterContent").css("display","none");
      $("tbody").empty();
      sort = $(this).attr("sort");
      $(".sortButton").removeClass("orangeBg");
      $(this).addClass("orangeBg");
      if ($("tbody").attr("search") === "true") {
        search(c, $(this).attr("sort"));
      } else {
        getData(c, $(this).attr("sort"));
      }

    });

    //按問題後觸發answermodal
    $("tbody").on("click", "tr", function () {
      var $node = $(this);
      $.ajax({
        type: "POST",
        url: "/qna/getQuestion",
        dataType: 'json',
        timeout: 5000,
        data: {
          postID: $node.attr("postid")
        },
        success: function (data) {
          //更新點擊數(前端)
          $node.children(".count").text(parseInt($node.children(".count").text()) + 1);
          $("#img1").css("display", "none");
          $("#img2").attr("src", "wtf_penguin.png");  
          //觸控螢幕或者螢幕寬度<900px，使用mobileaAswermodal
          if(jQuery(window).width()<900||isMobile())
          {
            $("#mobileAnswerModal").modal();
            $("#mobileAnswerTitleText").text("["+data[0].category+"]"+trunc(data[0].title));
            $("#mq_c").text(data[0].qContent);
            $("#ma_c").html(data[0].aContent);
          } else {
            //插入問題內容
            $("#q_c").text(data[0].qContent);         
            //判斷是否為admin，是的話就可以編輯       
            if($("#answerModelAID").attr("role")==="admin"){               
              if(data[0].category === ""){                
                $("#dropdownMenuButton").text("請選擇分類");
              }else{
                $("#dropdownMenuButton").text(data[0].category);
              }            
              $(".answerTitleText").text(trunc(data[0].title));
              $("#modifyInput").attr("postID",data[0].postID);
              
              tinyMCE.get('modifyInput').setContent(data[0].aContent);
              if(data[0].reviewed){
                $("#defaultCheck1").prop("checked",true);
              }else{
                $("#defaultCheck1").prop("checked",false);
              }
            }else{          
              $(".answerTitleText").text("[" + data[0].category + "]" + trunc(data[0].title));
              $("#a_c").html(data[0].aContent);
            }
            $(".answermodal").addClass("animated fadeIn faster");
            $(".answermodal").css("display", "block");            
          }         
        },
        error: function (err) {
          alert("資料庫出錯!!");
        }
      });

    });
    //按"我要發問"觸發askmodal
    $(".ask").click(function () {
      $(".askmodal").addClass("animated fadeIn faster");
      $(".askmodal").css("display", "block");
      $("#img1").css("display", "none")
      $("#img2").attr("src", "shy_penguin.png");      
      $("#q_title").val("");
      $("#q_content").val("");
    });
    $(".cross").on('click', function () {
      $("._modal").css("display", "none");
      $("#img1").css("display", "inline");
      $("#img2").attr("src", "penguin.png");
    });
    //指標進入"我要發問"的div時
    $(".ask").mouseenter(function () {
      $("#img1").attr("src", "qtextactive.png");
    });
    $(".ask").mouseleave(function () {
      $("#img1").attr("src", "qtext.png");
    });
    $("#Top").click(function () {
      $(".content").scrollTop(0);
    });    
    $(".content").scroll(function () {

      if ($(".content").scrollTop() > 10) {
        $('#Top').css("display", "inline");
      } else {
        $('#Top').css("display", "none");
      }
      //讓scroll觸發次數減少
      window.clearTimeout(timer);
      timer = window.setTimeout(function () {
        scrollEnd();
      }, 500);
    });

    function scrollEnd() {
      //如果"幾乎"到底，加載新的問題
      if (($(".content").scrollTop() + $(".content").height()) > ($(".contentTable").height() * 0.9)) {
        //如果是處在search的狀況下，避免取到非搜尋的資料
        if ($("tbody").attr("search") === "true") {
          search(c, sort);
        } else {
          getData(c, sort);
        }
      }
    }
    function search(category, sort) {
      //暫存tbody原本的內容，為了顯示搜尋的結果 
      $.ajax({
        type: "POST",
        url: "/qna/search",
        dataType: "json",
        timeout: 5000,
        data: {
          category: category,
          searchText: $("#search").val(),
          sort: (sort == "count" ? "count" : "_id"),
          rowCount: $("tbody[search='true'] > tr").length,
        },
        success: function (data) {
          for (let i = 0; i < data.length; i++) {
            let item = '<tr postID="' + data[i].postID + '"><th scope="row">' + data[i].category
              + '</th><td>' + '<span data-toggle="tooltip" data-placement="top" title="'+data[i].title+'">'+ trunc(data[i].title)+'</span>'
              + '</td><td>' + convertDateToString(data[i]._id)
              + '</td><td class="count">' + data[i].count
              + '</td></tr>';
            $("tbody").append(item);
          }
        },
        error: function (err) {
          alert("資料庫出錯");
        }
      });
    }
    function getData(category, sort) {
      $.ajax({
        type: "POST",
        url: "/qna/getData",
        dataType: 'json',
        timeout: 5000,
        data: {
          category: (category == "" ? "" : category),
          sort: (sort == "count" ? "count" : "_id"), //默認為"依時間排序"
          rowCount: $("tbody > tr").length,
        },
        success: function (data) {
          for (let i = 0; i < data.length; i++) {
            let item = '<tr postID="' + data[i].postID + '"><th scope="row">' + data[i].category
              + '</th><td>' + '<span data-toggle="tooltip" data-placement="top" title="'+data[i].title+'">'+ trunc(data[i].title)+'</span>'
              + '</td><td>' + convertDateToString(data[i]._id)
              + '</td><td class="count">' + data[i].count
              + '</td></tr>';
            $("tbody").append(item);
          }
        },
        error: function (err) {
          alert("資料庫出錯!!");
        }
      });
    }    
    //手機版js
    $("#simpleSieve").on("click",function(e){
      e.stopPropagation();
      $(".mobileFilterContent").css("display","block");
    });
    //按其他區域時會隱藏mobileFilterContent    
    $(document).on('mouseup touchend', function(e){
      var container = $(".mobileFilterContent");
      if(!container.is(e.target) && container.has(e.target).length === 0){
        $(".mobileFilterContent").css("display","none");
      }      
    });
    $("#mobileTop").on("click",function(){
      $(".content").scrollTop(0);
    });
  });
</script>