<script type="text/javascript" src="/js/tinymce.min.js"></script>
<script type="text/javascript">
  function convertDateToString(_id) {
    let timestamp = _id.toString().substring(0, 8);
    let date = new Date(parseInt(timestamp, 16) * 1000)
    var str = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate();
    return str;
  }
  function trunc(str){
    if(str.length>15){
      return str.substr(0,15)+"...";
    }else{
      return str;
    }    
  }
  function isMobile(){
    try{ document.createEvent("TouchEvent"); return true; }
    catch(e){ return false;}
  }
  function submit(){
    $.ajax({
            type: "POST",
            url: "/qna/toPost",
            dataType: 'json',
            timeout: 5000,
            data: {              
              title: $("#q_title").val(),
              question: $('#q_content').val()
            },
            success: function (data) {
              console.log(data[0]);
              if (data[0] === 'success') {                
                $(".askmodal").css("display", "none");
                alert("成功");
                $("#noticeModal").modal("hide");
              }
            },
            error: function (err) {
              alert("資料庫出錯!!");
            }
          });
  }
  function mobileSubmit(){
    $.ajax({
            type: "POST",
            url: "/qna/toPost",
            dataType: 'json',
            timeout: 5000,
            data: {              
              title: $("#mobileq_title").val(),
              question: $('#mobileq_content').val()
            },
            success: function (data) {
              if (data[0] === 'success') {
                $(".askmodal").css("display", "none");
                alert("成功");
                $("#mobileNoticeModal").modal("hidden");
              }
            },
            error: function (err) {
              alert("資料庫出錯!!");
            }
          });
  }
  $(document).ready(function () {
    $('body').tooltip({
      selector: '[data-toggle=tooltip]'
    });
    var timer;
    var sort = ""; //紀錄時間、人氣的按鈕值
    var c = location.pathname.split('/')[2]; //分類的值

    $(document).on("click",".dropdown-item",function(){
      $("#dropdownMenuButton").text($(this).text());    
    });
    $("#modifyBtn").on("click",function(){      
      let category;
      switch($("#dropdownMenuButton").text()){
        case "校園生活":
        case "課程相關":
        case "學生事務":
        case "其他":
          category=$("#dropdownMenuButton").text();
          break;
        default:
          category="";
      }
      
      $.ajax({
        type: "POST",
        url: "/qna/toModify",
        dataType: 'json',
        timeout: 5000,
        data: {
          postID: $("#modifyInput").attr("postid"),
          category:category,
          content: tinyMCE.get('modifyInput').getContent(),
          reviewed: $("#defaultCheck1").is(":checked") ? true : false
        },
        success:function(data){          
          if(data.result === "success"){
            alert("新增修改成功");
          }
          else{
            alert("出錯了");
          }
        },
        error:function(err){
          alert("資料庫出錯");
        }
      });
    });
    $("#deleteBtn").on("click",function(){
      $.ajax({
        type: "POST",
        url: "/qna/toDelete",
        dataType: 'json',
        timeout: 5000,
        data:{
          postID:$("#modifyInput").attr("postid")
        },
        success:function(data){
          if(data.result === "success"){
            alert("刪除成功");
          }
          else{
            alert("出錯了");
          }
        },
        error:function(err){
          alert("資料庫出錯");
        }
      });
    });


    $(".option li").mouseenter(function(){
      $(this).addClass("optionHover");
    });
    $(".option li").mouseleave(function(){
      $(this).removeClass("optionHover");
    });

    $(".searchInput").on("keyup", function (e) {
      if (e.keyCode == "13") {
        $("tbody").attr("search", "true");
        $("tbody").empty();
        search(c, sort);
      }
    });



    if (c == "") {      
      $("i[option='all']").parents("li").css({"background-color":"rgb(251,217,185)","color":"rgb(32,56,100)"});
    }else {     
      $("i[option='"+c+"']").parents("li").css({"background-color":"rgb(251,217,185)","color":"rgb(32,56,100)"});
    }

    $(".sortButton").click(function () {
      $(".mobileFilterContent").css("display","none");
      $("tbody").empty();
      sort = $(this).attr("sort");
      $(".sortButton").removeClass("orangeBg");
      $(this).addClass("orangeBg");
      if ($("tbody").attr("search") === "true") {
        search(c, $(this).attr("sort"));
      } else {
        getData(c, $(this).attr("sort"));
      }

    });

    //按問題後觸發answermodal
    $("tbody").on("click", "tr", function () {
      var $node = $(this);
      $.ajax({
        type: "POST",
        url: "/qna/getQuestion",
        dataType: 'json',
        timeout: 5000,
        data: {
          postID: $node.attr("postid")
        },
        success: function (data) {
          $node.children(".count").text(parseInt($node.children(".count").text()) + 1);
          $("#img1").css("display", "none");
          $("#img2").attr("src", "wtf_penguin.png");  
          
          if(jQuery(window).width()<900||isMobile())
          {
            //小
            $("#mobileAnswerModal").modal();
            $("#mobileAnswerTitleText").text("["+data[0].category+"]"+data[0].title);
            $("#mobileQContentText").text(data[0].qContent);
            $("#mobileAContentText").children("p").replaceWith(data[0].aContent);
          } else {
            //插入問題內容
            $(".answerModelQ > p").text(data[0].qContent);         
            //判斷是否為admin            
            if($("#answerModelAID").attr("role")==="admin"){               
              if(data[0].category === ""){                
                $("#dropdownMenuButton").text("請選擇分類");
              }else{
                $("#dropdownMenuButton").text(data[0].category);
              }            
              $(".answerTitleText").text(data[0].title);
              $("#modifyInput").attr("postID",data[0].postID);
              
              tinyMCE.get('modifyInput').setContent(data[0].aContent);
              if(data[0].reviewed){
                $("#defaultCheck1").prop("checked",true);
              }else{
                $("#defaultCheck1").prop("checked",false);
              }
            }else{          
              $(".answerTitleText").text("[" + data[0].category + "]" + data[0].title);
              $(".answerModelA > p").replaceWith(data[0].aContent);
            }
            $(".answermodal").addClass("animated fadeIn faster");
            $(".answermodal").css("display", "block");            
          }         
        },
        error: function (err) {
          alert("資料庫出錯!!");
        }
      });

    });
    //按"我要發問"觸發askmodal
    $(".ask").click(function () {
      $(".askmodal").addClass("animated fadeIn faster");
      $(".askmodal").css("display", "block");
      $("#img1").css("display", "none")
      $("#img2").attr("src", "shy_penguin.png");      
      $("#q_title").val("");
      $("#q_content").val("");
    });
    $(".cross").on('click', function () {
      $("._modal").css("display", "none");
      $("#img1").css("display", "inline");
      $("#img2").attr("src", "penguin.png");
    });
    //指標進入"我要發問"的div時
    $(".ask").mouseenter(function () {
      $("#img1").attr("src", "qtextactive.png");
    });
    $(".ask").mouseleave(function () {
      $("#img1").attr("src", "qtext.png");
    });
    $("#Top").click(function () {
      $(".content").scrollTop(0);
    });    
    $(".content").scroll(function () {

      if ($(".content").scrollTop() > 10) {
        $('#Top').css("visibility", "visible");
      } else {
        $('#Top').css("visibility", "hidden");
      }
      //讓scroll觸發次數減少
      window.clearTimeout(timer);
      timer = window.setTimeout(function () {
        scrollEnd();
      }, 500);
    });

    function scrollEnd() {
      //如果"幾乎"到底，加載新的問題
      if (($(".content").scrollTop() + $(".content").height()) > ($(".contentTable").height() * 0.9)) {
        //如果是處在search的狀況下(意即搜尋結果超過12個)
        if ($("tbody").attr("search") === "true") {
          search(c, sort);
        } else {
          getData(c, sort);
        }
      }
    }
    function search(category, sort) {
      //暫存tbody原本的內容，為了顯示搜尋的結果 
      var temp = $("tbody").html();
      $.ajax({
        type: "POST",
        url: "/qna/search",
        dataType: "json",
        timeout: 5000,
        data: {
          category: category,
          searchText: $("#search").val(),
          sort: (sort == "count" ? "count" : "_id"),
          rowCount: $("tbody[search='true'] > tr").length,
        },
        success: function (data) {
          for (let i = 0; i < data.length; i++) {
            let item = '<tr postID="' + data[i].postID + '"><th scope="row">' + data[i].category
              + '</th><td>' + '<span data-toggle="tooltip" data-placement="top" title="'+data[i].title+'">'+ trunc(data[i].title)+'</span>'
              + '</td><td>' + convertDateToString(data[i]._id)
              + '</td><td class="count">' + data[i].count
              + '</td></tr>';
            $("tbody").append(item);
          }
        },
        error: function (err) {
          alert("資料庫出錯");
        }
      });
    }
    function getData(category, sort) {
      $.ajax({
        type: "POST",
        url: "/qna/getData",
        dataType: 'json',
        timeout: 5000,
        data: {
          category: (category == "" ? "" : category),
          sort: (sort == "count" ? "count" : "_id"), //默認為"依時間排序"
          rowCount: $("tbody > tr").length,
        },
        success: function (data) {
          for (let i = 0; i < data.length; i++) {
            let item = '<tr postID="' + data[i].postID + '"><th scope="row">' + data[i].category
              + '</th><td>' + '<span data-toggle="tooltip" data-placement="top" title="'+data[i].title+'">'+ trunc(data[i].title)+'</span>'
              + '</td><td>' + convertDateToString(data[i]._id)
              + '</td><td class="count">' + data[i].count
              + '</td></tr>';
            $("tbody").append(item);
          }
        },
        error: function (err) {
          alert("資料庫出錯!!");
        }
      });
    }    
    //手機版js
    $("#simpleSieve").on("click",function(e){
      e.stopPropagation();
      $(".mobileFilterContent").css("display","block");
    });
    //按其他區域時會隱藏mobileFilterContent    
    $(document).on('mouseup touchend', function(e){
      var container = $(".mobileFilterContent");
      if(!container.is(e.target) && container.has(e.target).length === 0){
        $(".mobileFilterContent").css("display","none");
      }      
    });
    $("#mobileTop").on("click",function(){
      $(".content").scrollTop(0);
    });
  });
</script>