<script src="https://cdn.ckeditor.com/ckeditor5/12.2.0/classic/ckeditor.js"></script>
<script>


  function convertDateToString(_id) {
    let timestamp = _id.toString().substring(0, 8);
    let date = new Date(parseInt(timestamp, 16) * 1000)
    var str = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate();
    return str;
  }

  $(document).ready(function () {
    var q_ctEditor;
    ClassicEditor
      .create(document.querySelector('#q_content'))
      .then(neweditor => {
        console.log(neweditor);        
        q_ctEditor = neweditor;               
      })
      .catch(error => {
        console.error(error);
      });
      
    // CKEDITOR.replace( 'q_content', {
    //   resize_enabled : true      
    // });
    

    var timer;
    var sort = ""; //紀錄時間、人氣的按鈕值
    var c = location.pathname.split('/')[2]; //分類的值



    $(".searchInput").on("keyup", function (e) {
      if (e.keyCode == "13") {
        $("tbody").attr("search", "true");
        $("tbody").empty();
        search(c, sort);
      }
    });



    if (c == "") {
      $("#all").addClass("d-inline");
      $("#all").parents("li").css("background-color", "#FFECA1");
    }
    else {
      $("#" + c).addClass("d-inline");
      $("#" + c).parents("li").css("background-color", "#FFECA1");
    }

    $(".sortButton").click(function () {
      $("tbody").empty();
      sort = $(this).attr("sort");
      if ($("tbody").attr("search") === "true") {
        search(c, $(this).attr("sort"));
      } else {
        getData(c, $(this).attr("sort"));
      }

    });

    //按問題後觸發answermodal
    $("tbody").on("click", "tr", function () {
      var $node = $(this);
      $.ajax({
        type: "POST",
        url: "/qna/getQuestion",
        dataType: 'json',
        timeout: 5000,
        data: {
          postID: $node.attr("postid")
        },
        success: function (data) {
          $node.children(".count").text(parseInt($node.children(".count").text()) + 1);
          $("#img1").css("display", "none");
          $("#img2").attr("src", "wtf_penguin.png");
          $(".answerTitleText").text("[" + data[0].category + "]" + data[0].title);
          $(".answerModelQ > p").text(data[0].qContent);
          $(".answerModelA > p").text(data[0].aContent);
          $(".answermodal").addClass("animated fadeIn faster");
          $(".answermodal").css("display", "block");
          //assign分類到Modal標題
          $("#aaa").text($(this).children('th').text());
        },
        error: function (err) {
          alert("資料庫出錯!!");
        }
      });

    });
    //按"我要發問"觸發askmodal
    $(".ask").click(function () {
      $(".askmodal").addClass("animated fadeIn faster");
      $(".askmodal").css("display", "block");
      $("#img1").css("display", "none")
      $("#img2").attr("src", "shy_penguin.png");
      $(".classification_btn").text("請選擇分類");
      $("#q_title").val("");
      $("#q_content").val("");
    });
    $(".cross").on('click', function () {
      $("._modal").css("display", "none");
      $("#img1").css("display", "inline");
      $("#img2").attr("src", "penguin.png");
    });
    //指標進入"我要發問"的div時
    $(".ask").mouseenter(function () {
      $("#img1").attr("src", "qtextactive.png");
    });
    $(".ask").mouseleave(function () {
      $("#img1").attr("src", "qtext.png");
    });


    //askmodal的分類鈕
    $(".dropdown-item").click(function () {
      //點選分類後更新分類按鈕
      $(".classification_btn").text($(this).text());
    });


    $(".fa-arrow-alt-circle-up").click(function () {
      $(".content").scrollTop(0);
    });


    $(".content").scroll(function () {

      if ($(".content").scrollTop() > 10) {
        $('.fa-arrow-alt-circle-up').css("visibility", "visible");
      } else {
        $('.fa-arrow-alt-circle-up').css("visibility", "hidden");
      }

      //讓scroll觸發次數減少
      window.clearTimeout(timer);
      timer = window.setTimeout(function () {
        scrollEnd();
      }, 500);
    });

    function scrollEnd() {

      //如果"幾乎"到底，加載新的問題
      if (($(".content").scrollTop() + $(".content").height()) > ($(".contentTable").height() * 0.9)) {
        //如果是處在search的狀況下(意即搜尋結果超過12個)
        if ($("tbody").attr("search") === "true") {
          search(c, sort);
        } else {
          getData(c, sort);
        }

      }
    }
    function search(category, sort) {

      //暫存tbody原本的內容，為了顯示搜尋的結果 
      var temp = $("tbody").html();
      $.ajax({
        type: "POST",
        url: "/qna/search",
        dataType: "json",
        timeout: 5000,
        data: {
          category: category,
          searchText: $("#search").val(),
          sort: (sort == "count" ? "count" : "_id"),
          rowCount: $("tbody[search='true'] > tr").length,
        },
        success: function (data) {
          for (let i = 0; i < data.length; i++) {
            let item = '<tr postID="' + data[i].postID + '"><th scope="row">' + data[i].category
              + '</th><td>' + data[i].title
              + '</td><td>' + convertDateToString(data[i]._id)
              + '</td><td class="count">' + data[i].count
              + '</td></tr>';
            $("tbody").append(item);
          }
        },
        error: function (err) {
          alert("資料庫出錯");
        }
      });
    }
    function getData(category, sort) {
      $.ajax({
        type: "POST",
        url: "/qna/getData",
        dataType: 'json',
        timeout: 5000,
        data: {
          category: (category == "" ? "" : category),
          sort: (sort == "count" ? "count" : "_id"), //默認為"依時間排序"
          rowCount: $("tbody > tr").length,
        },
        success: function (data) {
          for (let i = 0; i < data.length; i++) {
            let item = '<tr postID="' + data[i].postID + '"><th scope="row">' + data[i].category
              + '</th><td>' + data[i].title
              + '</td><td>' + convertDateToString(data[i]._id)
              + '</td><td class="count">' + data[i].count
              + '</td></tr>';
            $("tbody").append(item);
          }
        },
        error: function (err) {
          alert("資料庫出錯!!");
        }

      });

    }

    //askModal的submit觸發後，檢查字數是否符合規定
    $("#submit").click(function () {

      var forms = document.getElementsByClassName('needs-validation');
      var validation = Array.prototype.filter.call(forms, function (form) {
        // alert(q_ctEditor.getData());
        if (form.checkValidity() === false || $(".needs-validation > input").val() === "" || q_ctEditor.getData() === "") {
          event.preventDefault();
          event.stopPropagation();
          console.log("unfit")
        } else {
          //送出前將分類放進隱藏的input，使後端可以取得          
          $.ajax({
            type: "POST",
            url: "/qna/toPost",
            dataType: 'json',
            timeout: 5000,
            data: {
              category: $(".classification_btn").text(),
              title: $("#q_title").val(),
              question: q_ctEditor.getData()
            },
            success: function (data) {
              if (data[0] === 'success') {
                $(".askmodal").css("display", "none");
                alert("成功");
              }
            },
            error: function (err) {
              alert("資料庫出錯!!");
            }
          });
        }
      });

    });




  });

</script>