#inddexPage1,
#indexPage2,
#indexPage3 {
    position: relative;
}

#indexPage1 {
    background-image: url("/index/首頁1_small.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#indexPage2 {
    background-image: url("/index/首頁2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#indexPage3 {
    background-image: url("/index/首頁3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

main {
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
}

/* 手機版 */
@media only screen and (max-width: 1025px) {
    .switch {
        position: absolute;
        z-index: 4000px;
        top: 2vh;
    }

    .switch input {
        display: none;
    }
    
    .switch small {
        display: inline-block;
        width: 120px;
        height: 30px;
        background: #455a64;
        border-radius: 30px;
        position: relative;
        cursor: pointer;
    }

    .switch small:after {
        content: "News";
        position: absolute;
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        width: 100%;
        left: 0px;
        text-align: right;
        padding: 6px;
        box-sizing: border-box;
        line-height: 18px;
    }

    .switch small:before {
        content: "";
        position: absolute;
        width: 30px;
        height: 25px;
        background: #fff;
        border-radius: 50%;
        top: 3px;
        left: 3px;
        transition: .3s;
        box-shadow: -3px 0 3px rgba(0,0,0,0.1);
    }

    .switch input:checked ~ small {
        background: #4fc5c5;
        transition: .3s;
    }

    .switch input:checked ~ small:before {
        transform: translate(85px, 0px);
        transition: .3s;
    }

    .switch input:checked ~ small:after {
        content: "Commerical";
        text-align: left;
    }

    #triangle {
        z-index: 4999;
        position: absolute;
        height: 70px;
        width: 70px;
    }

    #indexOneCircle {
        height: 70px;
        width: 70px;
    }

    #indexLogo {
        position: absolute;
        z-index: 500;
        width: 220px;
        left: calc(50vw - 110px);
        bottom: calc(50vh + 120px);
    }

    #indexPage1 {
        background-image: url("/index/首頁1手機背景.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #indexPage3 {
        background-image: url("/index/首頁2.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #secondSection {
        height: 90vh;
        padding: 6vh 4vw;
    }

    #news {
        position: relative;
        display: block;
        top:  4vh;
        width: 100%;
        height: 90%;
    }

    #news-title {
        position: relative;
    }

    #news-body {
        position: relative;
        max-height: 40vh;
        overflow-y: scroll;
        overflow-x: hidden;
        min-height: 120px;
    }

    #jellyfish {
        display: none;
    }

    .news-img {
        position: relative;
        left: 3vw;
        width: 20%;
    }

    .news-content {
        position: relative;
        left: 5vw;
        width: 65%;
    }

    .card-body {
        padding: 0.8rem;
    }

    .card-body h5 {
        font-size: 18px;
        margin: 0;
    }

    #carouselExampleIndicators {
        position: relative;
        display: block;
        top:  4vh;
        width: 100%;
        height: 90%;
    }

    #fishbone {
        display: none;
    }

    .carousel-inner {
        position: relative;
        top: 8vh;
        width: 100%;
    }

    #pickMonth {
        position: absolute;
        z-index: 500;
        height: 13vh;
        width: 100vw;
        top: 4vh;
    }

    #pickMonth .container1 {
        width: 100vw;
        padding-left: 1vw;
        padding-right: 0;
        margin: 0;
    }

    .selectMonth {
        position: relative;
        display: inline-block;
        width: 22vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .selectMonth h5 {
        position: absolute;
        display: block;
        right: 0;
        top: calc(50% - 8px);
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 16px;
    }

    .bigSvg {
        height: 22vw;
        width: 22vw;
    }

    #monthDetail {
        position: absolute;
        width: 100vw;
        height: 70vh;
        left: 0;
        top: 17vh;
        z-index: 500;
    }

    #board {
        position: relative;
        width: 100%;
        height: 65%;
    }

    #index3start {
        display: none;
    }

    #board-detail {
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 2vh;
        height: 95%;
        border: 0px solid #0163b0;
        background-color: rgba(173, 216, 230, .7);
        border-radius: 37px;
        padding: 15px;
        position: absolute;
        overflow: auto;
        font-size: 19px;
    }

    #days {
        position: relative;
        overflow: hidden;
        width: 80vw;
        height: 25%;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    #scrollDay {
        position: absolute;
        width: 1000vw;
        left: 30vw;
    }

    .day {
        position: relative;
        display: inline-block;
        width: 10vw;
        top: 2vh;
        margin-left: 2.5vw;
        margin-right: 2.5vw;
    }

    .dot {
        display: none;
    }

    .date {
        font-size: 5vw;
        width: 100%;
    }

    .target {
        color: #FFFF4D;
        width: 15vw;
    }

    .target .date {
        font-size: 7vw;
        text-align: center;
    }

    .prev,
    .next {
        position: absolute;
        cursor: pointer;
        font-size: 10vw;
        z-index: 4000;
    }

    .prev {
        left: 0;
    }

    .next {
        right: 0;
    }

    #index3crab {
        display: none;
    }

    .myinvisible {
        display: none !important;
    }
}

/* 平板 */
@media only screen and (min-width: 768px) and (max-width: 1025px) {
    .switch {
        position: absolute;
        z-index: 4000px;
        top: 4vh;
    }

    #secondSection {
        position: relative;
        z-index: 500;
        top: 0;
        padding: 10vh 12vw;
    }

    #news {
        position: relative;
        display: block;
        width: 76vw;
        height: 90vh;
    }

    .news-img {
        position: relative;
        left: 3vw;
        width: 8vw;
    }

    #news-title {
        position: relative;
        top: 0;
    }
    
    .card-body {
        padding: 0.7rem;
    }

    #news-body {
        position: relative;
        height: 80%;
        overflow-y: scroll;
        overflow-x: hidden;
        min-height: 0;
    }

    #carouselExampleIndicators {
        position: relative;
        display: block;
        width: 76vw;
        height: 90vh;
    }

    #fishbone {
        display: none;
    }

    .carousel-inner {
        position: relative;
        left: 10%;
        top: 5vh;
        width: 80%;
    }

    #indexLogo {
        position: absolute;
        z-index: 500;
        width: 280px;
        left: calc(50vw - 140px);
        bottom: calc(calc(100vh - 30px)/2 + 36px);
    }

    #indexPage1 {
        background-image: url("/index/首頁1_small.png");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #triangle {
        z-index: 4999;
        position: absolute;
        height: 100px;
        width: 100px;
    }

    #indexOneCircle {
        height: 100px;
        width: 100px;
    }

    .bigSvg {
        position: relative;
        height: 100px;
        width: 100px;
        left: calc(50% - 50px);
    }

    .selectMonth h5 {
        position: absolute;
        top: calc(50% - 13px);
        font-size: 26px;
    }

    #board-detail {
        font-size: 25px;
        padding: 25px;
    }

    #scrollDay {
        top: 1vh;
    }

    .date {
        font-size: 40px;
    }

    .target .date {
        font-size: 50px;
    }

}

/* 電腦版 */
@media only screen and (min-width: 1025px) {
    .switch {
        display: none;
    }

    #secondSection {
        position: relative;
        z-index: 500;
        top: 0;
        padding: 3vw 5vw;
    }
    
    #indexLogo {
        position: absolute;
        z-index: 500;
        width: 400px;
        left: calc(50vw - 200px);
        bottom: calc(50vh + 100px);
    }

    #news {
        position: relative;
        display: inline-block;
        width: 40vw;
        margin-right: 2.5vw;
    }

    #carouselExampleIndicators {
        position: relative;
        display: inline-block;
        width: 40vw;
        margin-left: 2.5vw;
        top: calc(50%-20vw);
    }

    #fishbone {
        position: absolute;
        z-index: 500;
        bottom: -12%;
        right: -12%;
        width: 45%;
    }

    #news-title {
        position: relative;
    }

    #news-body {
        position: relative;
        max-height: 25vw;
        overflow-y: scroll;
        overflow-x: hidden;
        min-height: 300px;
    }

    #jellyfish {
        position: absolute;
        z-index: 0;
        top: -20%;
        left: -10%;
        width: 45%;
    }

    .news-img {
        position: relative;
        left: 2vw;
        width: 6vw;
    }

    .news-content {
        position: relative;
        left: 4vw;
        width: 75%;
    }

    .card-body h5 {
        font-size: 2vw;
        margin: 0;
    }

    #pickMonth {
        position: absolute;
        z-index: 500;
        width: 25%;
        left: 8%;
    }

    #pickMonth .container1 {
        height: 100%;
        padding-top: 4%;
        padding-bottom: 4%;
    }

    .selectMonth {
        position: relative;
        width: 120px;
        margin-top: 3vh;
        margin-bottom: 7vh;
    }

    .selectMonth h5 {
        position: absolute;
        display: block;
        top: calc(50% - 12px);
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .bigSvg {
        height: 120px;
        width: 120px;
    }


    #monthDetail {
        position: absolute;
        width: 75%;
        right: 0;
        top: 0;
        z-index: 500;
        height: calc(100% - 60px);
    }

    #board {
        position: relative;
        width: 100%;
        height: 70vh;
    }

    #index3start {
        position: absolute;
        top: 1vh;
        right: 8vw;
        width: 12vw;
        z-index: 4000;
    }

    #board-detail {
        width: 70%;
        margin-right: 17.5%;
        margin-left: 12.5%;
        margin-top: 7%;
        height: 73%;
        border: 0px solid #0163b0;
        background-color: rgba(173, 216, 230, .7);
        border-radius: 37px;
        padding: 15px;
        position: absolute;
        overflow: auto;
    }

    #days {
        position: relative;
        width: 100%;
        height: 30vh;
    }

    .day {
        position: relative;
        display: inline-block;
        top: 1vh;
        margin-left: 0;
        margin-right: 4%;
    }

    .prev,
    .next {
        display: none;
    }

    .date {
        width: 100%;
        text-align: center;
    }

    #index3crab {
        position: absolute;
        width: 8vw;
        left: calc(50% - 4vw);
        bottom: 24px;
    }

    #triangle {
        z-index: 4999;
        position: absolute;
        height: 100px;
        width: 100px;
    }

    #indexOneCircle {
        height: 100px;
        width: 100px;
    }
}

#closenews {
    position: relative;
    float: left;
    width: 6%;
    margin: auto 0;
}

#toPage2 {
    position: absolute;
    z-index: 4997;
    height: 100px;
    width: 100px;
    bottom: 60px;
    left: calc(50% - 35px);
}

#nextbtn {
    position: absolute;
    height: 40px;
    width: 40px;
    transform: rotate(-90deg);
}

#prebtn {
    position: absolute;
    height: 40px;
    width: 40px;
    transform: rotate(90deg);
}

#fullpage {
    position: absolute;
}

#secondSection .row {
    height: 100%;
}

.card {
    margin: 0;
}

.card-img {
    width: 100%;
    padding: 10%;
}

.newsTime {
    position: relative;
    float: right;
}

.modal {
    z-index: 5010;
}

.modal-dialog {
    max-width: 710px;
}

.modal-backdrop {
    z-index: 5000;
}

#indexPage3-frame {
    position: absolute;
    top: 0;
    width: 100vmax;
    height: 100vmin;
}

.col-lg {
    padding-top: 30px;
    padding-bottom: 30px;
}

.selectMonth:hover {
    cursor: pointer;
    animation-name: scaleUpAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.day:hover {
    cursor: pointer;
    animation-name: scaleUpAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.carousel-control-next {
    right: 20px;
}

.carousel-control-prev-icon {
    background-image: none;
}

.carousel-control-next-icon {
    background-image: none;
}

.news-line:hover {
    background-color: #fff9dc;
    cursor: pointer;
}

@keyframes scaleUpAnimation {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}