#inddexPage1,
#indexPage2,
#indexPage3 {
    position: relative;
}

#indexPage1 {
    background-image: url("/index/首頁1_small.png");
    background-position: bottom;
    background-repeat: repeat;
    background-size: cover;
}

#indexPage2 {
    background-image: url("/index/首頁2.png");
    background-repeat: repeat;
    background-size: cover;
    background-position: bottom;
}

#indexPage3 {
    background-image: url("/index/首頁3.png");
    background-repeat: repeat;
    background-size: cover;
    background-position: bottom;
}

main {
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
}

/* 手機版 */
@media only screen and (max-width: 768px) {
    #secondSection {
        height: 100vh;
    }

    #news {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;   
    }

    #news-title {
        position: relative;
    }
    
    #news-body {
        position: relative;
        max-height: 60vh;
        overflow-y: scroll;
        overflow-x: hidden;
        min-height: 300px;
        /* border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px; */
    }
    
    #jellyfish {
       display: none;
    }

    #carouselExampleIndicators {
        display: none;
    }

    .news-img {
        position: relative;
        left: 3vw;
        width: 25%;
    }

    .news-content {
        position: relative;
        left: 5vw;
        width: 65%;
    }

    .card-body h5 {
        font-size: 25px;
        margin: 0;
    }    
}

/* 電腦版 */
@media only screen and (min-width: 786px) {
    #news {
        display: block;
        position: relative;
        width: 100%;
    }
    
    #carouselExampleIndicators {
        max-width: 650px;
        display: block;
        margin: 0 auto;
    }

    #news-title {
        position: relative;
    }
    
    #news-body {
        position: relative;
        max-height: 25vw;
        overflow-y: scroll;
        overflow-x: hidden;
        min-height: 300px;
    }

    #jellyfish {
        position: absolute;
        z-index: 500;
        top: -10%;
        left: -10%;
        width: 45%;
    }

    .news-img {
        position: relative;
        left: 2vw;
        width: 6vw;
    }

    .news-content {
        position: relative;
        left: 4vw;
        width: 75%;
    }

    .card-body h5 {
        font-size: 2vw;
        margin: 0;
    }    
}

#closenews {
    position: relative;
    float: left;
    width: 6%;
    margin: auto 0;
}

#toPage2 {
    position: absolute;
    z-index: 4997;
    height: 100px;
    width: 100px;
    bottom: 60px;
    left: calc(50% - 35px);
}

#triangle {
    z-index: 4999;
    position: absolute;
    height: 100px;
    width: 100px;
}

#nextbtn {
    position: absolute;
    height: 40px;
    width: 40px;
    transform: rotate(-90deg);
}

#prebtn {
    position: absolute;
    height: 40px;
    width: 40px;
    transform: rotate(90deg);
}

#indexLogo {
    position: absolute;
    z-index: 500;
    width: 28%;
    left: 36%;
    top: 20px;
}

#fullpage {
    position: absolute;
}

#secondSection {
    position: relative;
    z-index: 500;
    top: 0;
    padding: 3vw 5vw;
}

#secondSection .row {
    height: 100%;
}

.card {
    margin: 0;
}

.card-img {
    width: 100%;
    padding:10%;
}

.newsTime {
    position: relative;
    float: right;
}

#fishbone {
    position: absolute;
    z-index: 500;
    bottom: -12%;
    right: -12%;
    width: 45%;
}

.modal {
    z-index: 5010;
}

.modal-dialog {
    max-width: 710px;
}

.modal-backdrop {
    z-index: 5000;
}

#indexPage3-frame {
    position: absolute;
    top: 0;
    width: 100vmax;
    height: 100vmin;
}

#pickMonth {
    position: absolute;
    z-index: 500;
    width: 25%;
    left: 5%;
    height: inherit;
}

#pickMonth .container {
    height: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
}

.selectMonth {
    text-align: center;
    position: relative;
    width: 100px;
}

.selectMonth h5 {
    position: absolute;
    display: block;
    top: calc(50% - 12px);
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}

#pickMonth .row {
    height: 30%;
}
.col-lg{
    padding-top: 30px;
    padding-bottom:30px;
}

.selectMonth:hover {
    cursor: pointer;
    animation-name: scaleUpAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#monthDetail {
    position: absolute;
    width: 75%;
    right: 0;
    top: 0;
    z-index: 500;
    height: calc(100% - 60px);
}

#board {
    position: relative;
    width: 100%;
    height: 65%;
}

#days {
    position: relative;
    width: 100%;
    height: 35%;
}

.day {
    display: inline-block;
    top: 10%;
    position: absolute;
}

.day:hover {
    cursor: pointer;
    animation-name: scaleUpAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#board-detail {
    width: 65%;
    margin-right: 17.5%;
    margin-left: 17.5%;
    margin-top: 7%;
    height: 73%;
    border: 1px solid #0163b0;
    background-color: lightblue;
    border-radius: 37px;
    padding: 15px;
    position: absolute;
    overflow: auto;
}

#index3start {
    position: absolute;
    right: 9vw;
    width: 12vw;
    z-index: 4000;
}


.carousel-control-prev-icon {
    background-image: none;
}

.carousel-control-next-icon {
    background-image: none;
}

@keyframes scaleUpAnimation {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}