<style>
.nav {
  position: relative;
  background-color: white;
  width: 100%;
  height: 85px;
  box-shadow:2px 2px 2px rgba(20%,20%,40%,0.3),4px 4px 6px rgba(20%,20%,40%,0.1),6px 6px 12px rgba(20%,20%,40%,0.1);
}

.sign {
  position: absolute;
  border-left: 6px solid #ffcc00;
  padding-left: 20px;
  left: 14vw;
  margin: 1vh 0;
  height: 80%;
}

.sign p {
  margin: 0;
}

.p1 {
  color: rgb(20, 20, 102);
  font-size: 28px;
  font-weight: bold;
}

.p2 {
  color: gray;
  font-size: 17px;
}
</style>


<div class="nav">
    <div class="sign">
        <p class="p1">MUST</p>
        <p class="p2">入學須知</p>
    </div>
</div>