<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <% include ../layouts/head %>
    <% include ../layouts/script %>
    <link rel='stylesheet' href='style.css' />
</head>

<body class="other_bg">
    <% include ../layouts/header %>
    <main id="main">
        <% /*編輯框*/ %>
        <% include edit %>
        <% /*共同事項*/ %>
        <div class="common">
            <div class="nav">
                <div class="return_space"><a href="/documents"><img src="return.png" class="return"></a></div>
                <div class="sign">
                    <p class="p1">OTHER</p>
                    <p class="p2">其他</p>
                </div>
            </div>

            <div class="sidenav">
                <a href="/documents/common"><img src="其他.png" class="icon"></a>
            </div>

            <div class="must" id="must">
                <div class="sidenav2">
                    <p class="option page_now" id="31">＞&emsp;108校曆</p>
                    <p class="option" id="32">＞&emsp;中大圖書館</p>
                    <p class="option" id="33">＞&emsp;學生掛號郵件</p>
                    <p class="option" id="34">＞&emsp;熱門連結介紹</p>
                    <p class="option" id="35">＞&emsp;學生申訴管道</p>
                    <p class="option" id="36">＞&emsp;智慧財產權宣導</p>
                    <p class="option" id="37">＞&emsp;LMS/ee-CLASS</p>
                </div>       
            </div>

            <% if (data === null){ %>
                <div class="box">
                    <div class="title" >
                        <p id="show_title"></p>
                    </div>
                    <div class="content" >
                        
                    </div>
                </div>
            <% }else{ %>
                <div class="box">
                    <div class="title" >
                        <p id="show_title"><%= data.title %></p>
                    </div>
                    <div class="content" >
                        <%- data.content %>
                    </div>
                </div>
            <% } %>
            
        </div>
    </main>
    <% include ../layouts/js %>
    <% include js %>
</body>

</html>