<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <% include ../layouts/head %>
    <% include ../layouts/script %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel='stylesheet' href='style.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script type="text/javascript" src="/js/tinymce.min.js"></script>
</head>

<body class="other_bg">
    <% include ../layouts/header %>
    <main id="main">
        <% /*編輯框*/ %>
        <% include edit %>
        <% /*共同事項*/ %>
        <div class="common">
            <div class="nav">
                <div class="return_space"><a href="/documents"><img src="return.png" class="return"></a></div>
                <div class="sign">
                    <p class="p1">OTHER</p>
                    <p class="p2">其他</p>
                </div>
            </div>

            <div class="sidenav">
                <img src="其他.png" class="icon">
            </div>

            <div>
                <div class="sidenav2">
                    <p class="option page_now" id="31"><i class="fas fa-angle-right" ></i>&emsp;108校曆</p>
                    <p class="option" id="42"><i class="fas fa-angle-right" ></i>&emsp;輔導資訊</p>
                    <p class="option" id="32"><i class="fas fa-angle-right" ></i>&emsp;中大圖書館</p>
                    <p class="option" id="33"><i class="fas fa-angle-right" ></i>&emsp;學生掛號郵件</p>
                    <p class="option" id="34"><i class="fas fa-angle-right" ></i>&emsp;熱門連結介紹</p>
                    <p class="option" id="35"><i class="fas fa-angle-right" ></i>&emsp;學生申訴管道</p>
                    <p class="option" id="41"><i class="fas fa-angle-right" ></i>&emsp;中大電算中心</p>
                    <p class="option" id="36"><i class="fas fa-angle-right" ></i>&emsp;智慧財產權宣導</p>
                    <p class="option" id="37"><i class="fas fa-angle-right" ></i>&emsp;LMS/ee-CLASS</p>
                </div>       
            </div>

            <% if (data === null){ %>
                <div class="box">
                    <div class="title" >
                        <p id="show_title"></p>
                    </div>
                    <div class="content" >
                        
                    </div>
                </div>
            <% }else{ %>
                <div class="box">
                    <div class="title" >
                        <p id="show_title"><%= data.title %></p>
                    </div>
                    <div class="content" >
                        <%- data.content %>
                    </div>
                </div>
            <% } %>
            
        </div>
    </main>
    <% include ../layouts/js %>
    <% include js %>
    <script>
        $(document).ready(function(){
            var width;
            if(innerWidth > outerWidth)
                width = outerWidth;
            else
                width = innerWidth;
            if(width <= 768)
                document.location.href = "/documents/phone/common_phone";
            $(window).resize(function(){
                if(innerWidth > outerWidth)
                    width = outerWidth;
                else
                    width = innerWidth;
                if(width <= 768)
                    document.location.href = "/documents/phone/common_phone";
            });
        });
        
    </script>
</body>

</html>