<!DOCTYPE html>
<html>

<head>
        <title><%= title %></title>

        <% include ../layouts/head %>
        <% include ../layouts/script %>
        <link rel='stylesheet' href='style.css' />
        <script src="https://code.jquery.com/jquery-3.4.0.js"
                integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"></script>
</head>

<body>
        <% include ../layouts/header %>
        <main id="main">
                <% /*編輯框*/ %>
                <% include edit %>

                <% /*研究生*/%>
                <div class="nav">
                        <div><a href="/documents"><img src="return.png" class="return"></a></div>
                        <div class="sign">
                                <p class="p1">FRESH</p>
                                <p class="p2">新生週</p>
                        </div>
                </div>
                <div class="graduate" id="graduate">
                        <div class="sidenav">
                                <a href="/documents/graduate_must"><img src="circle.png" class="icon"></a>
                                <a href="/documents/graduate_fresh"><img src="circle.png" class="icon"></a>
                                
                        </div>

                        <div class="must" id="must">
                                <div class="sidenav2">
                                        <p class="option" id="29">＞ 社團博覽會</p>
                                        <p class="option" id="30">＞ 新生健康檢查</p>
                                </div>
                                <div class="box">
                                        <div class="title" >
                                                <p id="show_title"><%= data.title %></p>
                                        </div>
                                        <div class="content" >
                                                <p id="show_content"><%= data.content %></p>
                                        </div>
                                </div>
                        </div>
                </div>
        </main>
        <% include ../layouts/js %>
        <% include js %>
</body>

</html>