<main id="main">
        <% /*研究生*/%>
        <div class="nav">
                <div class="return_space"><a href="/documents"><img src="/documents/return.png" class="return"></a></div>
                <div class="sign">
                        <p class="p1">FRESH</p>
                        <p class="p2">新生週</p>
                </div>
        </div>
        <div class="graduate" id="graduate">
        <div class="gra_bg">
                <div class="sidenav">
                        <a href="/documents/graduate_must/22"><img src="/documents/入學須知_原.png" class="icon icon1"></a>
                        <a href="/documents/graduate_fresh/29"><img src="/documents/新生週.png" class="icon"></a>
                                        
                </div>

                <div class="must" id="must">
                        <div class="sidenav2">
                                <a class="option" id="29">＞&emsp;社團博覽會</p>
                                <a class="option" id="30">＞&emsp;新生健康檢查</p>
                        </div>
                </div>  
        </div>
        </div>
</main>
