<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <% include ../layouts/head %>
    <% include ../layouts/script %>
    <link rel='stylesheet' href='style.css' />
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <script type="text/javascript" src="/js/tinymce.min.js"></script>
</head>

<body class="other_bg">
    <% include ../layouts/header %>
    <main id="main">
        <% /*編輯框*/ %>
        <% include edit %>
        <% /*研究生*/%>
        <div class="graduate">
            <div class="nav">
                <div class="return_space"><a href="/documents"><img src="return.png" class="return"></a></div>
                    <div class="sign">
                        <p class="p1">MUST</p>
                        <p class="p2">入學須知</p>
                    </div>
            </div>

            <div class="sidenav">
                <img src="入學須知.png" class="icon">
                <a href="/documents/graduate_fresh"><img src="新生週_原.png" class="icon icon2"></a>
            </div>

            <div>
                <div class="sidenav2">
                    <p class="option page_now" id="22"><i class="fas fa-angle-right" ></i>&emsp;學籍登錄</p>
                    <p class="option" id="23"><i class="fas fa-angle-right" ></i>&emsp;住宿注意事項</p>
                    <p class="option" id="24"><i class="fas fa-angle-right" ></i>&emsp;兵役注意資料</p>
                    <p class="option" id="25"><i class="fas fa-angle-right" ></i>&emsp;腳踏車證申請</p>
                    <p class="option" id="26"><i class="fas fa-angle-right" ></i>&emsp;入住流程管制圖</p>
                    <p class="option" id="27"><i class="fas fa-angle-right" ></i>&emsp;註冊通知、日程表</p>
                    <p class="option" id="28"><i class="fas fa-angle-right" ></i>&emsp;學費減免及助學金</p>
                    <p class="option" id="39"><i class="fas fa-angle-right" ></i>&emsp;學術研究倫理課程</p>
                </div>         
            </div>

            <% if (data === null){ %>
                <div class="box">
                    <div class="title" >
                        <p id="show_title"></p>
                    </div>
                    <div class="content" >
                        
                    </div>
                </div>
            <% }else{ %>
                <div class="box">
                    <div class="title" >
                        <p id="show_title"><%= data.title %></p>
                    </div>
                    <div class="content" >
                        <%- data.content %>
                    </div>
                </div>
            <% } %>
            
        </div>
    </main>
    <% include ../layouts/js %>
    <% include js %>
    <script>
        $(document).ready(function(){
            var width;
            if(innerWidth > outerWidth)
                width = outerWidth;
            else
                width = innerWidth;
            if(width <= 768)
                document.location.href = "/documents/phone/graduate";
            $(window).resize(function(){
                if(innerWidth > outerWidth)
                    width = outerWidth;
                else
                    width = innerWidth;
                if(width <= 768)
                    document.location.href = "/documents/phone/graduate";
            });
        }); 
    </script>
</body>

</html>