<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='style.css' />
    <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"></script>
  </head>
  <body>
      <main>
          <% /*使用者介面*/ %>

          <% /*身分選擇*/ %>
          <div class="identity">
              <div class="character under">
                  <a href="/documents/undergraduate_must"><img src="temp.png" class="under">大學生</a>
              </div>
              <div class="character gra">
                  <a href="/documents/graduate_must"><img src="temp.png" class="gra">研究生</a>
              </div>
              <div class="character com">
                  <a href="/documents/common"><img src="temp.png" class="com">共同事項</a>
              </div> 
          </div> 
      </main>
      <% include js %>
  </body>
</html>
