<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <% include ../layouts/head %>
    <% include ../layouts/script %>
    <link rel='stylesheet' href='style.css' />    
  </head>
  <body>
      <% include ../layouts/header %>
      <main id="main">
          <% /*身分選擇*/ %>
          <div class="identity">
              <div class="character under" id="100">
                  <a href="/documents/undergraduate_must"><img src="temp.png" class="under">大學生</a>
              </div>
             <div class="character gra">
                  <a href="/documents/graduate_must"><img src="temp.png" class="gra">研究生</a>
              </div>
              <div class="character com">
                  <a href="/documents/common"><img src="temp.png" class="com">共同事項</a>
          </div> 
      </main>
      <% include ../layouts/js %>
      <% include js %>
  </body>
</html>
