<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <% include ../layouts/head %>
    <% include ../layouts/script %>
    <link rel='stylesheet' href='style.css' />    
</head>
<body class="index_bg">
    <% include ../layouts/header %>
    <main id="index_main">
        <% /*身分選擇*/ %>
        <div class="identity">
            <div class="character">
                <a href="/documents/phone/undergraduate"><img src="大學生_手機.png" class="under fish_size"></a>
            </div>
            <div class="character">
                <a href="/documents/phone/graduate"><img src="研究生_手機.png" class="gra fish_size"></a>
            </div>
            <div class="character">
                <a href="/documents/phone/common"><img src="共同事項_手機.png" class="com fish_size">共同事項</a>
            </div>
        </div>
      </main>
      <% include ../layouts/js %>
      <% include js %>
      <script>
            $(document).ready(function(){
                $(window).resize(function(){
                    var width = innerWidth;
                    if(width > 768)
                        document.location.href = "/documents";
                });
            });
        </script>
  </body>
</html>
