<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <% include ../layouts/head %>
    <link rel='stylesheet' href='style.css' />    
</head>
<body class="index_bg">
    <% include ../layouts/header %>
    <main id="index_main">
        <% /*身分選擇*/ %>
        <div class="identity">
            <a href="/documents/phone/undergraduate">
                <div class="character">
                    <img src="大學生_手機.png" class="fish_size">
                    <p class="index_p">大學生</p>
                </div>
            </a>
            <a href="/documents/phone/graduate">
                <div class="character">
                    <img src="研究生_手機.png" class="fish_size2">
                    <p class="index_p">研究生</p>
                </div>
            </a>
            <a href="/documents/phone/common_phone">
                <div class="character">
                    <img src="共同事項_手機.png" class="fish_size">
                    <p class="index_p">共同事項</p>
                </div>
            </a>
            
        </div>
      </main>
      <% include ../layouts/js %>
      <% include js %>
      <script>
          $(document).ready(function(){
            var width;
            if(innerWidth > outerWidth)
                width = outerWidth;
            else
                width = innerWidth;
            if(width > 768)
                document.location.href = "/documents/index_com";
            $(window).resize(function(){
                if(innerWidth > outerWidth)
                    width = outerWidth;
                else
                    width = innerWidth;
                if(width > 768)
                    document.location.href = "/documents/index_com";
            });
          })
            
        </script>
  </body>
</html>
