
<main id="main">
        <% /*大學生*/ %>
        <div class="undergraduate" id="undergraduate">
            <div class="nav">
                    <div class="return_space"><a href="/documents"><img src="/documents/return.png" class="return"></a></div>
                    <div class="sign">
                            <p class="p1">FRESH</p>
                            <p class="p2">新生週</p>
                    </div>
            </div>
            <div class="sidenav">
                <a href="/documents/undergraduate_must/1"><img src="/documents/入學須知_原.png" class="icon icon1"></a>
                <a href="/documents/undergraduate_fresh/8"><img src="/documents/新生週_原.png" class="icon icon2"></a>
                <a href="/documents/undergraduate_study/15"><img src="/documents/學習資訊.png" class="icon"></a>
            </div>

            <div class="must" id="must">
                <div class="sidenav2">
                    <a class="option" id="15">＞&emsp;獎學金</p>
                    <a class="option" id="16">＞&emsp;交換學生</p>
                    <a class="option" id="17">＞&emsp;大一必修</p>
                    <a class="option" id="18">＞&emsp;選課懶人包</p>
                    <a class="option" id="19">＞&emsp;課業輔導管道</p>
                    <a class="option" id="20">＞&emsp;NCUx中大磨課師</p>
                    <a class="option" id="21">＞&emsp;學習護照及大一周會</p>
                </div>
            </div>

        </div>
    </main>
