<!DOCTYPE html>
<html> 
    <head>
            <title><%= title %></title>
            <link rel='stylesheet' href='style.css' />
            <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"></script>
    </head>
    <body>
        <main>
                <% /*大學生*/ %>
                <div class="undergraduate" id="undergraduate">
                    <div class="sidenav">
                        <a href="/documents/undergraduate_must"><img src="circle.png" class="icon"></a>
                        <a href="/documents/undergraduate_fresh"><img src="circle.png" class="icon"></a>
                        <a href="/documents/undergraduate_study"><img src="circle.png" class="icon"></a>
                        <a href="/documents"><img src="return.png" class="icon"></a>
                    </div>
      
                    <div class="must" id="must">
                        <div class="sidenav2">
                            <img src="must.jpg" class="sign">
                            <p>＞ 學籍登陸</p>
                            <p>＞ 住宿注意事項</p>
                            <p>＞ 兵役注意資料</p>
                            <p>＞ 腳踏車證申請</p>
                            <p>＞ 入住流程管制圖</p>
                            <p>＞ 註冊通知、日程表</p>
                            <p>＞ 學費減免及助學金</p>
                        </div>
                        <div class="content" >
                            
                        </div>     
                    </div>
      
                </div>
        </main>
    </body>
</html>