<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <% include ../layouts/head %>
    <% include ../layouts/script %>
    <link rel='stylesheet' href='style.css' />
    <script src="https://code.jquery.com/jquery-3.4.0.js"
        integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"></script>
</head>

<body class="other_bg">
    <% include ../layouts/header %>
    <main id="main">
        <% /*編輯框*/ %>
        <% include edit %>

        <% /*大學生*/ %>
        <div class="undergraduate" id="undergraduate">
            <div class="nav">
                    <div class="return_space"><a href="/documents"><img src="return.png" class="return"></a></div>
                    <div class="sign">
                            <p class="p1">STUDY</p>
                            <p class="p2">學習資訊</p>
                    </div>
            </div>
            <div class="sidenav">
                <a href="/documents/undergraduate_must"><img src="入學須知_原.png" class="icon icon1"></a>
                <a href="/documents/undergraduate_fresh"><img src="新生週.png" class="icon"></a>
                <a href="/documents/undergraduate_study"><img src="學習資訊_原.png" class="icon icon3"></a>
            </div>

            <div class="must" id="must">
                <div class="sidenav2">
                    <p class="option page_now" id="8">＞&emsp;新生營</p>
                    <p class="option" id="9">＞&emsp;社團博覽會</p>
                    <p class="option" id="10">＞&emsp;校園安全宣導</p>
                    <p class="option" id="11">＞&emsp;新生週日程表</p>
                    <p class="option" id="12">＞&emsp;新生健康檢查</p>
                    <p class="option" id="13">＞&emsp;心理適應座談</p>
                    <p class="option" id="14">＞&emsp;UCAN適性測驗</p>
                </div>
                <div class="box">
                    <div class="title" >
                        <p id="show_title"><% /*= data.title*/ %></p>
                    </div>
                    <div class="content" >
                        <p id="show_content"><% /*= data.content*/ %></p>
                    </div>
                </div>
            </div>

        </div>
    </main>
    <% include ../layouts/js %>
    <% include js %>
</body>

</html>