<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <% include ../layouts/head %>
    <% include ../layouts/script %>
    <link rel='stylesheet' href='style.css' />
</head>

<body class="other_bg">
    <% include ../layouts/header %>
    <main id="main">
        <% /*編輯框*/ %>
        <% include edit %>

        <% /*大學生*/ %>
        <div class="undergraduate" id="undergraduate">
            <div class="nav">
                    <div class="return_space"><a href="/documents"><img src="return.png" class="return"></a></div>
                    <div class="sign">
                            <p class="p1">FRESH</p>
                            <p class="p2">新生週</p>
                    </div>
            </div>
            <div class="sidenav">
                <a href="/documents/undergraduate_must"><img src="入學須知_原.png" class="icon icon1"></a>
                <a href="/documents/undergraduate_fresh"><img src="新生週_原.png" class="icon icon2"></a>
                <a href="/documents/undergraduate_study"><img src="學習資訊.png" class="icon"></a>
            </div>

            <div class="must" id="must">
                <div class="sidenav2">
                    <p class="option page_now" id="15">＞&emsp;獎學金</p>
                    <p class="option" id="16">＞&emsp;交換學生</p>
                    <p class="option" id="17">＞&emsp;大一必修</p>
                    <p class="option" id="18">＞&emsp;選課懶人包</p>
                    <p class="option" id="19">＞&emsp;課業輔導管道</p>
                    <p class="option" id="20">＞&emsp;NCUx中大磨課師</p>
                    <p class="option" id="21">＞&emsp;學習護照及大一周會</p>
                </div>
                <div class="box">
                    <div class="title" >
                        <p id="show_title"><% /*= data.title*/%></p>
                    </div>
                    <div class="content" >
                        <p id="show_content"><% /*= data.content*/ %></p>
                    </div>
                </div>
            </div>





        </div>
    </main>
    <% include ../layouts/js %>
    <% include js %>
</body>

</html>