<footer id="footer">
    <%_ if (user) { -%>
    <a id="loginHref" href="/personal">
        <svg id="loginBtn" xmlns="http://www.w3.org/2000/svg">
            <rect cx="20" cy="20" x="0" y="0" rx="25" ry="32" width="140" height="50" style="fill:#ec6d4f;stroke-width:5;" />
                <defs>
                    <clipPath id="circleView">
                        <circle cx="29" cy="25" r="18" style="fill:wheat;"/> 
                    </clipPath>
                </defs>
                <image width="41%" height="96%" xlink:href="/personal/profile-photo/<%= user.avatar %>" clip-path="url(#circleView)" />
            <div id="loginWord"><%= user.name  %></div>
        </svg>
    </a>
    <%_ } else { -%>
    <a id="loginHref" href="/login">
        <svg id="loginBtn" xmlns="http://www.w3.org/2000/svg">
            <rect cx="20" cy="20" x="0" y="0" rx="25" ry="32" width="140" height="50" style="fill:#ec6d4f;stroke-width:5;" />
            <circle cx="29" cy="25" r="18" style="fill:wheat;"/> 
            <div id="loginWord">請登入</div>
        </svg>
    </a>
    <%_ } -%>
    <div id="topHref">
        <svg id="topBtn" xmlns="http://www.w3.org/2000/svg">
            <rect cx="0" cy="0" x="0" y="0" rx="15" ry="15" width="50" height="50" style="fill:#ec6d4f;stroke-width:5;" />
            <div id="topWord">Top</div>
        </svg>
    </div>
</footer>