<header id="header">
    <ul id="navbar">
        <li id="toIndex"><a href="/"><img id="indexpic" src="/layouts/logo.png"></a></li>
        <li id="toLinks">
            <button class="lines-button x" id="navbtn">
                <span class="lines"></span>
            </button>
        </li>
    </ul>
    <div id="mySidenav" class="closed">
        <div id="myNavLinks">
            <div id="menuTag">
                <span class="one">M</span>
                <span class="two">E</span>
                <span class="three">N</span>
                <span class="four">U</span>
            </div>
            <ul id="links">
                <li><a class="link" href="/documents">新生必讀</a></li>
                <li><a class="link" href="/qna">新生問答</a></li>
                <li><a class="link" href="/campus">校園地圖</a></li>
                <li><a class="link" href="/groups">系所社團</a></li>
                <li><a class="link" href="/life">中大生活</a></li>
                <li><a class="link" href="/video">影音專區</a></li>
                <li><a class="link" href="/link">常用連結</a></li>
                <li><a class="link" href="/coolgame">小遊戲</a></li>
                <li><a class="link" href="/about">關於我們</a></li>
                <li><a class="link" href="/personal">個人專區</a></li>
            </ul>
            <span id="copyright">Copyright © 2019 NCUFRESH.<br>All rights reserved.</span>
        </div>
        <div id="myNavPics">
            <div id="randimg-1" class="randImg asyncImage"></div>
            <div id="randimg-2" class="randImg asyncImage"></div>
            <div id="randimg-3" class="randImg asyncImage"></div>
            <div id="randimg-4" class="randImg asyncImage"></div>
            <div id="randimg-5" class="randImg asyncImage"></div>
            <div id="randimg-6" class="randImg asyncImage"></div>
            <div id="randimg-7" class="randImg asyncImage"></div>
            <div id="randimg-8" class="randImg asyncImage"></div>
            <div id="randimg-9" class="randImg asyncImage"></div>
            <div id="randimg-10" class="randImg asyncImage"></div>
            <div id="randimg-11" class="randImg asyncImage"></div>
            <div id="randimg-12" class="randImg asyncImage"></div>
        </div>
    </div>
</header>