<!DOCTYPE html>
<html>

<head>
    <title>新生知訊網｜中大生活</title>
    <% include ../../layouts/head %>
    <link rel=stylesheet type="text/css" href="../life/life_phone.css">
</head>

<body>
    <% include ../../layouts/header %>
    <% include ../../layouts/js %>
    <% include ../js %>
    <div class="back"><img class="backToMain" src="backToMain.png"></div>
    <div class="mainTitle">
        <span id="nculife">NCULife</span>
        <span id="life">中大生活</span>
    </div>
    <main id="main" style="background: #fff9dc;">
        <!--content-->
        <div class="foodList">
            <p id="nightStreet_p">宵夜街</p>
            <p id="backdoor_p">後門</p>
            <p id="campus_p">中央校園</p>
        </div>
        <div class="FpictureArea">
            <div class="foodImg">
                <!-- 五興路 右側 -->
                <img class="foodIcon" title="108果汁" idconnect="5d388772dea9437b52631f66"
                    style="top: 12%; left: 48%; transform: rotate(15deg);" src="food_icon/飲品.png">
                <img class="foodIcon" title="豪味堡" idconnect="5d388793dea9437b52631f67"
                    style="top: 16.5%; left: 48%; transform: rotate(15deg);" src="food_icon/飲品.png">
                <img class="foodIcon" title="魔法咖哩(2F)" idconnect="5d3887a1dea9437b52631f68"
                    style="top: 16.5%; left: 52%; transform: rotate(15deg);" src="food_icon/簡餐.png">
                <img class="foodIcon" title="一品鍋" idconnect="5d3887a7dea9437b52631f69"
                    style="top: 20.5%; left: 48%; transform: rotate(15deg);" src="food_icon/鍋物.png">
                <img class="foodIcon" title="香恬園" idconnect="5d3887b5dea9437b52631f6a"
                    style="top: 24.5%; left: 48%; transform: rotate(15deg);" src="food_icon/簡餐.png">
                <img class="foodIcon" title="宵夜屋" idconnect="5d3887bbdea9437b52631f6b"
                    style="top: 28%; left: 48%; transform: rotate(15deg);" src="food_icon/簡餐.png">
                <img class="foodIcon" title="來來/喬慧素食" idconnect="5d3887ccdea9437b52631f6c"
                    style="top: 31.5%; left: 48%; transform: rotate(15deg);" src="food_icon/簡餐.png">
                <img class="foodIcon" title="OK" idconnect="5d3887d3dea9437b52631f6d" style="top: 35.5%; left: 48%;"
                    src="food_icon/OK.png">
                <img class="foodIcon" title="粥王" idconnect="5d3887e2dea9437b52631f6e"
                    style="top: 39%; left: 48%; transform: rotate(15deg);" src="food_icon/簡餐.png">
                <img class="foodIcon" title="翔食堂" idconnect="5d3887f5dea9437b52631f6f"
                    style="top: 39%; left: 53%; transform: rotate(15deg);" src="food_icon/小吃.png">
                <img class="foodIcon" title="美味王炸雞" idconnect="5d3887fddea9437b52631f70"
                    style="top: 42.5%; left: 49%; transform: rotate(15deg);" src="food_icon/小吃.png">
                <img class="foodIcon" title="小惡魔" idconnect="5d388803dea9437b52631f71"
                    style="top: 42.5%; left: 53%; transform: rotate(15deg);" src="food_icon/飲品.png">
                <img class="foodIcon" title="山頂丼人" idconnect="5d38880fdea9437b52631f72"
                    style="top: 46%; left: 48%; transform: rotate(15deg);" src="food_icon/簡餐.png">
                <img class="foodIcon" title="咖哩老師" idconnect="5d388814dea9437b52631f73"
                    style="top: 49.5%; left: 48%; transform: rotate(15deg);" src="food_icon/簡餐.png">
                <img class="foodIcon" title="霸王老爹" idconnect="5d38881bdea9437b52631f74"
                    style="top: 53%; left: 49%; transform: rotate(15deg);" src="food_icon/小吃.png">
                <img class="foodIcon" title="微笑轉角" idconnect="5d388821dea9437b52631f75"
                    style="top: 56.5%; left: 48%; transform: rotate(15deg);" src="food_icon/麵類.png">
                <!-- 五興路 左側 -->
                <img class="foodIcon" title="星pasta" idconnect="5d388849dea9437b52631f77"
                    style="top: 12%; left: 39%; transform: rotate(15deg);" src="food_icon/西餐.png">
                <img class="foodIcon" title="早點" idconnect="5d388841dea9437b52631f76"
                    style="top: 11.5%; left: 34.5%; transform: rotate(15deg);" src="food_icon/簡餐.png">
                <img class="foodIcon" title="無敵蛋餅" idconnect="5d388855dea9437b52631f78"
                    style="top: 15%; left: 39%; transform: rotate(15deg);" src="food_icon/小吃.png">
                <img class="foodIcon" title="花茶大師" idconnect="5d388863dea9437b52631f79"
                    style="top: 17%; left: 39%; transform: rotate(15deg);" src="food_icon/飲品.png">
                <img class="foodIcon" title="麥味登" idconnect="5d38886bdea9437b52631f7a"
                    style="top: 21%; left: 38%; transform: rotate(15deg);" src="food_icon/西餐.png">
                <img class="foodIcon" title="滿食記" idconnect="5d388879dea9437b52631f7b"
                    style="top: 24%; left: 38%; transform: rotate(15deg);" src="food_icon/簡餐.png">
                <img class="foodIcon" title="E&F" idconnect="5d388884dea9437b52631f7c"
                    style="top: 27.5%; left: 38%; transform: rotate(15deg);" src="food_icon/簡餐.png">
                <img class="foodIcon" title="饌食園" idconnect="5d388892dea9437b52631f7d"
                    style="top: 31%; left: 38%; transform: rotate(15deg);" src="food_icon/簡餐.png">
                <img class="foodIcon" title="饕客" idconnect="5d388898dea9437b52631f7e" style="top: 34.5%; left: 38%;"
                    src="food_icon/滷味.png">
                <img class="foodIcon" title="生鮮大水餃" idconnect="5d38889fdea9437b52631f7f"
                    style="top: 37.5%; left: 38%; transform: rotate(15deg);" src="food_icon/簡餐.png">
                <img class="foodIcon" title="夏克提" idconnect="5d3888abdea9437b52631f80"
                    style="top: 41%; left: 39%; transform: rotate(15deg);" src="food_icon/飲品.png">
                <img class="foodIcon" title="立橙" idconnect="5d3888b7dea9437b52631f81"
                    style="top: 44.5%; left: 39%; transform: rotate(15deg);" src="food_icon/飲品.png">
                <img class="foodIcon" title="一億" idconnect="5d3888bddea9437b52631f82"
                    style="top: 48%; left: 39%; transform: rotate(15deg);" src="food_icon/小吃.png">
                <img class="foodIcon" title="臭豆腐" idconnect="5d3888c7dea9437b52631f83"
                    style="top: 50%; left: 39%; transform: rotate(15deg);" src="food_icon/小吃.png">
                <img class="foodIcon" title="影印店豆花" idconnect="5d3888dddea9437b52631f85"
                    style="top: 50%; left: 36%; transform: rotate(15deg);" src="food_icon/飲品.png">
                <img class="foodIcon" title="香城燒臘" idconnect="5d3888d6dea9437b52631f84"
                    style="top: 54%; left: 38%; transform: rotate(15deg);" src="food_icon/簡餐.png">
                <!-- 五興路 331巷 -->
                <img class="foodIcon" title="真功夫" idconnect="5d3888e7dea9437b52631f86"
                    style="top: 46.5%; left: 20%; transform: rotate(15deg);" src="food_icon/小吃.png">
                <img class="foodIcon" title="出海抓魚" idconnect="5d3888eedea9437b52631f87"
                    style="top: 46.5%; left: 16%; transform: rotate(15deg);" src="food_icon/飯糰.png">
                <img class="foodIcon" title="來客" idconnect="5d3888f3dea9437b52631f88"
                    style="top: 54%; left: 24%; transform: rotate(15deg);" src="food_icon/簡餐.png">
                <!-- 五興路 下方右側 -->
                <img class="foodIcon" title="比大爺" idconnect="5d38894cdea9437b52631f90" style="top: 68%; left: 40%;"
                    src="food_icon/滷味.png">
                <img class="foodIcon" title="雞叔叔" idconnect="5d388951dea9437b52631f91"
                    style="top: 69.5%; left: 39.5%; transform: rotate(-45deg);" src="food_icon/小吃.png">
                <img class="foodIcon" title="客臨" idconnect="5d38895adea9437b52631f92"
                    style="top: 71.5%; left: 39%; transform: rotate(-45deg);" src="food_icon/小吃.png">
                <!-- <img class="foodIcon" title="緣杏" idconnect="5d388967dea9437b52631f93" style="top: 75.5%; left: 37%;"
                    src="food_icon/麵類.png"> -->
                <img class="foodIcon" title="瑞霖美而美" idconnect="5d388974dea9437b52631f94" style="top: 78.5%; left: 35%;"
                    src="food_icon/西餐.png">
                <img class="foodIcon" title="京城韓式湯飯" idconnect="5d38897edea9437b52631f95" style="top: 81%; left: 33%; "
                    src="food_icon/簡餐.png">
                <img class="foodIcon" title="早安美芝城" idconnect="5d388986dea9437b52631f96" style="top: 84%; left: 31%;"
                    src="food_icon/西餐.png">
                <img class="foodIcon" title="燒餅窯" idconnect="5d38898edea9437b52631f97"
                    style="top: 86%; left: 29.5%; transform: rotate(-20deg);" src="food_icon/飲品.png">
                <img class="foodIcon" title="夠義式" idconnect="5d388998dea9437b52631f98" style="top: 90%; left: 27%;"
                    src="food_icon/西餐.png">
                <img class="foodIcon" title="幸福廚房" idconnect="5d38899fdea9437b52631f99" style="top: 93%; left: 25%; "
                    src="food_icon/簡餐.png">
                <img class="foodIcon" title="香煎小舖" idconnect="5d3889abdea9437b52631f9a" style="top: 96%; left: 24%; "
                    src="food_icon/簡餐.png">
                <!-- 五興路 下方右側 -->
                <img class="foodIcon" title="傻師傅湯包" idconnect="5d3888fbdea9437b52631f89" style="top: 64%; left: 30%; "
                    src="food_icon/麵類.png">
                <img class="foodIcon" title="韓林" idconnect="5d388909dea9437b52631f8a" style="top: 67.5%; left: 28%; "
                    src="food_icon/簡餐.png">
                <img class="foodIcon" title="內卡小館" idconnect="5d388910dea9437b52631f8b" style="top: 71.5%; left: 26%; "
                    src="food_icon/簡餐.png">
                <img class="foodIcon" title="雙寶爸" idconnect="5d38891adea9437b52631f8c" style="top: 75.5%; left: 23.5%; "
                    src="food_icon/麵類.png">
                <img class="foodIcon" title="太祖魷魚羹" idconnect="5d388921dea9437b52631f8d"
                    style="top: 79.5%; left: 20.5%; " src="food_icon/簡餐.png">
                <img class="foodIcon" title="㸆窯" idconnect="5d388932dea9437b52631f8e" style="top: 84%; left: 18.5%; "
                    src="food_icon/西餐.png">
                <img class="foodIcon" title="小紅牛" idconnect="5d38893fdea9437b52631f8f" style="top: 87%; left: 16%; "
                    src="food_icon/西餐.png">
                <img id="map" src="宵夜街地圖.png">
                <div class="overlay">
                    <div class="hint">點<br>擊<br>出<br>現<br>店<br>家<br>資<br>訊</div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="foodModal" tabindex="-1" role="dialog" aria-hidden="true"
            style="padding-top: 60px;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"> </h5>
                        <span data-dismiss="modal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="5vw" height="5vw" viewBox="0 0 25 25">
                                <path
                                    d="M14.59 8L12 10.59 9.41 8 8 9.41 10.59 12 8 14.59 9.41 16 12 13.41 14.59 16 16 14.59 13.41 12 16 9.41 14.59 8zM12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" />
                            </svg>
                        </span>
                    </div>
                    <div class="modal-body">
                        <div id="foodModalDetail">
                            <div class="d">

                            </div>
                        </div>
                    </div>
                    <div class="decoration">
                        <img src="CCC.png" alt="" style="left: -2%">
                        <img src="CLOWNFISH.png" alt="" style="top: 10%; right: 0%;">
                    </div>
                </div>
            </div>
        </div>

    </main>
    <script>
        $(document).ready(function () {
            $(window).resize(function () {
                var width = innerWidth;
                if (width > 1024)
                    document.location.href = "/life/food";
            });
        });
    </script>

</body>

</html>