<!DOCTYPE html>
<html>
    <head>
        <title>新生知訊網｜中大生活</title>
        <% include ../../layouts/head %>
        <link rel=stylesheet type="text/css" href="../life/life_phone.css">
    </head>
    
    <body>
        <% include ../../layouts/header %>
        <% include ../../layouts/js %>
        <% include ../js %>
        <div class="back"><img class="backToMain" src="backToMain.png"></div>
        <div class="mainTitle">
            <span id="nculife">NCULife</span>
            <span id="life">中大生活</span>
        </div>
        <main id="main">
            <!--content-->
            <div class="content">
                <!-- <div class="pictureArea">
                    <div class="textArea"> -->
                        <%- data[0]['content'] %>
                    <!-- </div>
                </div> -->
            </div>
        </div>
    </main>
    <script>
        $(document).ready(function () {
            $(window).resize(function () {
                var width = innerWidth;
                if (width > 1024)
                    document.location.href = "/life/play";
            });
        });
    </script>
</body>

</html>