<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../layouts/head %>
    <link rel='stylesheet' href='/personal/style.css' />
  </head>
  <body>
      <% include ../layouts/header %>
    <div class="row">
      <div class="column">
        <div class="circle">
          <img class="profile-pic" src="default-profile.jpg">
        </div>
        <div class="upload-icon">
          <!-- 放相機圖示當按鈕 -->
          <div class="upload-button"><img src="camera.png"></div>
          <input class="file-upload" type="file" accept="image/*"/>
        </div>
      </div>
    </div>
  </body>
  <% include ../layouts/js %>
  <% include js %>
</html>
