<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../layouts/head %>
    <link rel='stylesheet' href='/personal/style.css' />
  </head>
  <body>
      <% include ../layouts/header %>
    <div class="container">
      
      <!-- 使用者資訊 待補 -->
      <div class="vertical-line"></div>
      <div class="username">使用者</div>
      <div class="student-number">108XXXXXX</div>
      
      <div class="link" id="game-score">遊戲積分</div>
      <div class="link" id="game">小遊戲</div>
      <div class="link" id="ask-record">發問紀錄</div>
      <div class="link" id="ask">我要發問</div>

      <!--
      <div class="modal is-hide">
        <div class="tabs" id="game-score-tab"></div>
        <div class="tabs" id="game-tab"></div>
        <div class="tabs" id="ask-record-tab"></div>
        <div class="tabs" id="ask-tab"></div>
      </div>
      -->
      <!-- 頭貼外框 -->
      
      <div class="circle">
        <img class="profile-pic" src="default-profile.png">
      </div>

      <div class="upload-icon">
        <!-- 放相機圖示當按鈕 -->
        <label for="upload">
          <img id="btn" src="camera.png"`>
          <input class="file-upload" id="upload" type="file" accept="image/*" style="display: none"/>
        </label>
      </div>
    
    </div>
  </body>
  <% include ../layouts/js %>
  <% include js %>
</html>
