<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <% include ../layouts/head %>
        <link rel="stylesheet" href="/index/error.css">
    </head>
    <body id="background_image">
        <% include ../layouts/header%>
        <main>   
            <section class="error-container">
                <span>4</span>
                <span><span class="screen-reader-text">0</span></span>
                <span>4</span>
            </section> 
            <div class="hint ch">錯誤：找不到此頁面</div>
            <div class="hint en">Error：Not Found</div>
            <div class="ch">上線後會刪掉</div>
            <pre><%= error.stack %></pre>
        </main>
        <% include ../layouts/footer %>
        <% include ../layouts/js %>
        <script type="text/javascript" src="/index/index.js"></script>
    </body>
</html>





