<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='index/style.css' />
  
</head>

<body>
  <header>
    <ul id="navbar">
      <li id="toLinks">
          <button class="lines-button x">
              <span class="lines"></span>
          </button>
      </li>
    </ul>
    <div id="mySidenav" class="sidenav closed">
      <ul id="links">
        <li><a class="link" href="/documents">新生必讀</a></li>
        <li><a class="link" href="/qna">新生問答</a></li>
        <li><a class="link" href="/campus">校園地圖</a></li>
        <li><a class="link" href="/groups">系所社團</a></li>
        <li><a class="link" href="/life">中大生活</a></li>
        <li><a class="link" href="/video">影音專區</a></li>
        <li><a class="link" href="/link">常用連結</a></li>
        <li><a class="link" href="/smallgame">小遊戲</a></li>
        <li><a class="link" href="/about">關於我們</a></li>
      </ul>
    </div>

  </header>
  <main>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </main>

  <footer>

  </footer>


  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <% include js%>
</body>

</html>