@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

body {
  background-color: white;
}

.vertical-line{
  background-color: #0163b0;
  width: 28px;
  height:60px;
  position: absolute;
  left: 200px;
  top: 100px;
}

.username {
  font-size: 50px;
  color: #0163b0;
  position: absolute;
  left: 250px;
  top: 90px;
}

.student-number {
  font-size: 15px;
  color: #ffd800;
  position: absolute;
  left: 255px;
  top: 165px;
  font-family: Noto Sans TC;
}

.links {
  font-size: 15px;
  color: #0163b0;
  background-color: white;
  width: 100px;
  height: 40px;
  border-radius: 30px;
  text-align: center;
  line-height: 40px;
}

.links:hover {
  background-color: #736f6e;
}

#game-score {
  position: absolute;
  left: 240px;
  top: 220px;
}

#game {
  position: absolute;
  left: 350px;
  top: 220px;
}

#ask-record {
  position: absolute;
  left: 460px;
  top: 220px;
}

#ask {
  position: absolute;
  left: 570px;
  top: 220px;
}

.ask-link {
  border-radius: 18px;
  position: absolute;
  width: 32%;
  height: 65%;
  text-align: center;
  padding: 4% 2%;
}

.game-link {
  border-radius: 18px;
  position: absolute;
  width: 32%;
  height: 65%;
  text-align: center;
  padding: 4% 2%;
}

.ask-link:hover {
  background-color: #c2c2c2;
}

.game-link:hover {
  background-color: #c2c2c2;
}

.ask-link img {
  width: 100%;
}

.game-link img {
  width: 100%;
}

.ask-link p {
  font-size: 15px;
  color: black;
  position: absolute;
}

.game-link p {
  font-size: 15px;
  color: black;
  position: absolute;
}

.profile-pic {
  width: 200px;
  display: block;
}

.circle {
  border-radius: 1000px !important;
  overflow: hidden;
  width: 180px;
  height: 180px;
  border: 5px solid #0163b0;
  position: absolute;
  top: 200px;
  right:200px;
}

img {
  max-width: 100%;
  height: auto;
}

.upload-icon {
  position: absolute;
  width: 40px;
  top: 330px;
  right: 200px;
}

.toggle-container {
  width: 55%;
  height: 50%;
  position: absolute;
  top: 300px;
  left: 250px;
}

.score h1 {
  font-size: 120px;
  color: #0163b0;
  position: absolute;
  top: 25%;
}

.score p {
  font-size: 23px;
  color: #ffd800;
  position: absolute;
  top: 50%;
  left: 17%;
}

.score-container {
  width: 75%;
  height: 100%;
  position: absolute;
  left: 25%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.scoreTag {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 20px;
  color: #0163b0;
}

#ranking-box {
  position: absolute;
  width: 20%;
  right: 70%;
}

#score-box {
  position: absolute;
  width: 30%;
  right: 40%;
}

#name-box {
  position: absolute;
  width: 35%;
  right: 5%;
}

.horizontal-bar {
  position: absolute;
  width: 90%;
  height: 1%;
  left: 5%;
  background-color: #ffd800;
  top: 13%;
}

.lists {
  padding: 10px;
  text-align: center;
  font-size: 15px;
  line-height: 30px;
}

.box2 {
  height: 20%;
}

.box-show {
  overflow: scroll;
}

.box-ask {
  width: 100%;
  font-size: 15px;
  line-height: 25px;
}

#date {
  position: absolute;
  width: 30%;
  height: 100%;
  text-align: center;
}

#ask-title {
  position: absolute;
  left: 30%;
  width: 70%;
  height: 100%; 
}

.tag-ask {
  text-align: center;
  font-size: 15px;
  line-height: 50px;
}

#date-tag {
  background-color: #ffd800;
}

#title-tag {
  background-color: #736f6e;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}