

body {
  background-color: #fff9dc;
}

.title-box {
  position: absolute;
  top: 60px;
  width: 350px;
  height: 85px;
  background-color: white;
}

.vertical-line{
  background-color: #7CA7BC;
  width: 5px;
  height: 80%;
  position: absolute;
  left: 143px;
  top: 10%;
}

.eng-title {
  font-size: 28px;
  color: #FB8360;
  position: absolute;
  left: 163px;
  top: 7%;
  font-weight: bold;
}

.ch-title {
  font-size: 17px;
  color: #767171;
  position: absolute;
  left: 163px;
  top: 56%;
}

#userinfo {
  align-items: center;
  position: absolute;
  top: 160px;
  left: 250px;
}

.username {
  display: inline;
  line-height: 8vh;
  font-size: 8vh;
  color: #FB8360;
  padding: 10px;
}

.student-number {
  display: inline;
  line-height: 5vh;
  font-size: 5vh;
  color: black;
  padding: 10px;
}

.links {
  font-size: 2.5vh;
  color: black;
  width: 10vw;
  height: 5vh;
  border-radius: 10px;
  text-align: center;
  line-height: 5vh;
  position: absolute;
  top: calc(160px + 15vh);
}

.links a {
  color: black;
}

.links:hover {
  background-color: rgb(251, 217, 185);
  color: white;
  text-decoration: none;
}

.links a:hover {
  color: white;
  text-decoration: none;
}

#game-score {
  left: 250px;
}

#game {
  left: calc(250px + 12vw);
}

#ask-record {
  left: calc(250px + 24vw);
}

#ask {
  left: calc(250px + 36vw);
}

#logout {
  left: calc(250px + 48vw);
  background-color: #bfe8f2;
}

#logout:hover {
  background-color: rgb(32, 56, 100);
}

.ask-link {
  border-radius: 18px;
  position: absolute;
  width: 32%;
  height: 65%;
  text-align: center;
  padding: 4% 2%;
}

.game-link {
  border-radius: 18px;
  position: absolute;
  width: 32%;
  height: 65%;
  text-align: center;
  padding: 4% 2%;
}

.ask-link:hover {
  background-color: #c2c2c2;
}

.game-link:hover {
  background-color: #c2c2c2;
}

.ask-link img {
  width: 100%;
}

.game-link img {
  width: 100%;
}

.ask-link p {
  font-size: 15px;
  color: black;
  position: absolute;
}

.game-link p {
  font-size: 15px;
  color: black;
  position: absolute;
}

.profile-pic {
  width: 100%;
  height: 100%;
  display: block;
  width: 100%;
  height: 100%;
}

.circle {
  border-radius: 1000px !important;
  overflow: hidden;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 100px;
  left: calc(370px + 48vw);
}

.upload-icon {
  position: absolute;
  width: 40px;
  top: 230px;
  left: calc(500px + 48vw)
}

.toggle-container {
  width: 65%;
  height: calc(90vh - 250px - 5vh);
  position: absolute;
  top: calc(160px + 23vh);
  left: 250px;
  background-color: white;
  padding: 3%;
}

.score h1 {
  font-size: 5vh;
  color: #0163b0;
  position: absolute;
  top: 30%;
}

.score p {
  font-size: 10vh;
  color: #FB8360;
  position: absolute;
  top: 45%;
}

.score-container {
  width: 65%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 30%;
  padding-right: 5%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.score-container p {
  font-size: 1.5vw;
  line-height: 3vw;
}

.ranking {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  text-align: center;
}

.rankingHover:hover {
  background-color: #767171;
}

.ask-record-container {
  width: 95%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 5%;
  padding-right: 3%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.ask-record-container p {
  font-size: 1.2vw;
  line-height: 2vw;
}

.ask {
  display: grid;
  grid-template-columns: 15% 40% 25% 15%;
  text-align: center;
}

.askHover:hover {
  background-color: #767171;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left; 
  vertical-align: middle;
}

#showRecord {
  display: none;
  position: fixed;
  padding: 0;
  width: 70%;
  left: 15%;
  top: 10%;
  background: white;
}

.grid {
  background-image: 
    linear-gradient(rgb(251, 217, 18) 1px, transparent 0),
    linear-gradient(90deg, rgb(251, 217, 18) 1px, transparent 0),
    linear-gradient(white 1px, transparent 0),
    linear-gradient(90deg, white 1px, transparent 0);
  background-size: 10px 10px, 10px 10px, 10px 10px, 10px 10px;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width:1200px) {
  .title-box {
    display: none;
  }

  #userinfo {
    display: block;
    position: absolute;
    top: 80px;
    left: 30px;
    line-height: 60px;
    width: 50%;
  }

  #username {
    font-size: 40px;
  }

  #student-number {
    font-size: 30px;
  }

  .circle {
    top: 80px;
    left: 60vw;
    width: 120px;
    height: 120px;
  }

  .upload-icon {
    left: 80vw;
    top: 165px;
  }

  .links {
    width: 18vw;
    font-size: 4vw;
  }

  #game {
    display: none;
  }

  #game-score{
    left: 11vw;
  }

  #ask-record {
    left: 31vw;
  }
  
  #ask {
    left: 51vw;
  }

  #logout {
    left: 71vw;
  }

  .toggle-container {
    left: 11vw;
    width: 80vw;
    top: 300px;
    height: calc(100vh - 330px);
    padding: 5%;
  }

  .score-container {
    display: none;
  }

  .ask p {
    font-size: 13px;
  }

  .ask-link {
    width: 80%;
    padding: 4%;
  }
}