@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

body {
  background-color: #fff9dc;
}

.title-box {
  position: absolute;
  top: 60px;
  width: 100%;
  height: 85px;
  background-color: white;
}

.vertical-line{
  background-color: #7CA7BC;
  width: 5px;
  height: 80%;
  position: absolute;
  left: 7.6vw;
  top: 10%;
}

.eng-title {
  font-size: 28px;
  color: #FB8360;
  position: absolute;
  left: 9.5vw;
  top: 7%;
  font-weight: bold;
}

.ch-title {
  font-size: 17px;
  color: #767171;
  position: absolute;
  left: 9.5vw;
  top: 56%;
}

main {
  position: absolute;
  top: 145px;
  width: 100vw;
  height: calc(100vh - 60px - 85px);
  overflow: hidden;
  background-image: url("底.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 80%;
}

.container {
  position: absolute;
  top: 10%;
  left: 15vw;
  width: 80vw;
  height: 70%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.links {
  background-color: #0163b0;
  width: 30%;
  height: calc(0.3 / 300 * 173);
  border-radius: 13px;
}

.links img {
  width: 100%;
}

.links:hover .captn {
  display: block;
}

.links .captn {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  background-color: #736f6e;
  border-radius: 13px;
}

.captn-title {
  padding: 15px;
  padding-top: 25px;
  font-size: 23px;
  font-weight: bold;
  line-height: 25px;
  text-align: center;
  color: white;
}

.captn-body {
  padding: 10px 20px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: white;
}

#portal {
  position: absolute;
  top: 0%;
  right: 63%;
}

#UST {
  position: absolute;
  top: 0%;
  right: 32%;
}

#LMS {
  position: absolute;
  top: 0%;
  right: 1%;
}

#ee-class {
  position: absolute;
  top: calc(calc(23vw / 300 * 173 + 5vh) * 1);
  right: 63%;
}

#dorm-service {
  position: absolute;
  top: calc(calc(23vw / 300 * 173 + 5vh) * 1);
  right: 32%;
}

#dorm-net {
  position: absolute;
  top: calc(calc(23vw / 300 * 173 + 5vh) * 1);
  right: 1%;
}

#helloNCU {
  position: absolute;
  top: calc(calc(23vw / 300 * 173 + 5vh) * 2);
  right: 63%;
}

#NCUtalk {
  position: absolute;
  top: calc(calc(23vw / 300 * 173 + 5vh) * 2);
  right: 32%;
}

#course {
  position: absolute;
  top: calc(calc(23vw / 300 * 173 + 5vh) * 2);
  right: 1%;
}

#service-learning {
  position: absolute;
  top: calc(calc(23vw / 300 * 173 + 5vh) * 3);
  right: 63%;
}

#equity {
  position: absolute;
  top: calc(calc(23vw / 300 * 173 + 5vh) * 3);
  right: 32%;
}

#plan {
  position: absolute;
  top: calc(calc(23vw / 300 * 173 + 5vh) * 3);
  right: 1%;
}

@media only screen and (max-width:600px) {
  main {
    background-size: 250%;
  }

  .vertical-line {
    left: 40px;
  }

  .eng-title {
    left: 65px;
  }

  .ch-title {
    left: 65px;
  }

  .title-box {
    width: 100vw;
  }

  .container {
    width: 100vw;
    height: calc(100vh - 185px);
    position: absolute;
    top: 20px;
    left: 0;
    padding: 0;
  }

  .links {
    width: 70vw;
    height: calc(70vw / 300 * 173);
  }

  #portal {
    position: absolute;
    top: 0px;
    left: 15vw
  }
  
  #UST {
    position: absolute;
    top: calc((70vw / 300 * 173 + 5vh) * 1);
    left: 15vw;
    }
  
  #LMS {
    position: absolute;
    top: calc((70vw / 300 * 173 + 5vh) * 2);
    left: 15vw;
  }
  
  #ee-class {
    position: absolute;
    top: calc((70vw / 300 * 173 + 5vh) * 3);
    left: 15vw;
  }
  
  #dorm-service {
    position: absolute;
    top: calc((70vw / 300 * 173 + 5vh) * 4);
    left: 15vw;
  }
  
  #dorm-net {
    position: absolute;
    top: calc((70vw / 300 * 173 + 5vh) * 5);
    left: 15vw;
  }
  
  #helloNCU {
    position: absolute;
    top: calc((70vw / 300 * 173 + 5vh) * 6);
    left: 15vw
  }
  
  #NCUtalk {
    position: absolute;
    top: calc((70vw / 300 * 173 + 5vh) * 7);
    left: 15vw;
  }
  
  #course {
    position: absolute;
    top: calc((70vw / 300 * 173 + 5vh) * 8);
    left: 15vw;
  }
  
  #service-learning {
    position: absolute;
    top: calc((70vw / 300 * 173 + 5vh) * 9);
    left: 15vw;
  }
  
  #equity {
    position: absolute;
    top: calc((70vw / 300 * 173 + 5vh) * 10);
    left: 15vw;
  }
  
  #plan {
    position: absolute;
    top: calc((70vw / 300 * 173 + 5vh) * 11);
    left: 15vw;
  }
  
}