@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

body {
  padding: 50px;
  font-family: Noto Sans TC;
  background-color: #fff9dc;
}

.bg {
  position: absolute;
  top: 180px;
  width: 99%;
  height: 76%;
  overflow: hidden;
}

#backgroundi {
  width: 90%;
  height: 100%;
}

.title-box {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 120px;
  background-color: white;
}

.vertical-line{
  background-color: #ffd800;
  width: 5px;
  height: 80px;
  position: absolute;
  left: 150px;
  top: 25px;
}

.eng-title {
  font-size: 30px;
  color: #0163b0;
  position: absolute;
  left: 180px;
  top: 25px;
  font-weight: bold;
}

.ch-title {
  font-size: 18px;
  color: #736f6e;
  position: absolute;
  left: 180px;
  top: 70px;
}

.container {
  position: absolute;
  top: 200px;
  left: 250px;
  width: 1250px;
  height: 440px;
  overflow-x: hidden;
  overflow-y: scroll;
  
}

.links {
  background-color: #0163b0;
  width: 300px;
  height: 173px;
  border-radius: 13px;
}

.links:hover .captn {
  display: block;
}

.links .captn {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  background-color: #736f6e;
  border-radius: 13px;
}

.captn-title {
  padding: 15px;
  padding-top: 25px;
  font-size: 23px;
  font-weight: bold;
  line-height: 25px;
  text-align: center;
  color: white;
}

.captn-body {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: white;
}

#portal {
  position: absolute;
  top: 20px;
  right: 750px;
}

#UST {
  position: absolute;
    top: 20px;
    right: 400px;
}

#LMS {
  position: absolute;
  top: 20px;
  right: 50px;
}

#ee-class {
  position: absolute;
  top: 240px;
  right: 750px;
}

#dorm-service {
  position: absolute;
  top: 240px;
  right: 400px;
}

#dorm-net {
  position: absolute;
  top: 240px;
  right: 50px;
}

#helloNCU {
  position: absolute;
  top: 460px;
  right: 750px;
}

#NCUtalk {
  position: absolute;
  top: 460px;
  right: 400px;
}

#course {
  position: absolute;
  top: 460px;
  right: 50px;
}

#service-learning {
  position: absolute;
  top: 680px;
  right: 750px;
}

