@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

body {
  background-color: #fff9dc;
}

.bg {
<<<<<<< HEAD
  width: 100vw;
  height: calc(100vh - 145px);
  position: absolute;
  top: 145px;
}

.bg img {
  height: 100%;
=======
  background-image: url("底.png");
  background-position: bottom;
  background-repeat: repeat;
  background-size: cover;
  position: absolute;
  top: 20vh;
  width: 80vw;
  height: 80vh;
>>>>>>> b414da17d958df5423618f0f78973019d648aa3d
}

.title-box {
  position: absolute;
  top: 60px;
  width: 100%;
  height: 85px;
  background-color: white;
}

.vertical-line{
  background-color: #7CA7BC;
  width: 5px;
  height: 80%;
  position: absolute;
  left: 103px;
  top: 10%;
}

.eng-title {
  font-size: 28px;
  color: #FB8360;
  position: absolute;
  left: 125px;
  top: 7%;
  font-weight: bold;
}

.ch-title {
  font-size: 17px;
  color: #767171;
  position: absolute;
  left: 125px;
  top: 56%;
}

.container {
  position: absolute;
  top: 180px;
  left: 250px;
  width: 1250px;
  height: 450px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.links {
  background-color: #0163b0;
  width: 300px;
  height: 173px;
  border-radius: 13px;
}

.links:hover .captn {
  display: block;
}

.links .captn {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  background-color: #736f6e;
  border-radius: 13px;
}

.captn-title {
  padding: 15px;
  padding-top: 25px;
  font-size: 23px;
  font-weight: bold;
  line-height: 25px;
  text-align: center;
  color: white;
}

.captn-body {
  padding: 10px 20px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: white;
}

#portal {
  position: absolute;
  top: 0px;
  right: 750px;
}

#UST {
  position: absolute;
    top: 0px;
    right: 400px;
}

#LMS {
  position: absolute;
  top: 0;
  right: 50px;
}

#ee-class {
  position: absolute;
  top: 220px;
  right: 750px;
}

#dorm-service {
  position: absolute;
  top: 220px;
  right: 400px;
}

#dorm-net {
  position: absolute;
  top: 220px;
  right: 50px;
}

#helloNCU {
  position: absolute;
  top: 440px;
  right: 750px;
}

#NCUtalk {
  position: absolute;
  top: 440px;
  right: 400px;
}

#course {
  position: absolute;
  top: 440px;
  right: 50px;
}

#service-learning {
  position: absolute;
  top: 660px;
  right: 750px;
}

#equity {
  position: absolute;
  top: 660px;
  right: 400px;
}

#plan {
  position: absolute;
  top: 660px;
  right: 50px;
}

@media only screen and (max-width:1200px) {
  .bg {
    display: none;
  }

<<<<<<< HEAD
  .title-box {
    width: 100vw;
  }

  .container {
    width: 100vw;
    height: calc(100vh - 185px);
    position: absolute;
    top: 165px;
    left: 0;
    padding: 0;
  }

  #portal {
    position: absolute;
    top: 0px;
    left: calc((100vw - 300px)/2);
  }
  
  #UST {
    position: absolute;
      top: calc(203px * 1);
      left: calc((100vw - 300px)/2);
    }
  
  #LMS {
    position: absolute;
    top: calc(203px * 2);
    left: calc((100vw - 300px)/2);
  }
  
  #ee-class {
    position: absolute;
    top: calc(203px * 3);
    left: calc((100vw - 300px)/2);
  }
  
  #dorm-service {
    position: absolute;
    top: calc(203px * 4);
    left: calc((100vw - 300px)/2);
  }
  
  #dorm-net {
    position: absolute;
    top: calc(203px * 5);
    left: calc((100vw - 300px)/2);
  }
  
  #helloNCU {
    position: absolute;
    top: calc(203px * 6);
    left: calc((100vw - 300px)/2);
  }
  
  #NCUtalk {
    position: absolute;
    top: calc(203px * 7);
    left: calc((100vw - 300px)/2);
  }
  
  #course {
    position: absolute;
    top: calc(203px * 8);
    left: calc((100vw - 300px)/2);
  }
  
  #service-learning {
    position: absolute;
    top: calc(203px * 9);
    left: calc((100vw - 300px)/2);
  }
  
  #equity {
    position: absolute;
    top: calc(203px * 10);
    left: calc((100vw - 300px)/2);
  }
  
  #plan {
    position: absolute;
    top: calc(203px * 11);
    left: calc((100vw - 300px)/2);
  }
  
=======
  .container {
    position: absolute;
    left: 0;
    top: 165px;
    width: 100vw;
    padding: 0;
    height: calc(100vh - 180px);
    overflow-y: scroll;
    overflow-x: scroll;
  }

  .links {
    position: absolute;
  }

  #portal {
    right: calc((100vw - 300px)/2);
    top: 0px;
  }
  
  #UST {
    right: calc((100vw - 300px)/2);
    top: calc(203px * 1);
  }
  
  #LMS {
    right: calc((100vw - 300px)/2);
    top: calc(203px * 2);
  }
  
  #ee-class {
    right: calc((100vw - 300px)/2);
    top: calc(203px * 3);
  }
  
  #dorm-service {
    right: calc((100vw - 300px)/2);
    top: calc(203px * 4);
  }
  
  #dorm-net {
    right: calc((100vw - 300px)/2);
    top: calc(203px * 5);
  }
  
  #helloNCU {
    right: calc((100vw - 300px)/2);
    top: calc(203px * 6);
  }
  
  #NCUtalk {
    right: calc((100vw - 300px)/2);
    top: calc(203px * 7);
  }
  
  #course {
    right: calc((100vw - 300px)/2);
    top: calc(203px * 8);
  }
  
  #service-learning {
    right: calc((100vw - 300px)/2);
    top: calc(203px * 9);
  }
  
  #equity {
    right: calc((100vw - 300px)/2);
    top: calc(203px * 10);
  }
  
  #plan {
    right: calc((100vw - 300px)/2);
    top: calc(203px * 11);
  }
>>>>>>> b414da17d958df5423618f0f78973019d648aa3d
}