body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #0163b0;
}

a {
  color: #00B7FF;
}

.box {
  border: 2px #c9c3c1 solid;
  background-color: white;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 0px;
  left: 510px;
  text-align: center;
}

.link {
  border-bottom: 2px #c9c3c1 solid;
  font-size: 15px;
  width: 250px;
  height: 65px;
  line-height: 65px;
}

.link a {
  color: black;
  text-align: center;
}

#reg_link {
  border-right: 2px #c9c3c1 solid;
}

#login_link {
  position: absolute;
  top: 0;
  right: 0;
}

#reg_link_click {
  border-right: 2px #c9c3c1 solid;
  background-color: #FFFDF1;
}

#login_link_click {
  border-left: 2px #c9c3c1 solid;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FFFDF1;
}

#input_area {
  position: absolute;
  width: 300px;
  height: 375px;
  top: 95px;
  left: 100px;
  overflow: hidden;
}

#input_area input {
  line-height: 15px;
  margin: 10px;
}