body{
  background-image: url("/index/首頁1_small.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box {
  border: 2px #c9c3c1 solid;
  background-color: white;
  width: 50%;
  position: absolute;
  left: 25%;
  text-align: center;
}

#login_box {
  height: 60vh;
}

#reg_box {
  height: 60vh;
}

.loglink {
  border-bottom: 2px #c9c3c1 solid;
  font-size: 15px;
  width: 50%;
  height: 10vh;
  line-height: 50px;
}

.loglink a {
  color: black;
  text-align: center;
  line-height: 10vh;
}

#reg_link {
  border-right: 2px #c9c3c1 solid;
}

#login_link {
  position: absolute;
  top: 0;
  right: 0;
}

#reg_link_click {
  border-right: 2px #c9c3c1 solid;
  background-color: #FFFDF1;
}

#login_link_click {
  border-left: 2px #c9c3c1 solid;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FFFDF1;
}

#input_area {
  position: absolute;
  width: 80%;
  height: 45vh;
  top: 15vh;
  left: 10%;
  overflow: hidden;
}

#input_area input {
  line-height: 30px;
  margin-top: 5%;
}

.box button {
  background-color: #0163b0;
  border: none;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
  font-size: 15px;
  position: absolute;
  bottom: 8%;
  right: 10%;
}

@media only screen and (max-width:1200px) {
  body {
    background-image: url("/index/首頁1手機背景.png");
  }

  .box {
    width: 80%;
    left: 10%;
  }
}