<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <% include ../layouts/head %>
        <% include ../layouts/script %>
            <link rel='stylesheet' href='/groups/style.css' />
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body>
    <% include ../layouts/header %>

        <div class="title_bar">

            <div class="line"></div>
            <div class="title">
                <h1>ASSOCIATION<br><span class="small_title">學生會</span></h1>
            </div>
        </div>
        <div class="sidebar">
            <ul>
                <li class="sideli"><i class="fas fa-angle-right"></i>簡介</li>
                <li class="sideli"><i class="fas fa-angle-right"></i>部門介紹</li>
                <li class="sideli"><i class="fas fa-angle-right"></i>活動剪影</li>
            </ul>
        </div>
        <script src="/groups/js/groups.js"></script>

        <% include ../layouts/js %>
</body>

</html>