<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../layouts/head %>
    <% include ../layouts/script %>
    <link rel='stylesheet' href='/groups/style.css' />
  </head>
  <body>
      <nav class="navBar seaBlueBg">新生資訊網</nav>
      <div class="title_bar">
       
            <div class="line"></div>
            <div class="title">
              <h1>ASSOCIATION<br><span class="small_title">學生會</span></h1></div>
          </div>
          <% include ../layouts/js %>
  </body>
</html>