<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <% include ../layouts/head %>
        <% include ../layouts/script %>
            <link rel='stylesheet' href='/groups/style.css' />
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body class="yellowBg">
    <% include ../layouts/header %>

        <div class="title_bar">

            <div class="line"></div>
            <div class="title">
                <h1>ASSOCIATION<br><span class="small_title">學生會</span></h1>
            </div>
        </div>
        <div class="sidebar">
            <ul>
                <a style="text-decoration:none; color: #0D4966;" href="/association/intro">
                    <li class="sideli"><i class="fas fa-angle-right"></i>簡介</li>
                </a>
                <a style="text-decoration:none; color: #0D4966;" href="/association/section">
                    <li class="sideli"><i class="fas fa-angle-right"></i>部門介紹</li>
                </a>
                <a style="text-decoration:none; color: #0D4966;" href="/association/photos">
                    <li class="sideli"><i class="fas fa-angle-right"></i>活動剪影</li>
                </a>
            </ul>
        </div>
        <% if (content_this==="intro") { %>

            <div class="info">
                <div class="title">
                    簡介
                </div>
                <div class="content">
                    <% content[0].intro%>
                </div>

            </div>
            <% } else if(content_this==="section"){ %>
                <div class="info">
                    <div class="title">
                        部門介紹
                    </div>
                    <div class="content">
                        <% content[0].section%>
                    </div>

                </div>
                <% } else if(content_this==="photos"){ %>


                    <% } 
        <img src="學生會.PNG" class=backgroundimg>

        <script src="/groups/js/groups.js "></script>

        <% include ../layouts/js %>
</body>

</html>