<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <% include ../layouts/head %>
        <% include ../layouts/script %>
            <link rel='stylesheet' href='/groups/style.css' />
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>

<body>
    <% include ../layouts/header %>

        <div class="title_bar">

            <div class="line"></div>
            <div class="title">
                <h1>COMMUNITY<br><span class="small_title">社群</span></h1>
            </div>
        </div>
        <div class="buttons">
            <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#add">
                新增社群
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="＃edit_delete">
                編輯/刪除社群
            </button>
        </div>

        <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Community</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/groups/add_department" method="post">
                            <div class="form-group">
                                <label for="name" class="col-form-label">社群名稱</label>
                                <input type="text" class="form-control" id="name" name="name">
                            </div>

                            <div class="form-group">
                                <label for="intro" class="col-form-label">社群介紹</label>
                                <textarea class="form-control" id="intro" name="intro" rows="8"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="edit_delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">edit&delete</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body">
                        <form action="/groups/add_department" method="post">
                            <div class="form-group">
                                <label for="name" class="col-form-label">社群名稱</label>
                                <input type="text" class="form-control" id="name" name="name">
                            </div>

                            <div class="form-group">
                                <label for="intro" class="col-form-label">社群介紹</label>
                                <textarea class="form-control" id="intro" name="intro" rows="8"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                                <button type="submit" class="btn btn-primary">delete</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="sidebar">
            <ul>
                <li class="sideli"><i class="fas fa-angle-right"></i>中央創遊
                </li>
                <li class="sideli"><i class="fas fa-angle-right"></i>好聚好散
                </li>
                <li class="sideli"><i class="fas fa-angle-right"></i>肆倆重
                </li>
                <li class="sideli"><i class="fas fa-angle-right"></i>中央資管大數據暨<br>&#160&#160&#160程式開發研究社
                </li>
                <li class="sideli"><i class="fas fa-angle-right"></i>Nature Fun
                </li>
                <li class="sideli"><i class="fas fa-angle-right"></i>PRACTICEs
                </li>
                <li class="sideli"><i class="fas fa-angle-right"></i>耕新報
                </li>
                <li class="sideli"><i class="fas fa-angle-right"></i>Fun青松
                </li>
                <li class="sideli"><i class="fas fa-angle-right"></i>DREAMs
                </li>
                <li class="sideli"><i class="fas fa-angle-right"></i>新興催化劑
                </li>
                <li class="sideli"><i class="fas fa-angle-right"></i>INNOGRATION
                </li>
                <li class="sideli"><i class="fas fa-angle-right"></i>中央阿卡貝拉社
                </li>
                <li class="sideli"><i class="fas fa-angle-right"></i>中央大學英嘴社
                </li>

            </ul>
        </div>
        <script src="/groups/js/groups.js"></script>

        <% include ../layouts/js %>
</body>

</html>