<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <% include ../layouts/head %>
        <% include ../layouts/script %>
            <link rel='stylesheet' href='/groups/style.css' />
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body>
    <% include ../layouts/header %>

        <div class="title_bar">
            <div class="line"></div>
            <div class="title">
                <h1>DEPARTMENT<br><span class="small_title">系所</span></h1>
            </div>
        </div>
        <div class="sidebar">
            <ul>
                <li class="sideli ind"><i class="fas fa-angle-right"></i>工學院</li>
                <li class="sideli chi"><i class="fas fa-angle-right"></i>文學院</li>
                <li class="sideli the"><i class="fas fa-angle-right"></i>理學院</li>
                <li class="sideli dick"><i class="fas fa-angle-right"></i>地球科學學院</li>
                <li class="sideli haka"><i class="fas fa-angle-right"></i>客家學院</li>
                <li class="sideli ie"><i class="fas fa-angle-right"></i>資訊電機學院</li>
                <li class="sideli man"><i class="fas fa-angle-right"></i>管理學院</li>
                <li class="sideli hp"><i class="fas fa-angle-right"></i>生醫理工學院</li>
            </ul>
        </div>


        <%for (let q = 1 ;q<=8;q++){%>
            <div class="sidebar2">
                <ul>

                    <% for(var i in department) {%>
                        <!-- 跑過所有系所-->
                        <% if(department[i].type == q) {%>
                            <!-- 只秀出正確系所的a名稱-->
                            <li class="sideli"><i class="fas fa-angle-right">department[i].name</i></li>
                            <%}%>
                                <%}%>

                </ul>
            </div>
            <%}%>
                <% for(var i in department) {%>
                    <div class="de-info">
                        <div class="department">department[i].name</div>>
                        <div class="de-en">department[i].name_en</div>>
                        <div class="linkbuttons">
                            <div>
                                <a href="<%= department[i].de_link%>">系所</a>
                            </div>
                            <div>
                                <a href="<%= department[i].stu_link%>">系學會</a>
                            </div>
                            <div>
                                <a>系上問答</a>
                            </div>
                        </div>
                    </div>
                    <%}%>



                        <script src="/groups/js/groups.js"></script>


                        <% include ../layouts/js %>

</body>

</html>