<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <% include ../layouts/head %>
    <% include ../layouts/script %>
    <link rel='stylesheet' href='/groups/style.css' />
</head>

<body>
    <nav class="navBar seaBlueBg">新生資訊網</nav>
    <div class="title_bar">
        <div class="line"></div>
        <div class="title">
            <h1>DEPARTMENT<br><span class="small_title">系所</span></h1>
        </div>
    </div>
    <div>
        <ul>
            <li><i class="fa-angle-right"></i>全部問題</li>
            <li><i class="fa-angle-right"></i>校園生活</li>
            <li><i class="fa-angle-right"></i>課程相關</li>
            <li><i class="fa-angle-right"></i>學生事務</li>
            <li><i class="fa-angle-right"></i>其他</li>
        </ul>
    </div>
    <% include ../layouts/js %>
</body>

</html>