<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <% include ../layouts/head %>
        <% include ../layouts/script %>
            <link rel='stylesheet' href='/groups/style.css' />
</head>

<body class="seaBlueBg">
    <% include ../layouts/header %>

        <div class="container">
            <div class="character">
                <a class="astyle" style="text-decoration:none;color :white;" href="/groups/department"><img src="department.PNG" class="buttonimg"><br>系所</a>
            </div>
            <div class="character">
                <a class="astyle" style="text-decoration:none;color :white;" href="http://club.adm.ncu.edu.tw/clubs"><img src="club.PNG" class="buttonimg"><br>社團</a>
            </div>
            <div class="character">
                <a class="astyle" style="text-decoration:none;color :white;" href="/groups/association"><img src="association.PNG" class="buttonimg"><br>學生會</a>
            </div>


        </div>
        <div class="container2">
            <div class="character">
                <a class="astyle" style="text-decoration:none;color :white;" href="/groups/community"><img src="community.PNG" class="buttonimg"><br>社群</a>
            </div>
            <div class="character">
                <a class="astyle" style="text-decoration:none;color :white;" href="/groups/others"><img src="others.PNG" class="buttonimg"><br>其他學生組織</a>
            </div>
        </div>
        <% include ../layouts/js %>
</body>

</html>