    body {
        font: "Lucida Grande", Helvetica, Arial, sans-serif;
        overflow: hidden
    }
    
    * {
        border: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    
    .myMOUSE {
        cursor: pointer;
    }
    
    h1 {
        color: #FB8360;
        font-size: 28px
    }
    
    div {
        display: block;
    }
    
    .seaBlueBg {
        background-color: #0D4966;
    }
    
    .fa-angle-right {
        font-size: 1.3em;
        position: relative;
        top: 3px;
        margin-right: 6px;
        display: none;
    }
    
    .yellowBg {
        background-color: #fff9dc
    }
    
    .grayBg {
        background-color: #D0CECE;
    }
    
    .astyle {
        color: white;
        font-size: 4vw;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.6s;
    }
    
    .astyle:hover {
        transform: scale(1.4);
    }
    
    .backgroundimg {
        position: fixed;
        top: 20vh;
        right: 1vw;
        max-width: 60vw;
        height: inherit;
        overflow: hidden;
        z-index: -1;
    }
    /*--------------------------------------------------------index------------------------------------------------------*/
    
    .container {
        border: 0px;
        padding: 0px;
        right: 0px;
        left: 0px;
        position: fixed;
        top: 10vh;
        width: 100%;
        text-align: center;
    }
    
    .container2 {
        position: fixed;
        bottom: 5vh;
        width: 100%;
        text-align: center;
    }
    
    .character {
        position: relative;
        display: inline-block;
        vertical-align: top;
        color: white;
        text-align: center;
        font-size: 1vw;
    }
    
    .buttonimg {
        height: 15vw;
        width: inherit;
        border: #D0CECE 5px;
        transition: all 0.6s;
    }
    
    .buttonimg:hover {
        transform: scale(1.4);
    }
    /*-----------------------------------------------------------title------------------------------------------------------*/
    
    .title_bar {
        background-color: white;
        height: 85px;
        width: 100%;
    }
    
    .title {
        position: relative;
        left: 100px;
        margin: 5px 10px 30px 10px;
        float: left;
    }
    
    .line {
        position: relative;
        left: 100px;
        top: 8.5px;
        height: 80%;
        width: 0px;
        border-color: #7CA7BC;
        border-style: solid;
        border-width: 5px;
        float: left;
        margin: auto;
        align-items: center;
    }
    
    .small_title {
        color: #767171;
        font-size: 17px;
    }
    /*----------------------------------------------------listbar-------------------------------------------------------------*/
    
    .sidebar {
        left: 5vw;
        position: fixed;
        height: 600px;
        width: auto;
        font-size: 2.5vw;
        color: #0D4966;
        overflow: auto;
        font-weight: lighter;
        /*
        font-weight: bold;
        */
    }
    
    .sidebar2 {
        left: 25vw;
        position: fixed;
        height: 600px;
        width: auto;
        font-size: 2.5vw;
        color: #0D4966;
        overflow: auto;
        font-weight: lighter;
    }
    
    ul {
        display: block;
        list-style-type: none;
    }
    
    .sideli {
        line-height: 40px;
        margin-top: 3vh;
        font-weight: lighter;
    }
    
    .sideli:hover {
        background-color: #ec6d4f
    }
    /*---------------------------------------------edit---------------------------------------------------*/
    
    .buttons {
        position: fixed;
        bottom: 5vh;
        right: 5vw;
        font-size: 2vw
    }
    /*--------------------------------------------info--------------------------------------------------------*/
    
    .de-info {
        font-size: 3vw;
        position: fixed;
        width: 60vw;
        top: 30vh;
        right: 1vw;
        text-align: center
    }
    
    .info {
        position: fixed;
        font-size: 4vw;
        text-align: center;
        width: 60vw;
        height: 70vh;
        top: 20vh;
        right: 10vw;
        background-color: khaki
    }
    
    .linkimg {
        width: 15vw;
        height: inherit;
    }
    
    .de-en {
        font-size: 2vw;
    }
    
    .linkbuttons {
        position: relative;
        top: 20vh
    }
    
    .link {
        text-align: center;
        font-size: 2vw;
        position: absolute;
        top: 5vh;
        left: 5vw;
        color: #0D4966;
    }