    body {
        font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
    }
    
    * {
        border: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    
    .myMOUSE {
        cursor: pointer;
    }
    
    h1 {
        color: #fc9375;
    }
    
    .seaBlueBg {
        background-color: #0D4966;
    }
    
    .yellowBg {
        background-color: #fff9dc
    }
    
    .grayBg {
        background-color: #D0CECE;
    }
    
    .astyle {
        color: white;
        font-size: 40px;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.6s;
    }
    
    .astyle:hover {
        transform: scale(1.4);
    }
    
    .navBar {
        top: 0px;
        left: 0px;
        width: 100%;
        color: white;
        position: absolute;
        height: 100px;
        line-height: 60px;
        border-bottom: 1px white solid;
        font-family: 'Courier New', Courier, monospace
    }
    
    .container {
        margin-left: 200px;
        margin-top: 100px;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        text-align: center;
    }
    
    .container2 {
        margin-left: 400px;
        display: grid;
        grid-template-columns: 30% 30%;
        text-align: center;
    }
    
    .character {
        position: relative;
        display: inline-block;
        vertical-align: top;
        color: white;
        text-align: center;
    }
    
    div {
        display: block;
    }
    
    .fa-angle-right {
        font-size: 1.3em;
        position: relative;
        top: 3px;
        margin-right: 6px;
        display: none;
    }
    
    .buttonimg {
        width: 250px;
        height: 250px;
        border: #D0CECE 5px;
    }
    
    .title {
        height: 50px;
        width: 300px;
        margin: 5px 10px 30px 10px;
        float: left;
    }
    
    .line {
        height: 70px;
        width: 0px;
        border-color: #7cacbc;
        border-style: solid;
        border-width: 5px;
        margin-top: 20px;
        margin-right: 10px;
        float: left;
    }
    
    div img {
        cursor: pointer;
        transition: all 0.6s;
    }
    
    div img:hover {
        transform: scale(1.4);
    }
    
    .small_title {
        color: #a4a1a1;
        font-size: 30px;
    }
    
    .title_bar {
        margin-left: 25px;
        margin-top: 10px;
        height: 70px;
        width: 100%;
        margin-bottom: 30px;
    }
    
    .sidebar {
        margin-left: 50px;
        position: fixed;
        height: 600px;
        width: 230px;
        font-size: 30px;
        color: #0D4966;
        overflow: auto;
        font-weight: lighter;
        /*
        font-weight: bold;
        */
    }
    
    ul {
        display: block;
        list-style-type: none;
    }
    
    .sideli {
        line-height: 40px;
        margin-top: 20px;
    }
    
    .sideli2 {
        line-height: 40px;
        margin-top: 20px;
        font-weight: lighter;
    }
    
    .sideli:hover {
        background-color: #FFCC00;
        cursor: pointer;
    }
    
    .sideli2:hover {
        background-color: #FFCC00;
        cursor: pointer;
    }
    
    .sidebar2 {
        margin-left: 350px;
        position: fixed;
        height: 600px;
        width: 400px;
        font-size: 30px;
        color: #0D4966;
        overflow: auto;
        font-weight: lighter;
    }
    
    .buttons {
        position: fixed;
        top: 120px;
        left: 350px;
    }
    
    .de-info {
        font-size: 40px;
        position: fixed;
        top: 350px;
        right: 50px;
        text-align: center
    }
    
    .info {
        position: fixed;
        font-size: 40px;
        text-align: center;
        top: 200px;
        right: 400px;
    }
    
    .backgroundimg {
        position: fixed;
        top: 130px;
        right: 10px;
        max-width: 900px;
        height: inherit;
        overflow: hidden;
    }