    body {
        font: "Lucida Grande", Helvetica, Arial, sans-serif;
        scroll-behavior: smooth;
        overflow: scroll;
        moz-user-select: none;
        -webkit-user-select: none;
    }
    
    * {
        border: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    
    .myMOUSE {
        cursor: pointer;
    }
    
    h1 {
        color: #FB8360;
        font-size: 28px
    }
    
    div {
        display: block;
    }
    
    .seaBlueBg {
        background-color: #0D4966;
    }
    
    .fa-angle-right {
        font-size: 1.3em;
        position: relative;
        top: 3px;
        margin-right: 6px;
        display: none;
    }
    
    .yellowBg {
        background-color: #fff9dc
    }
    
    .grayBg {
        background-color: #D0CECE;
    }
    
    .backgroundimg {
        position: absolute;
        top: 17vh;
        width: 60vw;
        right: 1vw;
        z-index: -1;
    }
    /*--------------------------------------------------------index------------------------------------------------------*/
    
    .container {
        border: 0px;
        padding: 0px;
        right: 0px;
        left: 0px;
        position: absolute;
        top: 20vh;
        width: 100%;
        text-align: center;
    }
    
    .container2 {
        position: absolute;
        top: 55vh;
        width: 100%;
        text-align: center;
    }
    
    .character {
        position: relative;
        display: inline-block;
        vertical-align: top;
        color: white;
        text-align: center;
    }
    
    .buttonimg {
        height: 15vw;
        width: inherit;
        border: #D0CECE 5px;
        transition: all 0.6s !important;
    }
    
    .buttonimg:hover {
        transform: scale(1.3)!important;
    }
    
    a.indexa {
        color: white;
        font-size: 2.5vw;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.6s !important;
    }
    /*-----------------------------------------------------------title------------------------------------------------------*/
    
    .title_bar {
        background-color: white;
        height: 85px;
        width: 100%;
    }
    
    .title {
        position: relative;
        left: 100px;
        margin: 5px 10px 30px 10px;
        float: left;
        width: 10vw;
    }
    
    .line {
        position: relative;
        left: 102px;
        top: 8.5px;
        height: 80%;
        width: 0px;
        border-right: 5px solid #7CA7BC;
        float: left;
        margin: auto;
        align-items: center;
    }
    
    .small_title {
        color: #767171;
        font-size: 17px;
    }
    
    #cuttingline {
        width: 60vw;
        position: absolute;
        top: 45px;
        left: 15vw;
    }
    
    a.nava {
        position: absolute;
        color: #0D4966;
        font-size: 1.2vw;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        transition: all 0.6s;
    }
    
    a.nava:hover {
        transform: scale(1.3);
    }
    
    .navimg {
        height: 6vh;
    }
    /*----------------------------------------------------listbar-------------------------------------------------------------*/
    
    .sidebar {
        left: 2.5vw;
        position: absolute;
        height: auto;
        width: auto;
        padding-left: 2vw;
        font-size: 2vw;
        color: rgb( 32, 56, 100);
        overflow: auto;
        font-weight: lighter;
        /*
        font-weight: bold;
        */
    }
    
    .sidebar2 {
        left: 22vw;
        position: absolute;
        height: auto;
        width: auto;
        font-size: 2vw;
        color: rgb( 32, 56, 100);
        overflow: auto;
        font-weight: lighter;
    }
    
    ul {
        display: block;
        list-style-type: none;
    }
    
    .sideli {
        line-height: 40px;
        margin-top: 3vh;
        font-weight: lighter;
        padding-left: 1vw;
        padding-right: 1vw
    }
    
    .sideli:hover {
        background-color: rgb(251, 217, 185)
    }
    /*---------------------------------------------edit---------------------------------------------------*/
    
    .buttons {
        position: absolute;
        bottom: 5vh;
        right: 5vw;
        font-size: 2vw
    }
    /*--------------------------------------------info--------------------------------------------------------*/
    
    .de-info {
        font-size: 3vw;
        position: absolute;
        width: 50vw;
        top: 30vh;
        right: 1vw;
        text-align: center;
        height: 60vh
    }
    
    .info {
        position: absolute;
        font-size: 4vw;
        text-align: center;
        width: 60vw;
        height: 70vh;
        top: 20vh;
        right: 10vw;
        background-color: #FFFDF1
    }
    
    .info-line {
        width: 20vw;
        height: 0.5vh;
        background-color: #0D4966;
        position: relative;
        left: 15vw;
        top: 1vh;
    }
    
    .cutline {
        width: 20vw;
    }
    
    .linkimg {
        position: relative;
        width: 15vw;
        height: inherit;
        margin: auto
    }
    
    .de-en {
        font-size: 2vw;
    }
    
    .linkbuttons {
        position: relative;
        top: 10vh
    }
    
    .character a .link {
        text-align: center;
        font-size: 2vw;
        position: absolute;
        top: 7vh;
        left: 5vw;
        color: #0D4966;
    }