<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <% include ../layouts/head %>
  <link rel='stylesheet' href='/login/style.css' />
</head>

<body>
  <% include ../layouts/header%>
  <div class="bg">
    <main style="position: relative; top: 80px;">
      <form method="post" action="/login">
        <div class="box" id="login_box">
            <a href="/">
              <div class="close" style="width: 40px; height: 40px;">
                <p style="font-size: 40px;">&times;</p>
              </div>
            </a>

          <div class="loglink" id="login_link">
            <p>帳號登入 / 註冊</p>
          </div>

          <div id="input_area">
            <% if(error.length) { %>
              <p style="color: red; font-weight: bold;"><%- error[0] %></p>
            <% } %>
            <input type="text" placeholder="學號" name="id" id="student_id" required /><br>
          </div>

          <div id="box-footer">
            <button type="submit" value="submit" name="regist">登入</button>
          </div>
          
         </div>
      </form>
    </main>
  </div>
  <% include ../layouts/js %>
  <% include js %>
</body>

</html>