<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <% include ../layouts/head %>
  <% include ../layouts/script %>
  <link rel='stylesheet' href='/login/style.css' />
</head>

<body>
  <% include ../layouts/header%>
  <main style="position: relative; top: 80px;">
    <form method="post" action="/login" onsubmit="return checklength()">
      <div class="box" id="login_box">

        <div class="link" id="reg_link_click">
          <a href="/register">註冊帳號</a>
        </div>
        <div class="link" id="login_link">
          <a href="/login">帳號登入</a>
        </div>

        <div id="input_area">
          <input type="text" placeholder="學號" name="id" id="student_id" required /><br>
          <input type="password" placeholder="密碼" name="password" required /><br>
          <input type="submit" value="submit">
        </div>

      </div>
    </form>
  </main>
  <% include ../layouts/js %>
  <% include js %>
</body>

</html>