<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <% include ../layouts/head %>
  <% include ../layouts/script %>
  <link rel='stylesheet' href='/login/style.css' />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/2.0.5/velocity.min.js"
    integrity="sha256-NtPQd/Jy7Ze2E72YS8WJDGMu6xFYomLYibE0hpyLTjs=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/2.0.5/velocity.ui.min.js"
    integrity="sha256-PgWe5aqC6kRlL/L8+bvHr7FQ+m8Tq8O9tVZP3fAXTHU=" crossorigin="anonymous"></script>
</head>

<body>
  <h1> student id: <%= id %> </h1>
  <form method="post" action="/login" onsubmit="return checklength()">
    <input type="text" name="id" id="student_id" required />
    <input type="password" name="password" />
    <input type="submit" value="submit" />
  </form>
  <form method="post" action="/register"">
      <input type=" text" name="123" />
  </form>

  <% include ../layouts/js %>
  <% include js %>
</body>

</html>