<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <% include ../layouts/head %>
  <% include ../layouts/script %>
  <link rel='stylesheet' href='/login/style.css' />
</head>

<body>
  <% include ../layouts/header%>
  <main style="position: relative; top: 80px;">
    <form method="post" action="/register" onsubmit="login()">
      <div class="box" id="reg_box">
        
        <div class="link" id="reg_link">
          <a href="/register">註冊帳號</a>
        </div>
        <div class="link" id="login_link_click">
          <a href="/login">帳號登入</a> 
        </div>

        <div id="input_area">
            <input type="text" placeholder="姓名 (驗證用, 請填真實姓名)" name="name" required /><br>
            <input type="text" placeholder="電子信箱" name="mail" required /><br>
            <input type="password" placeholder="密碼" name="password" required /><br>
            <input type="password" placeholder="確認密碼" name="checkpassword" required /><br>
            <input type="hidden" name="id" />
        </div>

        <button type="submit" value="submit" name="regist">> 送出</button>
        
      </div>
      
    </form>
  </main>
  <% include ../layouts/js %>
  <% include js %>
</body>

</html>