<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <% include ../layouts/head %>
    <% include ../layouts/script  %>
    <link rel='stylesheet' href='/video/style.css' />
</head>

<body>
    <% include ../layouts/header %>

    <main>
        <%/* 標題 */%>
        <% include ./title_bar %>

        <img src="/video/小珊瑚.png" class="picture_left">

        <% if(title_bar[2] == null){ %>
            <% if(title_bar[0] === 'LIFE'){ %>
                <%/* 食住行育樂縮圖連結 */%>
                <div class="button_area">
                    <a href="eating">
                        <img src="/video/button/中大生活_食.png" class="v_button">  
                    </a>
                    <a href="living">
                        <img src="/video/button/中大生活_住.png" class="v_button"> 
                    </a>
                    <a href="going">
                        <img src="/video/button/中大生活_食.png" class="v_button">  
                    </a>
                    <a href="education">
                        <img src="/video/button/中大生活_育.png" class="v_button"> 
                    </a>
                    <a href="joy">
                        <img src="/video/button/中大生活_樂.png" class="v_button">
                    </a>
                </div>
            <% }else if(title_bar[0] === 'INTERVIEW'){ %>
                <%/* 各學院縮圖連結 */%>
                <div class="button_area">
                    <a href="engineering/">
                        <img src="/video/工院.jpg" class="v_button">   
                    </a>
                    <a href="lit/">
                        <img src="/video/文院.jpg" class="v_button">
                    </a>
                    <a href="chst/">
                        <img src="/video/生醫.jpg" class="v_button">
                    </a>
                    <a href="escollege/">
                        <img src="/video/地科院.jpg" class="v_button">
                    </a>
                    <a href="hakka_college/">
                        <img src="/video/客院.jpg" class="v_button">
                    </a>
                    <a href="science/">
                        <img src="/video/理院.jpg" class="v_button">
                    </a>
                    <a href="ceecs/">
                        <img src="/video/資電.jpg" class="v_button">
                    </a>
                    <a href="mgt/">
                        <img src="/video/管院.jpg" class="v_button">
                    </a>
                </div>
            <% }else if(title_bar[0] === 'LEGEND'){ %>
                <%/* 中大傳說影片縮圖連結 */%>
                <div class="button_area">
                    <a href="100challenge">
                        <img src="/video/button/中大傳說_100元.png" class="v_button">  
                    </a>
                    <a href="mustdo">
                        <img src="/video/button/中大傳說_大學必做.png" class="v_button">
                    </a>
                    <a href="underfloor">
                        <img src="/video/button/中大傳說_地下室.png" class="v_button">  
                    </a>
                    <a href="breakfast">
                        <img src="/video/button/中大傳說_早餐.png" class="v_button">
                    </a>
                    <a href="lover">
                        <img src="/video/button/中大生活_食.png" class="v_button">  
                    </a>
                </div>
            <% } %>

        <% }else if(title_bar[2] != null && title_bar[0] === 'INTERVIEW'){ %>
            <%/* 系所縮圖連結 */%>
            <div class="button_area">
                <% if(title_bar[3] === '管理學院'){ %>
                    <a href="ba">
                        <img src="/video/button/企管系.png" class="v_button">
                    </a>
                    <a href="im">
                        <img src="/video/button/資管系.png" class="v_button">
                    </a>
                    <a href="fm">
                        <img src="/video/button/財金系.png" class="v_button">
                    </a>
                    <a href="ec">
                        <img src="/video/button/經濟系.png" class="v_button">
                    </a>
                <% }else if(title_bar[3] === '工學院'){ %>
                    <a href="cme">
                        <img src="/video/button/化材系.png" class="v_button">
                    </a>
                    <a href="cv">
                        <img src="/video/button/土木系.png" class="v_button">
                    </a>
                    <a href="me">
                        <img src="/video/button/機械系.png" class="v_button">
                    </a>
                    <a href="ipe">
                        <img src="/video/button/工學院學士班.png" class="v_button">
                    </a>
                <% }else if(title_bar[3] === '文學院'){ %>
                    <a href="chinese">
                        <img src="/video/button/中文系.png" class="v_button">
                    </a>
                    <a href="english">
                        <img src="/video/button/英文系.png" class="v_button">
                    </a>
                    <a href="fr">
                        <img src="/video/button/法文系.png" class="v_button">
                    </a>
                <% }else if(title_bar[3] === '生醫理工學院'){ %>
                    <a href="ls">
                        <img src="/video/button/生科系.png" class="v_button">
                    </a>
                    <a href="dbse">
                        <img src="/video/button/生醫系.png" class="v_button">
                    </a>
                <% }else if(title_bar[3] === '地球科學學院'){ %>
                    <a href="gep">
                        <img src="/video/button/地科系.png" class="v_button">
                    </a>
                    <a href="atm">
                        <img src="/video/button/大氣系.png" class="v_button">
                    </a>
                <% }else if(title_bar[3] === '客家學院'){ %>
                    <a href="hakka">
                        <img src="/video/button/客家系.png" class="v_button">
                    </a>
                <% }else if(title_bar[3] === '理學院'){ %>
                    <a href="jspcos">
                        <img src="/video/button/理學院學士班.png" class="v_button">
                    </a>
                    <a href="phy">
                        <img src="/video/button/物理系.png" class="v_button">
                    </a>
                    <a href="math">
                        <img src="/video/button/數學系.png" class="v_button">
                    </a>
                    <a href="chem">
                        <img src="/video/button/化學系.png" class="v_button">
                    </a>
                    <a href="dop">
                        <img src="/video/button/光電系.png" class="v_button">
                    </a>
                <% }else if(title_bar[3] === '資訊電機學院'){ %>
                    <a href="ipeecs">
                        <img src="/video/button/資電院學士班系.png" class="v_button">
                    </a>
                    <a href="ee">
                        <img src="/video/button/電機系.png" class="v_button">
                    </a>
                    <a href="csie">
                        <img src="/video/button/資工系.png" class="v_button">
                    </a>
                    <a href="ce">
                        <img src="/video/button/通訊系.png" class="v_button">
                    </a>
                <% } %>
            </div>
        <% } %>

        <img src="/video/大珊瑚.png" class="picture_right">


        <script>
        // 還是加一下進入判斷好了，控制台會玩壞他
        //小於768變手機
        var orignURL = location.pathname;
        var newURL = orignURL.replace(/index_com/g, 'index_smp');

        //alert(newURL);

        $(document).ready(function(){
            var width;
            if(innerWidth > outerWidth)
                width = outerWidth;
            else
                width = innerWidth;
            if(width <= 768)
                document.location.href = newURL;
           $(window).resize(function(){
                if(innerWidth > outerWidth)
                    width = outerWidth;
                else
                    width = innerWidth;
                if(width <= 768)
                    document.location.href = newURL;
            });
        });

        /*應該不需要判斷進入網頁的狀況
        //小於768變手機
        var orignURL = location.pathname;
        var newURL = orignURL.replace(/index_com/g, 'index_smp');

        //alert(newURL);

        $(document).ready(function(){
            $(window).resize(function(){
                var width = innerWidth;
                if(width <= 768){
                  document.location.href = newURL;
                }
            });
        });
        */
        </script>

    </main>
</body>
<% include ../layouts/js %>

</html>