<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <% include ../layouts/head %>
    <link rel='stylesheet' href='/video/video.css' />
</head>

<body>
    <% include ../layouts/header %>

    <main>
        <%/* 標題 */%>
        <% include ./title_bar %>

        <img src="/video/小珊瑚.png" class="picture_left">

        <% if(title_bar[2] == null){ %>
            <% if(title_bar[0] === 'LIFE'){ %>
                <%/* 食住行育樂縮圖連結 */%>
                <div class="button_area">
                    <a href="eating" class="button">
                        <img src="/video/button/中大生活_食.png" class="img_button">  
                    </a>
                    <a href="living" class="button">
                        <img src="/video/button/中大生活_住.png" class="img_button"> 
                    </a>
                    <a href="going" class="button">
                        <img src="/video/button/中大生活_行.png" class="img_button">  
                    </a>
                    <a href="education" class="button">
                        <img src="/video/button/中大生活_育.png" class="img_button"> 
                    </a>
                    <a href="joy" class="button">
                        <img src="/video/button/中大生活_樂.png" class="img_button">
                    </a>
                </div>
            <% }else if(title_bar[0] === 'INTERVIEW'){ %>
                <%/* 各學院縮圖連結 */%>
                <div class="button_area">
                    <a href="engineering/" class="button">
                        <img src="/video/工院.jpg" class="img_button">   
                    </a>
                    <a href="lit/" class="button">
                        <img src="/video/文院.jpg" class="img_button">
                    </a>
                    <a href="chst/" class="button">
                        <img src="/video/生醫.jpg" class="img_button">
                    </a>
                    <a href="escollege/" class="button">
                        <img src="/video/地科院.jpg" class="img_button">
                    </a>
                    <a href="hakka_college/" class="button">
                        <img src="/video/客院.jpg" class="img_button">
                    </a>
                    <a href="science/" class="button">
                        <img src="/video/理院.jpg" class="img_button">
                    </a>
                    <a href="ceecs/" class="button">
                        <img src="/video/資電.jpg" class="img_button">
                    </a>
                    <a href="mgt/" class="button">
                        <img src="/video/管院.jpg" class="img_button">
                    </a>
                </div>
            <% }else if(title_bar[0] === 'LEGEND'){ %>
                <%/* 中大傳說影片縮圖連結 */%>
                <div class="button_area">
                    <a href="100challenge" class="button">
                        <img src="/video/button/中大傳說_100元.png" class="img_button">  
                    </a>
                    <a href="mustdo" class="button">
                        <img src="/video/button/中大傳說_大學必做.png" class="img_button">
                    </a>
                    <a href="underfloor" class="button">
                        <img src="/video/button/中大傳說_地下室.png" class="img_button">  
                    </a>
                    <a href="breakfast" class="button">
                        <img src="/video/button/中大傳說_早餐.png" class="img_button">
                    </a>
                    <a href="lover" class="button">
                        <img src="/video/button/中大傳說_男女朋友.png" class="img_button">  
                    </a>
                </div>
            <% } %>

        <% }else if(title_bar[2] != null && title_bar[0] === 'INTERVIEW'){ %>
            <%/* 系所縮圖連結 */%>
            <div class="button_area">
                <% if(title_bar[3] === '管理學院'){ %>
                    <a href="ba" class="button">
                        <img src="/video/button/企管系.png" class="img_button">
                    </a>
                    <a href="im" class="button">
                        <img src="/video/button/資管系.png" class="img_button">
                    </a>
                    <a href="fm" class="button">
                        <img src="/video/button/財金系.png" class="img_button">
                    </a>
                    <a href="ec" class="button">
                        <img src="/video/button/經濟系.png" class="img_button">
                    </a>
                <% }else if(title_bar[3] === '工學院'){ %>
                    <a href="cme" class="button">
                        <img src="/video/button/化材系.png" class="img_button">
                    </a>
                    <a href="cv" class="button">
                        <img src="/video/button/土木系.png" class="img_button">
                    </a>
                    <a href="me" class="button">
                        <img src="/video/button/機械系.png" class="img_button">
                    </a>
                    <a href="ipe" class="button">
                        <img src="/video/button/工學院學士班.png" class="img_button">
                    </a>
                <% }else if(title_bar[3] === '文學院'){ %>
                    <a href="chinese" class="button">
                        <img src="/video/button/中文系.png" class="img_button">
                    </a>
                    <a href="english" class="button">
                        <img src="/video/button/英文系.png" class="img_button">
                    </a>
                    <a href="fr" class="button">
                        <img src="/video/button/法文系.png" class="img_button">
                    </a>
                <% }else if(title_bar[3] === '生醫理工學院'){ %>
                    <a href="ls" class="button">
                        <img src="/video/button/生科系.png" class="img_button">
                    </a>
                    <a href="dbse" class="button">
                        <img src="/video/button/生醫系.png" class="img_button">
                    </a>
                <% }else if(title_bar[3] === '地球科學學院'){ %>
                    <a href="gep" class="button">
                        <img src="/video/button/地科系.png" class="img_button">
                    </a>
                    <a href="atm" class="button">
                        <img src="/video/button/大氣系.png" class="img_button">
                    </a>
                <% }else if(title_bar[3] === '客家學院'){ %>
                    <a href="hakka" class="button">
                        <img src="/video/button/客家系.png" class="img_button">
                    </a>
                <% }else if(title_bar[3] === '理學院'){ %>
                    <a href="jspcos" class="button">
                        <img src="/video/button/理學院學士班.png" class="img_button">
                    </a>
                    <a href="phy" class="button">
                        <img src="/video/button/物理系.png" class="img_button">
                    </a>
                    <a href="math" class="button">
                        <img src="/video/button/數學系.png" class="img_button">
                    </a>
                    <a href="chem" class="button">
                        <img src="/video/button/化學系.png" class="img_button">
                    </a>
                    <a href="dop" class="button">
                        <img src="/video/button/光電系.png" class="img_button">
                    </a>
                <% }else if(title_bar[3] === '資訊電機學院'){ %>
                    <a href="ipeecs" class="button">
                        <img src="/video/button/資電學士班.png" class="img_button">
                    </a>
                    <a href="ee" class="button">
                        <img src="/video/button/電機系.png" class="img_button">
                    </a>
                    <a href="csie" class="button">
                        <img src="/video/button/資工系.png" class="img_button">
                    </a>
                    <a href="ce" class="button">
                        <img src="/video/button/通訊系.png" class="img_button">
                    </a>
                <% } %>
            </div>
        <% } %>

        <img src="/video/大珊瑚.png" class="picture_right">


        <% include ./js %>

    </main>
</body>
<% include ../layouts/js %>

</html>