<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../layouts/head %>
    <link rel='stylesheet' href='/video/style.css' />
  </head>
  <body>

    <% include ../layouts/header %>

    <script>
        $(document).ready(function(){
            var width;
            if(innerWidth > outerWidth)
                width = outerWidth;
            else
                width = innerWidth;
            if (width <= 768) document.location.href = "/video/index_smp/";
            else document.location.href = "/video/index_com/";
        })
        
    </script>
    
  </body>
  <% include ../layouts/js %>
</html>
