<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../layouts/head %>
    <% include ../layouts/script  %>
    <link rel='stylesheet' href='/video/style.css' />
  </head>
  <body>

    <% include ../layouts/header %>

    <script>
        $(document).ready(function(){
            var width = innerWidth;
            console.log(width)
            if(width <= 1024) document.location.href = "/video/index_phone/";
            else document.location.href = "/video/index_com/";
        });
    </script>
    
  </body>
  <% include ../layouts/js %>
</html>
