<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../layouts/head %>
    <% include ../layouts/script  %>
    <link rel='stylesheet' href='/video/style.css' />
  </head>
  <body>

    <% include ../layouts/header %>

    <script>
        $(document).ready(function(){
<<<<<<< HEAD
            if(screen.width <= 1024) document.location.href = "/video/index_phone/";
=======
            if(screen.width <= 1024) document.location.href = "/video/index_smp/";
>>>>>>> a2aecd60661223f437c8fce7ef0181bcfc01970e
            else document.location.href = "/video/index_com/";
        });
    </script>
    
  </body>
  <% include ../layouts/js %>
</html>
