<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../layouts/head %>
    <% include ../layouts/script  %>
    <link rel='stylesheet' href='/video/style.css' />
  </head>
  <body>
    
    <% include ../layouts/header %>
    
    <main>

        <%/* 標題 */%>
        <div class="bar_background">
          <div class="title_bar">
            <%/* 黃線mark */%>
            <div class="line"></div>
            <div class="title">
              VIDEO<div class="small_title">影音專區</div>
            </div>
          </div>
        </div>
  
        <%/* 縮圖連結 */%>
        <div class="button_area">
          <a href="nculife/">
              <img src="/video/中大生活.jpg" class="v_button">
          </a>
          <a href="interview/">
              <img src="/video/學長姐訪談.jpg" class="v_button">
          </a>
          <a href="legend/">
              <img src="/video/中大傳說.jpg" class="v_button">
          </a>
        </div>
  
        <img src="/video/漁港.png" class="harbor">

        <style>
          .title_bar {
            margin-left: 103px;
          }

          .button_area {
            width: 70%;
            max-width: 70%;
          }
        </style>

        <script>
        //大於768變com
        var orignURL = location.pathname;
        var newURL = orignURL.replace(/index_smp/g, 'index_com');

        //alert(newURL);

        $(document).ready(function(){
            var width;
            if(innerWidth > outerWidth)
                width = outerWidth;
            else
                width = innerWidth;
            if(width <= 768)
                document.location.href = newURL;
           $(window).resize(function(){
                if(innerWidth > outerWidth)
                    width = outerWidth;
                else
                    width = innerWidth;
                if(width <= 768)
                    document.location.href = newURL;
            });
        });

        /*
        $(document).ready(function(){
            var width;
            if(innerWidth > outerWidth)
                width = outerWidth;
            else
                width = innerWidth;
            if(width <= 768)
                document.location.href = "/video/index_smp/";
           $(window).resize(function(){
                if(innerWidth > outerWidth)
                    width = outerWidth;
                else
                    width = innerWidth;
                if(width <= 768)
                    document.location.href = "/video/index_smp/";
            });
        });
        */
        </script>

    </main>

  </body>
  <% include ../layouts/js %>
</html>
