<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../layouts/head %>
    <link rel='stylesheet' href='/video/video.css' />
  </head>
  <body>
    
    <% include ../layouts/header %>
    
    <main>

        <%/* 標題 */%>
        <div class="bar_background">
          <div class="title_bar">
            <%/* 黃線mark */%>
            <div class="line"></div>
            <div class="title">
              <font color="#ec6d4f">VIDEO</font><div class="small_title">影音專區</div>
            </div>
          </div>
        </div>
  
        <%/* 縮圖連結 */%>
        <div class="button_area">
          <a href="nculife/" class="button">
              <img src="/video/中大生活.jpg" class="img_button">
          </a>
          <a href="interview/" class="button">
              <img src="/video/學長姐訪談.jpg" class="img_button">
          </a>
          <a href="legend/" class="button">
              <img src="/video/中大傳說.jpg" class="img_button">
          </a>
        </div>
  
        <img src="/video/漁港.png" class="harbor">

        <style>
          .title_bar {
            margin-left: 105px;
          }
          .button_area {
            width: 70%;
            max-width: 70%;
            margin-left: 20%;
          }
          /* 網頁變形底圖變化 */
          @media only screen and (max-height: 620px) {
              .harbor {
                display: none;
              }
            }
          

          /*網頁變形，改成flexbox後不需要了
          @media only screen and (min-width: 1400px){
            @media only screen and (max-height: 620px) {
              .harbor {
                display: none;
              }
            }
          }
          @media only screen and (max-width: 1400px){
            .button_area {
              margin-left: 17%;
            }
            @media only screen and (max-height: 590px) {
              .harbor {
                display: none;
              }
            }
          }
          @media only screen and (max-width: 1270px){
            .button_area{
              margin-left: 17%;
            }
            .v_button {
              width: 200px;
              height: 143px;
            }
            @media only screen and (max-height: 515px) {
              .harbor {
                display: none;
              }
            }
          }
          @media only screen and (max-width: 1038px){
            .button_area{
              margin-left: 23%;
            }
            @media only screen and (max-height: 630px) {
              .harbor {
                display: none;
              }
            }
          }
          @media only screen and (max-width: 840px){
            .button_area{
              margin-left: 20%;
            }
          }
          */
        </style>

        <% include ./js %>

    </main>

  </body>
  <% include ../layouts/js %>
</html>
