<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../layouts/head %>
    <% include ../layouts/script  %>
    <link rel='stylesheet' href='/video/style.css' />
  </head>
  <body>
    
    <% include ../layouts/header %>
    
    <main>

        <%/* 標題 */%>
        <div class="bar_background">
          <div class="title_bar">
            <%/* 黃線mark */%>
            <div class="line"></div>
            <div class="title">
              VIDEO<div class="small_title">影音專區</div>
            </div>
          </div>
        </div>
  
        <%/* 縮圖連結 */%>
        <div class="button_area">
          <a href="nculife/">
            <div class="v_button">
              <img src="/video/中大生活.jpg" class="v_button">
              <div class="mask"></div>
            </div>
          </a>
          <a href="interview/">
            <div class="v_button">
              <img src="/video/學長姐訪談.jpg" class="v_button">
              <div class="mask"></div>
            </div>
          </a>
          <a href="legend/">
            <div class="v_button">
              <img src="/video/中大傳說.jpg" class="v_button">
              <div class="mask"></div>
            </div>
          </a>
        </div>
  
        <img src="/video/漁港.png" class="harbor">

    </main>

  </body>
  <% include ../layouts/js %>
</html>
