<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../layouts/head %>
    <% include ../layouts/script  %>
    <link rel='stylesheet' href='/video/style.css' />
  </head>
  <body>
    
    <% include ../layouts/header %>
    <main>
      <%/* 標題 */%>
      <div class="title_bar">
        <%/* 黃線mark */%>
        <div class="line"></div>
        <div class="title">
          <h1>VIDEO<br><span class="small_title">影音專區</span></h1></div>
      </div>

  </body>
  <% include ../layouts/js %>
</html>