<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <% include ../layouts/head %>
        <% include ../layouts/script  %>
        <link rel='stylesheet' href='/video/style.css' />
    </head>
    <body>
        <% include ../layouts/header %>
        <main>
            <%/* 標題 */%>
            <% include ./title_bar %>

            <%/* 返回按鈕 */%>
            <% if(title_bar[2] == null){ %>
                <a href="/video/">
                    <div class="back"><div class="seahorse"><img src="/video/返回按鈕.png"></div></div>
                </a>
            <% }else if(title_bar[4] == null ){ %>
                <a href="/video/<%= back_name %>">
                    <div class="back"><div class="seahorse"><img src="/video/返回按鈕.png"></div></div>
                </a>
            <% }else if(title_bar[4] != null){ %>
                <a href="/video/v_interview/<%= back_name %>">
                    <div class="back"><div class="seahorse"><img src="/video/返回按鈕.png"></div></div>
                </a>
            <% } %>

            <%/* 系所縮圖連結 */%>
            <div class="button_area">
                <% if(title_bar[3] === '管理學院'){ %>
                    <a href="/video/v_interview/v_management/v_mis"><img src="/video/管院.jpg" class="v_button"></a>
                    <a href="/video/v_interview/v_management/v_mis"><img src="/video/管院.jpg" class="v_button"></a>
                    <a href="/video/v_interview/v_management/v_mis"><img src="/video/管院.jpg" class="v_button"></a>
                    <a href="/video/v_interview/v_management/v_mis"><img src="/video/管院.jpg" class="v_button"></a>
                <% }else if(title_bar[3] === '工學院'){ %>
                    <a href="/video/v_interview/v_management/v_mis"><img src="/video/管院.jpg" class="v_button"></a>
                    <a href="/video/v_interview/v_management/v_mis"><img src="/video/管院.jpg" class="v_button"></a>
                    <a href="/video/v_interview/v_management/v_mis"><img src="/video/管院.jpg" class="v_button"></a>
                <% }else if(title_bar[3] === '文學院'){ %>
                    <a href="/video/v_interview/v_management/v_mis"><img src="/video/管院.jpg" class="v_button"></a>
                    <a href="/video/v_interview/v_management/v_mis"><img src="/video/管院.jpg" class="v_button"></a>
                    <a href="/video/v_interview/v_management/v_mis"><img src="/video/管院.jpg" class="v_button"></a>
                <% }else if(title_bar[3] === '生醫理工學院'){ %>
                    <a href="/video/v_interview/v_management/v_mis"><img src="/video/管院.jpg" class="v_button"></a>
                    <a href="/video/v_interview/v_management/v_mis"><img src="/video/管院.jpg" class="v_button"></a>
                <% }else if(title_bar[3] === '地球科學學院'){ %>
                    <a href="/video/v_interview/v_management/v_mis"><img src="/video/管院.jpg" class="v_button"></a>
                    <a href="/video/v_interview/v_management/v_mis"><img src="/video/管院.jpg" class="v_button"></a>
                <% }else if(title_bar[3] === '客家學院'){ %>
                    <a href="/video/v_interview/v_management/v_mis"><img src="/video/管院.jpg" class="v_button"></a>
                <% }else if(title_bar[3] === '理學院'){ %>
                    <a href="/video/v_interview/v_management/v_mis"><img src="/video/管院.jpg" class="v_button"></a>
                    <a href="/video/v_interview/v_management/v_mis"><img src="/video/管院.jpg" class="v_button"></a>
                    <a href="/video/v_interview/v_management/v_mis"><img src="/video/管院.jpg" class="v_button"></a>
                    <a href="/video/v_interview/v_management/v_mis"><img src="/video/管院.jpg" class="v_button"></a>
                    <a href="/video/v_interview/v_management/v_mis"><img src="/video/管院.jpg" class="v_button"></a>
                <% }else if(title_bar[3] === '資訊電機學院'){ %>
                    <a href="/video/v_interview/v_management/v_mis"><img src="/video/管院.jpg" class="v_button"></a>
                    <a href="/video/v_interview/v_management/v_mis"><img src="/video/管院.jpg" class="v_button"></a>
                    <a href="/video/v_interview/v_management/v_mis"><img src="/video/管院.jpg" class="v_button"></a>
                <% } %>
            </div>

            <img src="/video/鯨.png" class="whale">

        </main>    

    </body>
    <% include ../layouts/js %>
    
</html>