<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/video/style.css' />
    </head>
    <body>

        <%/* 黃線mark */%>
        <div class="line"></div>

         <%/* 標題 */%>
        <div class="title">
        <h1>VIDEO<br>影音專區</h1>

        <%/* 三角形*/%>
        <div class="rect"></div>

    </div>
    </body>
    
</html>