<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <% include ../layouts/head %>
        <% include ../layouts/script  %>
        <link rel='stylesheet' href='/video/style.css' />
    </head>
    <body>
        <% include ../layouts/header %>
        <main>
            <%/* 標題 */%>
            <% include ./title_bar %>

            <%/* 各學院縮圖連結 */%>
            <div class="button_area">
                <a href="/video/v_interview/v_engineering"><img src="/video/工院.jpg" class="v_button"></a>
                <a href="/video/v_interview/v_liberal"><img src="/video/文院.jpg" class="v_button"></a>
                <a href="/video/v_interview/v_health"><img src="/video/生醫.jpg" class="v_button"></a>
                <a href="/video/v_interview/v_earth"><img src="/video/地科院.jpg" class="v_button"></a>
                <a href="/video/v_interview/v_hakka"><img src="/video/客院.jpg" class="v_button"></a>
                <a href="/video/v_interview/v_science"><img src="/video/理院.jpg" class="v_button"></a>
                <a href="/video/v_interview/v_computer"><img src="/video/資電.jpg" class="v_button"></a>
                <a href="/video/v_interview/v_management"><img src="/video/管院.jpg" class="v_button"></a>
                </div>
        </main>

    </body>
    <% include ../layouts/js %>
</html>