<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <% include ../layouts/head %>
        <% include ../layouts/script  %>
        <link rel='stylesheet' href='/video/style.css' />
    </head>
    <body>
            <% include ../layouts/header %>
        <%/* 標題 */%>
        <div class="title_bar">
            <%/* 黃線mark */%>
            <div class="line"></div>
            <a href="/video/">
                <div class="title">
                    <h1>VIDEO<br><span class="small_title">影音專區</span></h1>
                </div>
            </a>
            <%/* 三角形*/%>
            <div class="tri"></div>
            <div class="title">
                <h1><font color="#ec6d4f">LEGEND</font><br><span class="small_title">中大傳說</span></h1></div>
        </div>

    </body>
    <% include ../layouts/js %>
    
</html>