<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <% include ../layouts/head %>
        <% include ../layouts/script  %>
        <link rel='stylesheet' href='/video/style.css' />
    </head>
    <body>
        <% include ../layouts/header %>
        <main>
            <%/* 標題 */%>
            <% include ./title_bar %>
            
        </main>    

    </body>
    <% include ../layouts/js %>
    
</html>