<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/video/style.css' />
    </head>
    <body>

        <%/* 標題 */%>
        <div class="title_bar">
            <%/* 黃線mark */%>
            <div class="line"></div>
            <div class="title">
                <h1>VIDEO<br><span class="small_title">影音專區</span></h1></div>
            <%/* 三角形*/%>
            <div class="rect"></div>
            <div class="title">
                <h1>LIFE<br><span class="small_title">中大生活</span></h1></div>
        </div>

        <%/* 食住行育樂縮圖連結 */%>
        <div class="v_button"><a href="/video/v_eating">食</a></div>
        <div class="v_button">住</div>
        <div class="v_button">行</div>
        <div class="v_button">育</div>
        <div class="v_button">樂</div>

    </body>
    
</html>