<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <% include ../layouts/head %>
    <% include ../layouts/script  %>
    <link rel='stylesheet' href='/video/style.css' />
</head>

<body>
    <% include ../layouts/header %>
    <%/* 標題 */%>
    <div class="title_bar">
        <%/* 黃線mark */%>
        <div class="line"></div>
        <a href="/video/">
            <div class="title">
                <h1>VIDEO<br><span class="small_title">影音專區</span></h1>
            </div>
        </a>
        <%/* 三角形*/%>
        <div class="tri"></div>
        <div class="title">
            <h1>
                <font color="#ec6d4f">LIFE</font><br><span class="small_title">中大生活</span>
            </h1>
        </div>
    </div>

    <%/* 食住行育樂縮圖連結 */%>
    <div class="button_area">
        <%/* 個別路由<div class="v_button"><a href="/video/v_eating">測試</a></div> */%>

        <div class="v_button"><a href="/video/v_nculife/v_eating">食</a></div>
        <div class="v_button"><a href="/video/v_nculife/v_living">住</a></div>
        <div class="v_button"><a href="/video/v_nculife/v_going">行</a></div>
        <div class="v_button"><a href="/video/v_nculife/v_education">育</a></div>
        <div class="v_button"><a href="/video/v_nculife/v_joy">樂</a></div>
    </div>

</body>
<% include ../layouts/js %>

</html>