<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <% include ../layouts/head %>
  <% include ../layouts/script  %>
  <link rel='stylesheet' href='/video/style.css' />

</head>

<body>
  <% include ../layouts/header %>
  <main>
      <%/* 標題 */%>
      <% include ./title_bar %>

      <img src="/video/小珊瑚.png" class="picture_left">
      
      <%/* 影片區 */%>
        <div class="video_area">
            <div id="player"></div>
        </div>

      <img src="/video/大珊瑚.png" class="picture_right">

      <%/* 引入Youtube API */%>
      <script>
        /* Youtube api */
    
        // This code loads the IFrame Player API code asynchronously.
        var tag = document.createElement('script');
    
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        
        // This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        var player;
        function onYouTubeIframeAPIReady() {
          player = new YT.Player('player', {
            height: '270',
            width: '480',
            videoId: '<%= ytID %>',
            events: {
              'onReady': yt.onPlayerReady,
              'onStateChange': yt.onPlayerStateChange
            }
          });
        }

        var orignURL = location.pathname;
        var newURL = orignURL.replace(/index_com/g, 'index_smp');

        //alert(newURL);

        //小於768變手機
        $(document).ready(function(){
            $(window).resize(function(){
                var width = innerWidth;
                if(width <= 768){
                  document.location.href = newURL;
                }
            });
        });

        /*如果能不用他我就不用 不然再要寫35條：D
        var changeURL;
        if ('<%= title_bar[0] %>' === 'LIFE') {
          switch ('<%= title_bar[3] %>') {
            case '食':
              changeURL = "/video/index_smp/nculife/eating";
              break;
            case '住':
              changeURL = "/video/index_smp/nculife/living";
              break;
            case '行':
              changeURL = "/video/index_smp/nculife/going";
              break;
            case '育':
              changeURL = "/video/index_smp/nculife/education";
              break;
            case '樂':
              changeURL = "/video/index_smp/nculife/joy";
              break;
          
            default:
              break;
          }
        }
        */
      </script>

  </main>
</body>
<% include ../layouts/js %>
</html>