<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <% include ../layouts/head %>
  <% include ../layouts/script  %>
  <link rel='stylesheet' href='/video/style.css' />

</head>

<body>
  <% include ../layouts/header %>
  <main>
      <%/* 標題 */%>
      <div class="title_bar">
        <%/* 黃線mark */%>
        <div class="line"></div>
        <div class="title">
          <a href="/video/">
            <h1>VIDEO<br><span class="small_title">影音專區</span></h1>
          </a>
        </div>
        <%/* 三角形*/%>
        <div class="tri"></div>
        <div class="title">
          <a href="/video/v_nculife">
            <h1>LIFE<br><span class="small_title">中大生活</span></h1>
          </a>
        </div>
        <%/* 三角形*/%>
        <div class="tri"></div>
        <div class="title">
          <h1>
            <font color="#ec6d4f">英文標題</font><br><span class="small_title">中文標題</span>
          </h1>
        </div>
      </div>
    
      <%/* 影片區 */%>
      <div class="video_area">
        <div class="background">
          <h1>這是放影片的地方</h1>
        </div>
      </div>
      <% include ../layouts/js %>

  </main>
</body>

</html>