<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../layouts/head %>
    <% include ../layouts/script %>
    <link rel='stylesheet' href='/link/style.css' />
  </head>
    <body>
    <% include ../layouts/header %>

    <div class="bg">
      <img id="backgroundi" src="底.png">
    </div>

        <div class="title-box">
          <div class="vertical-line"></div>
          <div class="eng-title">LINK</div>
          <div class="ch-title">常用連結</div>     
        </div>

        <div class="container">

          <div class="links" id="portal">
            <a href="https://portal.ncu.edu.tw">
              <img src="PORTAL_BTN.png">
              <div class="captn">
                <div class="captn-title">中大PORTAL</div>
                <div class="captn-body">Caption Here<br>Caption Here<br>Caption Here<br>Caption Here</div>
              </div>
            </a>
          </div>

          <div class="links" id="UST">
            <a href="http://www.ust.edu.tw/">
              <img src="TAI_BTN.png">
              <div class="captn">
                <div class="captn-title">台聯大系統</div>
                <div class="captn-body">Caption Here<br>Caption Here<br>Caption Here<br>Caption Here</div>
              </div>
            </a>
          </div>

          <div class="links" id="LMS">
            <a href="https://lms.ncu.edu.tw">
              <img src="LMS_BTN.png">
              <div class="captn">
                <div class="captn-title">LMS</div>
                <div class="captn-body">Caption Here<br>Caption Here<br>Caption Here<br>Caption Here</div>
              </div>
            </a>
          </div>

          <div class="links" id="ee-class">
            <a href="https://eeclass.ncu.edu.tw/">
              <img src="EE_BTN.png">
              <div class="captn">
                <div class="captn-title">EE-CLASS</div>
                <div class="captn-body">Caption Here<br>Caption Here<br>Caption Here<br>Caption Here</div>
              </div>
            </a>
          </div>

          <div class="links" id="dorm-service">
            <a href="https://in.ncu.edu.tw/ncu7221/OSDS/">
              <img src="DORM_BTN.png">
              <div class="captn">
                <div class="captn-title">宿舍服務中心</div>
                <div class="captn-body">Caption Here<br>Caption Here<br>Caption Here<br>Caption Here</div>
              </div>
            </a>
          </div>

          <div class="links" id="dorm-net">
            <a href="https://uncia.cc.ncu.edu.tw/dormnet/">
              <img src="WEB_BTN.png">
              <div class="captn">
                <div class="captn-title">宿舍網路系統</div>
                <div class="captn-body">Caption Here<br>Caption Here<br>Caption Here<br>Caption Here</div>
              </div>
            </a>
          </div>

          
          <div class="links" id="helloNCU">
            <a href="https://www.facebook.com/groups/HelloNCU2019/">
              <img src="HELLO_BTN.png">
              <div class="captn">
                <div class="captn-title">HELLO, 中央</div>
                <div class="captn-body">Caption Here<br>Caption Here<br>Caption Here<br>Caption Here</div>
              </div>
            </a>
          </div>

          
          <div class="links" id="NCUtalk">
            <a href="https://www.facebook.com/groups/NCUgroup/">
              <img src="NCUTALK_BTN.png">
              <div class="captn">
                <div class="captn-title">NCU TALK</div>
                <div class="captn-body">Caption Here<br>Caption Here<br>Caption Here<br>Caption Here</div>
              </div>
            </a>
          </div>

          <div class="links" id="course">
            <a href="https://cis.ncu.edu.tw/Course/main/news/announce">
              <img src="CLASS_BTN.png">
              <div class="captn">
                <div class="captn-title">中大選課</div>
                <div class="captn-body">Caption Here<br>Caption Here<br>Caption Here<br>Caption Here</div>
              </div>
            </a>
          </div>

          <div class="links" id="service-learning">
            <a href="http://service-learning.ncu.edu.tw">
              <img src="SERVICE_BTN.png">                
              <div class="captn">
                <div class="captn-title">服務學習</div>
                <div class="captn-body">Caption Here<br>Caption Here<br>Caption Here<br>Caption Here</div>
              </div>
            </a>
          </div>

        </div>
  </body>
  <% include ../layouts/js %>
  <% include js %>
</html>
