<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../layouts/head %>
    <% include ../layouts/script %>
    <link rel='stylesheet' href='/link/style.css'/>
  </head>
    <body>
    <% include ../layouts/header %>

<<<<<<< HEAD
    <div class="bg">
      <img src="底.png">
    </div>
=======
    <div class="bg"></div>
>>>>>>> b414da17d958df5423618f0f78973019d648aa3d

        <div class="title-box">
          <div class="vertical-line"></div>
          <div class="eng-title">LINK</div>
          <div class="ch-title">常用連結</div>     
        </div>

        <div class="container">

          <div class="links" id="portal">
            <a href="https://portal.ncu.edu.tw">
              <img src="PORTAL_BTN.png">
              <div class="captn">
                <div class="captn-title">中大PORTAL</div>
                <div class="captn-body">
                  包含中大各種資訊系統，包含繳費、補助、工讀、選課、兵役、授權軟體等等
                </div>
              </div>
            </a>
          </div>

          <div class="links" id="UST">
            <a href="http://www.ust.edu.tw/">
              <img src="TAI_BTN.png">
              <div class="captn">
                <div class="captn-title">台聯大系統</div>
                <div class="captn-body">
                  中央和清大交大陽明組成台聯大系統，可以校際選課、借書、搭車等等
                </div>
              </div>
            </a>
          </div>

          <div class="links" id="LMS">
            <a href="https://lms.ncu.edu.tw">
              <img src="LMS_BTN.png">
              <div class="captn">
                <div class="captn-title">LMS</div>
                <div class="captn-body">
                  數位學習平台，選完課之後，可以在上面看到教材、作業、成績
                </div>
              </div>
            </a>
          </div>

          <div class="links" id="ee-class">
            <a href="https://eeclass.ncu.edu.tw/">
              <img src="EE_BTN.png">
              <div class="captn">
                <div class="captn-title">EE-CLASS</div>
                <div class="captn-body">
                  新版數位學習平台，功能和LMS相仿，新增了線上課程的功能
                </div>
              </div>
            </a>
          </div>

          <div class="links" id="dorm-service">
            <a href="https://in.ncu.edu.tw/ncu7221/OSDS/">
              <img src="DORM_BTN.png">
              <div class="captn">
                <div class="captn-title">宿舍服務中心</div>
                <div class="captn-body">
                  住宿意願確認、房間規格、宿舍地點等等
                </div>
              </div>
            </a>
          </div>

          <div class="links" id="dorm-net">
            <a href="https://uncia.cc.ncu.edu.tw/dormnet/">
              <img src="WEB_BTN.png">
              <div class="captn">
                <div class="captn-title">宿舍網路系統</div>
                <div class="captn-body">
                  網路申請、報修、使用規範都在這裡
                </div>
              </div>
            </a>
          </div>

          
          <div class="links" id="helloNCU">
            <a href="https://www.facebook.com/groups/HelloNCU2019/">
              <img src="HELLO_BTN.png">
              <div class="captn">
                <div class="captn-title">HELLO, 中央</div>
                <div class="captn-body">
                  是2019新生版，想揪打球、狼人殺、認識朋友、問問題都可以
                </div>
              </div>
            </a>
          </div>

          
          <div class="links" id="NCUtalk">
            <a href="https://www.facebook.com/groups/NCUgroup/">
              <img src="NCUTALK_BTN.png">
              <div class="captn">
                <div class="captn-title">NCU TALK</div>
                <div class="captn-body">
                  和中央有關的人都可以加入，是中央大學臉書校版，大學必加社團之一
                </div>
              </div>
            </a>
          </div>

          <div class="links" id="course">
            <a href="https://cis.ncu.edu.tw/Course/main/news/announce">
              <img src="CLASS_BTN.png">
              <div class="captn">
                <div class="captn-title">中大選課</div>
                <div class="captn-body">
                  查課程、選課規則、選課、退選都在這裡
                </div>
              </div>
            </a>
          </div>

          <div class="links" id="service-learning">
            <a href="http://service-learning.ncu.edu.tw">
              <img src="SERVICE_BTN.png">                
              <div class="captn">
                <div class="captn-title">服務學習</div>
                <div class="captn-body">
                  可以查詢現有時數、有哪些活動可參加，並提供社團申請時數
                </div>
              </div>
            </a>
          </div>

          <div class="links" id="equity">
            <a href="http://140.115.184.179/ncuCareYou/login.php?fbclid=IwAR0dpqDsmN-cLaRG-7BQNChqC_3Ku9IcchQ4p-QpXJKo2yVddC6mQQEmZU8">
              <img src="equity.png">                
              <div class="captn">
                <div class="captn-title">學生權益保障</div>
                <div class="captn-body">
                  學校專為學生設立的意見反應中心
                </div>
              </div>
            </a>
          </div>

          <div class="links" id="plan">
            <a href="http://pdc.adm.ncu.edu.tw/tldc/school_support.asp">
              <img src="plan.png">                
              <div class="captn">
                <div class="captn-title">安心就學計畫</div>
                <div class="captn-body">
                  以學習取代工讀，讓經濟弱勢學生可藉由學習獎助學金的輔導機制，不再因打工而耽誤學習
                </div>
              </div>
            </a>
          </div>

        </div>
  </body>
  <% include ../layouts/js %>
  <% include js %>
</html>
