body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #0D4966;
}
#main {
  position: relative;
}

.seaBlue {
  color: #0D4966;
}

.yellow {
  color: #FFCC00;
}

.seaBlueBg {
  background-color: #0D4966;
}

.yellowBg {
  background-color: #FFCC00;
}

.grayBg {
  background-color: #D0CECE;
}

body {
  overflow-x: hidden;
  user-select: none;
  /* for Firefox */
  -webkit-user-select: none;
  /* for Chrome */
  background-color: #FFF9DC;
}

#myModal {
  display: none;
  position: absolute;
  z-index: 7000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 0;
}

#modalcontent {
  position: absolute;
  top: 20%;
  background-color: #D0CECE;
  margin: auto;
  height: 30%;
  width: auto;
}

#modalcontent>img {
  height: 100%;
}

.main {
  position: relative;
  top: 5vh;
  width: 90vw;
  margin: auto;
  height: 69vh;
}

#outterTitleSpace {
  position: relative;
  width: 100%;
  left: 0;
  background-color: white;
  height: 85px;
}

.titleSpace {
  height: 80%;
  top: 12%;
  border-left: 5px solid #7CA7BC;
  padding-left: 17px;
  position: relative;
  left: 8%;
  z-index: 3;
  overflow: hidden;
}

#banner {
  display: inline;
  position: absolute;
  right: 13%;
  height: 100%;
  z-index:0;
}

#qatxt {
  position: absolute;
  font-size: 28px;
  top: -6%;
  color: #FB8360;
  z-index: 3;
}

#qatxt_c {
  position: absolute;
  font-size: 17px;
  bottom: 2%;
  color: #767171;
  z-index: 3;
}

.leftSide {
  width: 20%;
}

.option {
  font-size: 1.5vw;
}

.option ul {
  margin: 20px auto;
  padding: 0px;
  list-style-type: none;
  width: 78%;
}

.option li {
  margin-bottom: 15%;
  border-radius: 2px;
  padding: 4% 7%;
}

.option a {
  text-decoration: none;
  color: #0D4966;
}

.optionHover {
  background-color: rgb(251, 217, 185) !important;
  color: rgb(32, 56, 100);
}


/* 選單箭頭 */
.fa-angle-right {
  font-size: 1.3em;
  position: relative;
  top: 2px;
  margin-right: 6px;
  display: inline;
}


.rightSide {
  background-color: #FFFDF1;
  position: relative;
  width: 80%;
  overflow-x: hidden;
  overflow-y: auto;
}
.rightSideInner{
  position: absolute;
}

._card {
  height: 69vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  display: flex;
  height: 90%;
  width:96%;
}
.title {
  text-align: left;
  font-size: 2.7vw;
  margin: 8vh 0;
  color:#0D4966;
}

.intro {
  position: relative;
  width:40%;
}

.photo {  
  /* width: 50vw; */
  width: 60%;
  height: auto;
}
.introText{
  font-size: 1.3vw;
  
}

#mobileOption{
  display: none;
}
.mobileTitle{
  display: none;
  color:#0D4966;
}
@media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : landscape) {
    .content{
      height: 72%;
      width: 93%;
    }
    .option li{
      margin-bottom:25%;
    }
  }
/* ipad 直立設計*/
@media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : portrait)  {
    html{
      overflow-x: hidden;
    }
    body{
      overflow-x: hidden;
    } 
    .content{
      display: block;
    }
    .photo{
      /* height: auto;
      width: 100%;
      position: relative; */
    }
    .mobileTitle{
      display: block;
      font-size:2rem;
      text-align: center;
      margin-bottom: 2%;
    }
    .title{
      display: none;
    }
    .introText{
      margin-top:2%;
      font-size: 1.2rem;
    }
    .main{
      height:63vh;
    }
    ._card{
      height:63vh;
    }
    .option{
      font-size:1.2rem;
      margin-top:48%;
    }
    .option li{
      margin-bottom:26%;
    }
    .rightSide{
      width:77%;
    }
    .leftSide{
      width: 23%;
    }
    .photo{
      /* width: 80%;
      height: auto;
      width: 70vw;
      height: auto; */
    }
    .main{
      height:60vh;
    }
    #img_all{
      content:url("全體.jpg");
      width: 100%;
    }
    #img_execute{
      content:url("執行.jpg");
      width: 100%;
    }
    #img_planning{
      content:url("企劃.jpg");
      width: 100%;
    }
    #img_programming{
      content:url("程設.jpg");
      width: 100%;
    }
    #img_video{
      content:url("影音.jpg");
      width: 100%;
    }
    #img_art{
      content:url("美工.jpg");
      width: 100%;
    }
  }
/* 手機橫放的通用設計 */
@media only screen 
  and (max-width:900px)
  and (orientation : landscape){
    html{
      overflow-x: hidden;
    }
    body{
      overflow-x: hidden;
    } 
    .option ul{
      margin:10px 0;
    }
  }
/* 手機直立的通用設計 */
@media only screen and (max-width:500px) and (orientation : portrait){
  html{
    overflow-x: hidden;
  }
  body{
    overflow-x: hidden;
  }      
  #banner{
    display: none;
  }
  .leftSide{
    display: none;
  }
  .rightSide{
    width:100%;
    position: relative;
    top: 16%;
    height:60vh;
  }
  .photo{
    /* height: auto;
    width: 100%; */
  }
  ._card{
    height: auto;
    position: relative;
  }
  .title{
    display: none;
  }
  .mobileTitle{
    display: block;
    font-size: 6.3vw;
    text-align: center;
    margin: 1.2vh auto;
    /* font-size: 3.8vw; */
  }
  .content{
    display: block;
    position: relative;
    height: 60vh;
    margin-bottom: 3%;
  }
  .introText{
    font-size: 3.6vw;
    margin:auto;
  }
  .main{
    top:3vh;
  }
  #mobileOption{
    position: absolute;
    width:100%;
    display: block;
  }
  .col-4{
    white-space: nowrap;
  }
  .rightSideInner{
    position: absolute;
  }
  #img_all{
    content:url("全體.jpg");
  }
  #img_execute{
    content:url("執行.jpg");
  }
  #img_planning{
    content:url("企劃.jpg");
  }
  #img_programming{
    content:url("程設.jpg");
  }
  #img_video{
    content:url("影音.jpg");
  }
  #img_art{
    content:url("美工.jpg");
  }
}
/* @media only screen (max-width:1200px){
  .photo{
    height:
  }
} */