<div class="modal fade" id="show" tabindex="-1"  >
    <div class="modal-dialog  "  role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    <div id="phone_title"></div>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="t_close"></button>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div  id="show_content"></div>
                
            </div>
            
        </div>
    </div>
</div>