<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <% include ../../layouts/head %>
    <link rel='stylesheet' href='/documents/style.css' />
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <script type="text/javascript" src="/js/tinymce.min.js"></script>
</head>

<body>
    <% include ../../layouts/header %>
    <main id="main">
        <% /*編輯框*/ %>
        <% include ../edit %>
        <% include content %>
        <% /*大學生*/ %>
        <div class="bg">
            <div class="choose" id="must">
                <div class="undergraduate">
                    <p class="bar">
                        <a class="must link_und now" >入學須知</a>
                        <a href="#fresh" class="fresh link_und">新生週</a>
                        <a href="#study" class="study link_und">學習資訊</a>
                    </p>
                </div> 
                <div class="options">
                    <p class="p_option" id="1"><i class="fas fa-angle-right" ></i>&emsp;學籍登錄</p>
                    <p class="p_option" id="5"><i class="fas fa-angle-right" ></i>&emsp;宿舍報到</p>
                    <p class="p_option" id="2"><i class="fas fa-angle-right" ></i>&emsp;住宿注意事項</p>
                    <p class="p_option" id="3"><i class="fas fa-angle-right" ></i>&emsp;兵役注意資料</p>
                    <p class="p_option" id="4"><i class="fas fa-angle-right" ></i>&emsp;腳踏車證申請</p>
                    <p class="p_option" id="38"><i class="fas fa-angle-right" ></i>&emsp;安心就學計畫</p>
                    <p class="p_option" id="6"><i class="fas fa-angle-right" ></i>&emsp;註冊通知、日程表</p>
                    <p class="p_option" id="7"><i class="fas fa-angle-right" ></i>&emsp;學費及助學金相關</p>
                </div>   
            </div>
    
            <div class="choose fade" id="fresh">
                <div class="undergraduate">
                    <p  class="bar">
                        <a href="#must" class="must link_und">入學須知</a>
                        <a class="fresh link_und now">新生週</a>
                        <a href="#study" class="study link_und">學習資訊</a>
                    </p>
                </div> 
                <div class="options">
                    <p class="p_option" id="8"><i class="fas fa-angle-right" ></i>&emsp;新生營</p>
                    <p class="p_option" id="9"><i class="fas fa-angle-right" ></i>&emsp;社團博覽會</p>
                    <p class="p_option" id="10"><i class="fas fa-angle-right" ></i>&emsp;校園安全宣導</p>
                    <p class="p_option" id="11"><i class="fas fa-angle-right" ></i>&emsp;新生週日程表</p>
                    <p class="p_option" id="12"><i class="fas fa-angle-right" ></i>&emsp;新生健康檢查</p>
                    <p class="p_option" id="13"><i class="fas fa-angle-right" ></i>&emsp;心理適應座談</p>
                    <p class="p_option" id="14"><i class="fas fa-angle-right" ></i>&emsp;UCAN適性測驗</p>
                </div>   
            </div>
    
            <div class="choose fade" id="study">
                <div class="undergraduate">
                    <p  class="bar">
                        <a href="#must" class="must link_und">入學須知</a>
                        <a href="#fresh" class="fresh link_und">新生週</a>
                        <a class="study link_und now">學習資訊</a>
                    </p>
                </div> 
                <div class="options">
                    <p class="p_option" id="15"><i class="fas fa-angle-right" ></i>&emsp;獎學金</p>
                    <p class="p_option" id="16"><i class="fas fa-angle-right" ></i>&emsp;交換學生</p>
                    <p class="p_option" id="17"><i class="fas fa-angle-right" ></i>&emsp;大一必修</p>
                    <p class="p_option" id="18"><i class="fas fa-angle-right" ></i>&emsp;畢業門檻</p>
                    <p class="p_option" id="21"><i class="fas fa-angle-right" ></i>&emsp;自主學習</p>
                    <p class="p_option" id="19"><i class="fas fa-angle-right" ></i>&emsp;選課懶人包</p>
                    <p class="p_option" id="20"><i class="fas fa-angle-right" ></i>&emsp;課業輔導管道</p>
                    <p class="p_option" id="40"><i class="fas fa-angle-right" ></i>&emsp;大一親師座談</p>   
                </div>   
            </div>
        </div>
    
    
    </main>
    <% include ../../layouts/js %>
    <% include ../js %>
    <script>
        $(document).ready(function(){
            $(window).resize(function(){
            var width;
            if(innerWidth > outerWidth)
                width = outerWidth;
            else
                width = innerWidth;
            if(width > 768)
                document.location.href = "/documents/undergraduate_must";
            
            });
        });
    </script>
</body>

</html>