body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: Microsoft JhengHei;
  background-color: #fff9dc;
}

a {
  text-decoration: none;
}

a:link {
  color: #000;
}

a:visited {
  color: #000;
}

.bar_background {
  margin-top: 0px;
  margin-bottom: 50px;
  padding: 5px; 
  width: 100%;
  height: 100px;
  background-color: #fff;
  overflow: hidden;
}

.title_bar {
  margin-top: 10px;
  margin-left: 20%;
  height: 150px;
  width: 80%;
  margin-bottom: 50px; 
  min-width: 100%;
}

.title {
  height: 110px;
  width: 200px;
  text-align: center;
  padding-bottom: 10px;
  margin: 5px;
  float: left;
}

.title:hover {
  background-color: #DDD;
  border-radius: 10px;
}

.back {
  margin-top: 15px;
  margin-right: 5px;
  margin-left: 80px;
  float: left;
}

.seahorse {
  display: inline-block;
}

.seahorse:hover {
  transform: scale(1.25);
}

.line {
  height: 100px;
  width: 0px;
  border-color: #ec6d4f;
  border-style: solid;
  border-width: 2px;
  margin-top: 7px;
  margin-right: 5px;
  float: left;
}

.button_area {
  margin-left: 25%;
  width: 60%;
  max-width: 760px;
  max-height: 450px;
  padding-top: 20px;
  overflow: scroll;
}

.v_button {
  height: 143px;
  width: 200px;
  border-style:transparent;
  border-width: 3px;
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 50px;
}

.v_button:hover {
  color: aliceblue;
}

.whale {
  height: auto;
  max-width: 200px;
  position: absolute;
  right: 10px;
  bottom: 50px;
}

.harbor {
  height: auto;
  max-width: 100%;
  overflow: hidden;
}

.tri {
  height: 0px;
  width: 0px;
  border-style: solid;
  border-width: 20px;
  border-color: transparent transparent transparent #0163b0;
  margin: 40px 0px 20px 20px;
  float: left;
}

.small_title {
  color: gray;
}

.video_area {
  margin-left: 20%;
  width: 60%;
  height: 60%;
  text-align: center;
  position: relative;
  bottom: 0px;
}

.background {
  min-height: 500px;
  height: 60%;
  background-color: #0163b0;
  position: relative;
  border-radius: 50px;
  min-width: 760px;
  bottom: 0px;
  display:flex;
  justify-content:center;
  align-items:center;
}

#player {
  min-height: 360px;
  min-width: 64opx;
}