body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: Microsoft JhengHei;
  background-color: #fff9dc;
}

a {
  text-decoration: none;
}

a:link {
  color: #000;
}

a:visited {
  color: #000;
}

.bar_background {
  margin-top: 0px;
  margin-bottom: 50px;
  padding: 5px; 
  height: 150px;
  background-color: #fff;
}

.title_bar {
  margin-top: 10px;
  margin-left: 20%;
  height: 150px;
  width: 80%;
  margin-bottom: 50px; 
  min-width: 1000px;
}

.title {
  height: 110px;
  width: 200px;
  text-align: center;
  padding-bottom: 10px;
  margin: 5px;
  float: left;
}

.title:hover {
  background-color: #DDD;
  border-radius: 10px;
}

.line {
  height: 100px;
  width: 0px;
  border-color: #ec6d4f;
  border-style: solid;
  border-width: 2px;
  margin-top: 7px;
  margin-right: 5px;
  float: left;
}

.button_area {
  margin-left: 20%;
  width: 60%;
  height: 450px;
  padding-top: 20px;
  overflow: scroll;
}

.v_button {
  height: 143px;
  width: 200px;
  border-style: solid;
  border-width: 3px;
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 50px;
}

.v_button:hover {
}

.tri {
  height: 0px;
  width: 0px;
  border-style: solid;
  border-width: 20px;
  border-color: transparent transparent transparent #0163b0;
  margin: 40px 0px 20px 20px;
  float: left;
}

.small_title {
  color: gray;
}

.video_area {
  margin-left: 20%;
  width: 60%;
  text-align: center;
}

.background {
  height: 485;
  background-color: #0163b0;
  position: relative;
  top: 70px;
  border-radius: 50px 50px 0px 0px;
  min-width: 740px;
}

#player {
  margin-top: 80px;
  min-width: 64opx;
}