<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/comingsoon/style.css' />
  </head>
  <body>
    <main>
      <div id="block">
        <a href="https://www.facebook.com/groups/HelloNCU2019/"><img src="/comingsoon/FBicon.jpg" id="fbPic"></a>
      </div>
      
      <div id="block2">
        <img src="IG名片去背.png" id="ig_link"/>
      </div>

    </main>
    <div id="countdown">
        <% include js %>
    </div>
  </body>
</html>
