<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <% include ../layouts/head %>
  <link rel='stylesheet' href='/about/style.css' />
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <style>
    
    
  </style>
</head>

<body>
  <% include ../layouts/header %>
  <!-- The Modal -->
  <div id="myModal">
    <div id="modalcontent">
      <img src="程設組.jpg" alt="">
    </div>
  </div>
  <div id="main">
    <div id="outterTitleSpace">
      <div class="titleSpace">
        <span class="font-weight-bold" id="qatxt">ABOUT US</span>
        <span id="qatxt_c">關於我們</span>
        <img src="banner.PNG" alt="" id="banner">
      </div>
    </div>
    <div class="main d-flex">
      <div class="leftSide">
        <div class="option">
          <ul>
            <li><a href="#all"><i class="fas fa-angle-right"></i>全體工人</a></li>
            <li><a href="#execute"><i class="fas fa-angle-right"></i>執行組</a></li>
            <li><a href="#planning"><i class="fas fa-angle-right"></i>行銷企劃組</a></li>
            <li><a href="#programming"><i class="fas fa-angle-right"></i>程式設計組</a></li>
            <li><a href="#video"><i class="fas fa-angle-right"></i>媒體影音組</a></li>
            <li><a href="#art"><i class="fas fa-angle-right"></i>網頁美工組</a></li>
          </ul>
        </div>
      </div>
      <div id="mobileOption">
        <div class="container-fluid">
          <div class="row">
            <div class="col"><a href="#all"><i class="fas fa-angle-right"></i>全體工人</a></div>
            <div class="col"><a href="#execute"><i class="fas fa-angle-right"></i>執行組</a></div>
            <div class="col"><a href="#planning"><i class="fas fa-angle-right"></i>行銷企劃組</a></div>
          </div><br>
          <div class="row">
            <div class="col"><a href="#programming"><i class="fas fa-angle-right"></i>程式設計組</a></div>
            <div class="col"><a href="#video"><i class="fas fa-angle-right"></i>媒體影音組</a></div>
            <div class="col"><a href="#art"><i class="fas fa-angle-right"></i>網頁美工組</a></div>
          </div>
         </div>
      </div>
      <div class="rightSide">
        <div class="_card" id="all">
          <span class="title">全體工人</span>
          <img src="全體.jpg" alt="" class="photo">
          <span
            class="intro">為了讓新生一入學便能迅速了解學校，一群熱血的學長姊聚集起來組成新生知訊網團隊，藉由下學期及暑假的時間討論、撰寫程式及拍攝影片，最後將一切放在新生知訊網裡，等著各位中央大學的新鮮人去發掘，並開啟精采的大學生活。</span>
        </div>
        <div class="_card" id="execute">
          <span class="title">執行組</span>
          <img src="執行.jpg" .jpg" alt="" class="photo">
          <span class="intro">執行組負責統整知訊網的事務，與各個相關社團、系所、組織進行協商與聯絡，成為各單位之間的橋樑 ;
            更需招募知訊網工人，規劃網站的大方向，配合各個小組，共同創作出新生知訊網。</span>
        </div>
        <div class="_card" id="planning">
          <span class="title">行銷企劃組</span>
          <img src="企劃.jpg" alt="" class="photo">
          <span class="intro">行銷企劃組主導網頁的版面設計以及功能開發，提供創新的點子，再把理念交給網頁美工組與程式設計組，將理想付諸程式實現並美化，帶給新生一個有如通往大學橋樑的知訊網。</span>
        </div>
        <div class="_card" id="programming">
          <span class="title">程式設計組</span>
          <img src="程設.jpg" alt="" class="photo">
          <span class="intro">程式設計組以程式架構出知訊網，並利用程式碼，做出其他組希望達到的各種功能，是這個網頁幕後的大功臣，也希望能以程式能力，期許新生一個更好的大學生活。</span>
        </div>
        <div class="_card" id="video">
          <span class="title">媒體影音組</span>
          <img src="影音.jpg" alt="" class="photo">
          <span
            class="intro">媒體影音組負責製作所有知訊網的影片，包括拍攝、後製，編寫劇本，為的就是提供新生一個熟悉大學的機會，透過生活日常拍攝，甚至是各系所簡介，提早適應陌生的環境，更可從中體會到大學多采多姿的生活。</span>
        </div>
        <div class="_card" id="art">
          <span class="title">網頁美工組</span>
          <img src="美工.jpg" alt="" class="photo">
          <span class="intro">網頁美工組為單調的網頁模式注入生動活潑的靈魂，各處美編、精美的圖片都出自於他們之手，若說香水點綴了每個人的氣質，那網頁美工組肯定是知訊網不可或缺的芬芳。</span>
        </div>
      </div>
    </div>
  </div>
  <% include ../layouts/js %>
  <script>
    $(document).ready(function () {
      // $('a[href^="#"]').click(function(){
      //   $('.rightSide').animate({
      //         scrollTop: $( $.attr(this, 'href') ).offset().top-30
      //     }, 1000);          
      // });     
      if (location.href.split("#")[1] === "") {
        $(".option li").css("background-color", "transparent");
        // $("a[href='#all']").parent("li").find("i").css("display","inline");
        $("a[href='#all']").parent("li").css("background-color", "rgb(251,217,185)");
      } else {
        $(".option li").css("background-color", "transparent");
        // $("a[href='#"+location.href.split("#")[1]+"']").parent("li").find("i").css("display","inline");
        $("a[href='#" + location.href.split("#")[1] + "']").parent("li").css("background-color",
        "rgb(251,217,185)");
      }
      $(".option li").click(function () {
        $(".option li").css("background-color", "transparent");
        $(this).css("background-color", "rgb(251,217,185)");
      });
      $(".option li").mouseenter(function () {
        $(this).addClass("optionHover");
        // $(this).find("i").css("display","inline");
      });
      $(".option li").mouseleave(function () {
        $(this).removeClass("optionHover");
        // $(this).find("i").css("display","none");
      });
    });
  </script>
</body>


</html>