#footer {

}

/* 手機版 */
@media only screen and (max-width: 768px) {
    #loginHref {
        position: absolute;
        left: 20px;
        bottom: 25px;
        width: 140px;
        height: 50px;
        text-decoration: none;
    } 

    #topHref {
        position: absolute;
        right: 20px;
        bottom: 25px;
        width: 50px;
        height: 50px;
    }

    #topWord {
        position: relative;
        left: 20%;
        bottom: 38px;
        width: 40px;
        color: wheat;
    }
}

/* 電腦版 */
@media only screen and (min-width: 768px) {
    #loginHref {
        position: absolute;
        right: 120px;
        bottom: 25px;
        width: 140px;
        height: 50px;
        text-decoration: none;
    } 

    #topHref {
        position: absolute;
        right: 40px;
        bottom: 25px;
        width: 50px;
        height: 50px;
    }

    #topWord {
        position: relative;
        left: 20%;
        bottom: 38px;
        width: 85px;
        color: wheat;
    }
}

#loginHref:hover {
    animation-name: loginAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes loginAnimation{
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

#loginBtn {
    position: relative;
    width: 140px;
    height: 50px;
}

#loginWord {
    position: relative;
    left: 40%;
    bottom: 38px;
    width: 85px;
    color: wheat;
}

#topHref:hover {
    cursor: pointer;
    animation-name: topAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes topAnimation{
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

#topBtn {
    position: relative;
    width: 50px;
    height: 50px;
}

