@font-face {
    font-family: Noto Sans JP;
    src: url("/layouts/font/NotoSansJP-Regular.otf") format("opentype");
}

@font-face {
    font-family: Noto Sans JP;
    font-weight: 500;
    src: url("/layouts/font/NotoSansJP-Medium.otf") format("opentype");
}

@font-face {
    font-family: Noto Sans JP;
    font-weight: bold;
    src: url("/layouts/font/NotoSansJP-Bold.otf") format("opentype");
}

@font-face {
    font-family: Noto Sans JP;
    font-weight: 300;
    src: url("/layouts/font/NotoSansJP-Light.otf") format("opentype");
}

* {
    font-family: Noto Sans JP;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff9dc;
    /*背景顏色*/
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #736f6e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0 !important;
    margin: 0 !important;
}


#header {
    top: 0;
    width: 100%;
    position: relative;
    z-index: 4000;
}

#navbar {
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 60px;
    background-color: #fff9dc;
}

#toIndex {
    float: left;
    max-height: 60px;

}

#toIndex #indexpic {
    width: 115px;
}

#toIndex a {
    padding: 0 60px;
    display: inline-block;
    height: 30px;
}

#toLinks {
    float: right;
    max-height: 60px;
    position: relative;
    z-index: 4002;
}

#mySidenav {
    
    /* 100% Full-height */
    width: 100%;
    
    height: 0;

    position: fixed;
    /* Stay in place */

    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    /* Black*/
    overflow-y: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}
#myNavLinks{
    background-color: #fff9dc;
    width: 30%;
    min-width: 330px;
    z-index: 4003;
    position: relative;
    float: left;
}
#myNavPics{
    background-color: lightcoral;
    width: 70%;
    max-width: calc(100% - 330px);
    position: relative;
    float: right;
    top: 0;
    right: 0;
    z-index: 4001;
}

#mySidenav #links {
    list-style: none;
    position: absolute;
    top: 40px;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-width: none;
    padding: 0;
}

#mySidenav #links li {
    width: auto;
    padding: 15px 40px;
    height: calc(100%/9 - 60px/9) !important;

}

#mySidenav #links .link {
    font-size: 20px !important;
    color: #0163b0;
    text-decoration: none;
    white-space: nowrap;
    line-height: 0 !important;
}





/*****linksbutton******/
.lines-button span {
    display: block;
}

#navbtn {
    display: inline-block;
    margin: 0;
    border: 0;
    background: none;
    outline: none;
    height: 60px;
    /***navbar高度***/
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    transition: .3s;
    cursor: pointer;
    user-select: none;
    border-radius: 0.57143rem;
}

.lines-button:active {
    transition: 0;
}

.lines {
    display: inline-block;
    width: 2.5rem;
    /***長度***/
    height: 0.2rem;
    /***寬度***/
    background: #0163b0;
    border-radius: 0.28571rem;
    transition: 0.3s;
    position: relative;
}

.lines:before,
.lines:after {
    display: inline-block;
    width: 2.5rem;
    /***長度***/
    height: 0.2rem;
    /***寬度***/
    background: #0163b0;
    border-radius: 0.28571rem;
    transition: 0.3s;
    position: absolute;
    left: 0;
    content: '';
    -webkit-transform-origin: 0.28571rem center;
    transform-origin: 0.28571rem center;
}

/***間距***/
.lines:before {
    top: 0.65rem;
}

.lines:after {
    top: -0.65rem;
}

.lines-button:hover .lines:before {
    top: 0.8rem;
}

.lines-button:hover .lines:after {
    top: -0.8rem;
}

.lines-button.x.close .lines {
    background: transparent;
}

.lines-button.x.close .lines:before,
.lines-button.x.close .lines:after {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    top: 0;
    width: 2.5rem;
    /***長度***/
}

.lines-button.x.close .lines:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}

.lines-button.x.close .lines:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
}