<script>
    $(document).ready(function () {

        var temp;
        var properties1 = null
        var array1 = []

        $('.indexelepic[pictitle="排球場"]').css({
            "z-index": "2"
        })
        $('.indexelepic[pictitle="百花川"]').css({
            "z-index": "2"
        })
        $('.indexelepic[pictitle="小木屋鬆餅"]').css({
            "z-index": "4"
        })
        $('.indexelepic.hide').hide()

        $('.modal-header span svg').click(function () {
            $('#indexmodal').modal('hide')
        })


        $('.indexelepic').hover(function () {
            $(this).velocity({
                scale: 1.1
            }, 100)
        }, function () {
            $(this).velocity({
                scale: 1
            }, 100)
        })
        $('.indexelepic.modalshow').click(function (event) {
            $('.indexelepic').tooltip('hide');
            $.ajax({
                url: "indexmodal?id=" + event.currentTarget.attributes.alt.value,
                method: "GET",
                error: function (err) {

                },
                success: function (data) {
                    $('#indexmodal .modal-title').text(data.Element_Name)
                    $('#indexmodalp .p').html(data.Element_Intro)
                    for (let i = 0; i < data.Intropic.length; i++) {
                        $('.carousel-indicators').append(
                            "<li data-target='#carouselExampleIndicators' data-slide-to='" +
                            i + "'></li>")
                        $('#carouselExampleIndicators .carousel-inner').append(
                            "<div class='carousel-item'><img class='d-block w-100' src='/campus/" +
                            data.Intropic[i] + "'></div>")
                    }
                    $('.carousel-indicators li').first().addClass('active')
                    $('#carouselExampleIndicators .carousel-inner div').first().addClass(
                        'active')
                    $('#indexmodal').on('hide.bs.modal', function (e) {
                        $('.carousel-indicators li').remove()
                        $('#carouselExampleIndicators .carousel-inner .carousel-item')
                            .remove()
                        $('#indexmodal').off('hide.bs.modal')
                    })
                    $('#indexmodal').modal('show')
                }
            })
        })

        $('#List_index li').hover(function (event) {
            $('.indexelepic.hide[val=' + event.currentTarget.attributes.val.value + ']').show()
            $('.indexelepic[val=' + event.currentTarget.attributes.val.value + ']').velocity({
                scale: 1.1
            }, 100)
            $('.indexelepic[val=' + event.currentTarget.attributes.val.value + ']').stop().tooltip(
                'show')
        }, function (event) {
            $('.indexelepic.hide[val=' + event.currentTarget.attributes.val.value + ']').hide()
            $('.indexelepic[val=' + event.currentTarget.attributes.val.value + ']').velocity({
                scale: 1
            }, 100)
            $('.indexelepic[val=' + event.currentTarget.attributes.val.value + ']').stop().tooltip(
                'hide')
        })

        $('#List_index li').click(function (event) {
            $('.indexelepic[val=' + event.currentTarget.attributes.val.value + ']').stop().tooltip(
                'hide')
            $('.elelist').hide()
            array1 = ["系館", "運動", "餐廳", "設施", "住宿", "行政", "活動場地", "緊急醫療"]
            for (let i = 1; i <= 8; i++) {
                if (event.currentTarget.attributes.val.value == i) {
                    if ($(this)[0] === temp) {
                        if ($('.main_list_detail').hasClass('clicked')) {
                            temp = $(this)[0]

                            $('#List_index li').hover(function (event) {
                                $('.indexelepic.hide[val=' + event.currentTarget.attributes.val
                                    .value + ']').show()
                                $('.indexelepic[val=' + event.currentTarget.attributes.val
                                    .value + ']').velocity({
                                    scale: 1.1
                                }, 100)
                                $('.indexelepic[val=' + event.currentTarget.attributes.val
                                    .value + ']').stop().tooltip('show')
                            }, function (event) {
                                $('.indexelepic.hide[val=' + event.currentTarget.attributes.val
                                    .value + ']').hide()
                                $('.indexelepic[val=' + event.currentTarget.attributes.val
                                    .value + ']').velocity({
                                    scale: 1
                                }, 100)
                                $('.indexelepic[val=' + event.currentTarget.attributes.val
                                    .value + ']').stop().tooltip('hide')
                            })
                            $('#map').css("filter", "none")
                            $('.indexelepic').css("filter", "none")
                            $('.indexelepic.hide[val=' + event.currentTarget.attributes.val.value + ']')
                                .hide()
                            $('.main_list_detail').stop().collapse('hide')
                            $('.main_list_detail').removeClass('clicked')



                        } else {

                            temp = $(this)[0]
                            $('#listtitle').text(array1[i - 1])
                            $('.indexelepic').css("filter", "brightness(55%)")
                            $('#map').css("filter", "brightness(55%)")
                            $('#List_index li').unbind('mouseenter mouseleave')
                            $('.indexelepic.hide[val=' + event.currentTarget.attributes.val.value + ']')
                                .show()
                            $('.indexelepic[val=' + event.currentTarget.attributes.val.value + ']').css(
                                "filter", "none")
                            $('.main_list_detail li[val=' + i + ']').show()
                            $('.main_list_detail').stop().collapse('show', {
                                direction: "up"
                            })
                            $('.main_list_detail').addClass('clicked')
                        }


                        if ($('.mapmove').hasClass('clicked')) {
                            properties1 = {
                                'margin-right': '11%',
                                'margin-left': '20%'
                            };

                            $('.mapmove').removeClass('clicked')
                            if ($(window).width() > 770) {
                                $('.sailor1').stop().velocity({
                                    opacity: 1,
                                    translateX: '1rem'
                                }, {
                                    display: 'block'
                                }, {
                                    duration: 200
                                }, 'easeInOutSine');
                                $('.sailor2').stop().velocity({
                                    opacity: 0,
                                    translateX: '-1rem'
                                }, {
                                    display: 'block'
                                }, {
                                    duration: 200
                                }, 'easeInOutSine');
                                $('.show2D').stop().velocity({
                                    opacity: 1,
                                    translateX: '1rem'
                                }, {
                                    display: 'block'
                                }, {
                                    duration: 200
                                }, 'easeInOutSine');
                            }
                        } else {
                            properties1 = {
                                'margin-left': '4.5%',
                                'margin-right': '26.5%'
                            };
                            $('.mapmove').addClass('clicked')
                            if ($(window).width() > 770) {
                                $('.sailor1').stop().velocity({
                                    opacity: 0,
                                    translateX: '-1rem'
                                }, {
                                    display: 'none'
                                }, {
                                    duration: 200
                                }, 'easeInOutSine');
                                $('.sailor2').stop().velocity({
                                    opacity: 1,
                                    translateX: '1rem'
                                }, {
                                    display: 'block'
                                }, {
                                    duration: 200
                                }, 'easeInOutSine');
                                $('.show2D').stop().velocity({
                                    opacity: 0,
                                    translateX: '-1rem'
                                }, {
                                    display: 'none'
                                }, {
                                    duration: 200
                                }, 'easeInOutSine');
                            }
                        }
                    } else {
                        temp = $(this)[0]
                        properties1 = {
                            'margin-left': '4.5%',
                            'margin-right': '26.5%'
                        };
                        if ($(window).width() > 770) {
                            $('.sailor1').stop().velocity({
                                opacity: 0,
                                translateX: '-1rem'
                            }, {
                                display: 'none'
                            }, {
                                duration: 200
                            }, 'easeInOutSine');
                            $('.sailor2').stop().velocity({
                                opacity: 1,
                                translateX: '1rem'
                            }, {
                                display: 'block'
                            }, {
                                duration: 200
                            }, 'easeInOutSine');
                            $('.show2D').stop().velocity({
                                opacity: 0,
                                translateX: '-1rem'
                            }, {
                                display: 'none'
                            }, {
                                duration: 200
                            }, 'easeInOutSine');
                        }
                        $('.mapmove').addClass('clicked')
                        if ($('.main_list_detail').hasClass('clicked')) {

                            $('.indexelepic').css("filter", "brightness(55%)")
                            $('.indexelepic.hide').hide()
                            $('.indexelepic[val=' + event.currentTarget.attributes.val.value + ']').css(
                                "filter", "none")
                            $('.main_list_detail').stop().collapse('hide')
                            $('.main_list_detail').on('hidden.bs.collapse', function () {
                                $('.main_list_detail li[val=' + i + ']').show()
                                $('#listtitle').text(array1[i - 1])
                                $('.indexelepic.hide[val=' + event.currentTarget.attributes.val
                                    .value + ']').show()
                                $('.main_list_detail').stop().collapse('show')
                                $('.main_list_detail').off('hidden.bs.collapse');
                            })
                            $('.main_list_detail').addClass('clicked')
                        } else {

                            $('#listtitle').text(array1[i - 1])
                            $('.indexelepic').css("filter", "brightness(55%)")
                            $('#map').css("filter", "brightness(55%)")
                            $('#List_index li').unbind('mouseenter mouseleave')
                            $('.indexelepic.hide[val=' + event.currentTarget.attributes.val.value + ']')
                                .show()
                            $('.indexelepic[val=' + event.currentTarget.attributes.val.value + ']').css(
                                "filter", "none")
                            $('.main_list_detail li[val=' + i + ']').show()

                            $('.main_list_detail').stop().collapse('show')
                            $('.main_list_detail').addClass('clicked')
                        }

                    }

                }
            }
            $('.mapmove').stop().velocity(properties1, 400)
        })

        $('#closemainlist').click(function () {
            $('#map').css("filter", "none")
            $('.indexelepic').css("filter", "none")
            $('.indexelepic.hide').hide()
            $('.main_list_detail').stop().collapse('hide')
            $('.main_list_detail').removeClass('clicked')
            $('.mapmove').removeClass('clicked')

            if ($(window).width() > 770) {
                $('.sailor1').stop().velocity({
                    opacity: 1,
                    translateX: '1rem'
                }, {
                    display: 'block'
                }, {
                    duration: 200
                }, 'easeInOutSine');
                $('.sailor2').stop().velocity({
                    opacity: 0,
                    translateX: '-1rem'
                }, {
                    display: 'none'
                }, {
                    duration: 200
                }, 'easeInOutSine');
                $('.show2D').stop().velocity({
                    opacity: 1,
                    translateX: '1rem'
                }, {
                    display: 'block'
                }, {
                    duration: 200
                }, 'easeInOutSine');
            }

            properties1 = {
                'margin-right': '11%',
                'margin-left': '20%'
            };
            $('.mapmove').stop().velocity(properties1, 400)
        })

        $('li img').hover(function () {
            console.log($(this)[0].style.top);
            $(this)[0].style.top = '-10%';
        }, function () {
            console.log($(this)[0].style.top);
            $(this)[0].style.top = '0%';
        })

        $('.main_list_detail li').hover(function () {
            $('.indexelepic[pictitle="' + $(this).text().trim() + '"]').velocity({
                scale: 1.1
            }, 100)
            $('.indexelepic[pictitle="' + $(this).text().trim() + '"]').tooltip('show')
        }, function () {
            $('.indexelepic[pictitle="' + $(this).text().trim() + '"]').velocity({
                scale: 1
            }, 100)
            $('.indexelepic[pictitle="' + $(this).text().trim() + '"]').tooltip('hide')
        })
        $('.elelist.modalshow').click(function (event) {
            $('.indexelepic[alt=' + event.currentTarget.attributes.idconnect.value + ']').tooltip(
                'hide')
            $.ajax({
                url: "indexmodal?id=" + event.currentTarget.attributes.idconnect.value,
                method: "GET",
                error: function (err) {

                },
                success: function (data) {
                    $('#indexmodal .modal-title').text(data.Element_Name)
                    $('#indexmodalp .p').html(data.Element_Intro)
                    for (let i = 0; i < data.Intropic.length; i++) {
                        $('.carousel-indicators').append(
                            "<li data-target='#carouselExampleIndicators' data-slide-to='" +
                            i + "'></li>")
                        $('#carouselExampleIndicators .carousel-inner').append(
                            "<div class='carousel-item'><img class='d-block w-100 forlzlo' src='/campus/" +
                            data.Intropic[i] + "'></div>")
                    }
                    $('.forlzlo').lazyload();
                    $('.carousel-indicators li').first().addClass('active')
                    $('#carouselExampleIndicators .carousel-inner div').first().addClass(
                        'active')
                    $('#indexmodal').on('hide.bs.modal', function (e) {
                        $('.carousel-indicators li').remove()
                        $('#carouselExampleIndicators .carousel-inner .carousel-item')
                            .remove()
                        $('#indexmodal').off('hide.bs.modal')
                    })
                    $('#indexmodal').modal('show')

                }
            })
        })

    })
    $('.indexelepic').tooltip();

    $('.elelist').hover(function () {
        $(this)[0].style.color = '#0E4A65';
    }, function () {
        $(this)[0].style.color = '#f0f8ff';
    })

    $("#wheel").hover(
        function () {
            $('#wheel').animate({
                deg: 360
            }, {
                duration: 500,
                step: function (now) {
                    console.log(now);
                    $(this).css({
                        '-webkit-transform': 'rotate(' + now + 'deg)',
                        '-moz-transform': 'rotate(' + now + 'deg)',
                        'transform': 'rotate(' + now + 'deg)'
                    });
                    if (now % 360 == 0) $('#wheel').removeClass("animating");
                }
            });
        },
        function () {
            $('#wheel').animate({
                deg: -360
            }, {
                duration: 500,
                step: function (now) {
                    console.log(now);
                    $(this).css({
                        '-webkit-transform': 'rotate(' + now + 'deg)',
                        '-moz-transform': 'rotate(' + now + 'deg)',
                        'transform': 'rotate(' + now + 'deg)'
                    });
                    if (now % 360 == 0) $('#wheel').removeClass("animating");
                }
            });
        }
    );

    $(".zoomContainer").hover(
        function () {
            $(".zoomWindow").css("background-color", "white");
        },
        function () {
            $(".zoomWindow").css("background-color", "");
        }
    );

    $(".pre").hover(
        function () {
            this.setAttribute('src', '/campus/貝5.png');
        },
        function () {
            this.setAttribute('src', '/campus/貝7.png');
        }
    );

    $(".next").hover(
        function () {
            this.setAttribute('src', '/campus/貝6.png');
        },
        function () {
            this.setAttribute('src', '/campus/貝8.png');
        }
    );

    function mg() {
        console.log($(".MAP2D").hasClass("zoom"));
        if ($(".MAP2D").hasClass("zoom")) {
            $(".MAP2D").removeClass("zoom")
            $(".zoomContainer").remove();
        } else {
            $(".MAP2D").addClass("zoom");
            $(".zoom").elevateZoom({
                zoomType: "lens",
                lensShape: "round",
                lensSize: 200
            });
        }
    }

    $('.mg').hover(function () {
        $(this).velocity({
            scale: 1.2
        }, 100)
    }, function () {
        $(this).velocity({
            scale: 1
        }, 100)
    })
</script>