
body {
  padding: 50px;
  /*禁止反白*/
  -webkit-user-select:none;
  -moz-user-select:none;
  -o-user-select:none;
  user-select:none;
}

html {
  overflow: -moz-hidden-unscrollable;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  height: 100%;
  width: calc(100vw + 18px);
  overflow: auto;
}

#show::-webkit-scrollbar {
  display: none;
}

#show {
  -ms-overflow-style: none;
  height: 100%;
  width: calc(100vw + 18px);
  overflow: auto;
}

.index_bg {
  background-color: rgb(13, 73, 102);
}

.other_bg {
  background-color: #fff9dc;
}

/*show文字自動縮排*/
#show_content{
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap:break-word;
}


.big {
    transform: scale(1.3);  
    font-size:40px;
    text-align: center
}

.identity {
  width: 100%;
  height: 100%;
  position: relative;
}


.character {
  width: 25vw;
  height: 50vh;
  left: 12vw;
  top: 20vh;
  position: relative;
}

.fish_size {
	width: auto;
	height: auto;
	max-width: 100%;
  max-height: 100%;
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
  position: absolute;
}



/*標題*/
.nav {
  position: relative;
  background-color: white;
  width: 31vw;
  height: 85px;
  box-shadow:2px 2px 2px rgba(20%,20%,40%,0.3),4px 4px 6px rgba(20%,20%,40%,0.1),6px 6px 12px rgba(20%,20%,40%,0.1);
}

.sign {
  position: absolute;
  border-left: 5px solid #7CA7BC;
  padding-left: 20px;
  left: 104px;
  margin: 1vh 0;
  height: 80%;
}

.sign p {
  margin: 0;
}

.p1 {
  color: #FB8360;
  font-size: 28px;
  font-weight: bold;
}

.p2 {
  color: #767171;
  font-size: 17px;
}




/*選單*/
.sidenav {
  height: 79vh;
  width: 14vw;
  position: absolute;
  z-index: 1;
  padding-top: 2vh;
  left: 0;
  padding-left: 3.5vw;
}
.sidenav2 {
  padding-top: 2vh;
  height: 79vh;
  width: 17vw;
  position: absolute;
  left: 14vw;
  color: rgb(13, 73, 102);
}


.sidenav2 p {
  color: rgb(13, 73, 102);
  display: block;
  font-size: 1.7vw;
  font-weight: bold;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.sidenav2 p:hover {
  background-color: rgb(251,217,185);
  border-radius: 3px;
  cursor: pointer;
  background-image:url("螃蟹.png");
  background-position:center right;
  background-size: 20% auto;
  background-repeat: no-repeat;
}

.page_now {
  border-radius: 3px;
  background-color: rgb(251,217,185);
}

.icon {
  width: auto;
  height: auto;
  max-width: 70%;
  max-height: 65%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 15% 0;
}


/*顯示資料的地方*/ 
.box {
  overflow-x: hidden;
  background-color: #FFFDF1;
  position: absolute;
  width: 67vw;
  height: 90vh;
  right: 0vw;
  top:60px;
  margin-left: 1vw;
  padding: 4vh 5vw;
}

.title {
  font-size: 1.8vw;
  font-weight: bold;
  color: rgb(58, 154, 216);
}


.content {
  overflow-y: hidden;
  font-size: 1.2vw;
  padding-top: 2vh;
}



/*.gra_bg {
  width: 30vw;
  height: 73vh;
  background-size: 50%;
  background-image:url("草.png"),url("魚.png"),url("人魚.png");
  background-repeat: no-repeat, no-repeat, no-repeat;  
  background-position: 0 bottom, 20px 20px, 400px bottom; 
  z-index: 1;
}*/



/*------------------------------RWD-------------------------------*/
/*index*/
@media only screen and (min-width: 1400px) {
  .fish_size {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    position: absolute;
  }

  .identity div {
    float: left;
  }

  .return_space {
    position: absolute;
    padding: 0.5vh 0 0.5vh 10px;
    margin: auto 0;
  }

  .return {
    width: 85px;
    height: 75px;
  }

}

@media only screen and (min-width: 980px) and (max-width: 1400px)  {

  .modal-dialog{
    overflow-y: initial !important
  }
  .modal-body{
    height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .identity div {
    float: left;
  }
  
  .fish_size {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    position: absolute;
  }

  .return_space {
    position: absolute;
    padding: 0.5vh 0 0.5vh 10px;
    margin: auto 0;
  }

  .return {
    width: 85px;
    height: 75px;
  }

}

@media only screen and (min-width: 768px) and (max-width: 980px)  {

  .modal-dialog{
    overflow-y: initial !important
  }
  .modal-body{
    height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .identity div {
    float: left;
  }
  
  .fish_size {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 80%;
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    position: absolute;
  }

  .return_space {
    position: absolute;
    padding: 0.5vh 0 0.5vh 10px;
    margin: auto 0;
  }

  .return {
    width: 85px;
    height: 75px;
  }

}

@media only screen and (max-width: 768px)  {

  .modal-dialog {
    max-width: 90%; 
  }
  .modal-body {
    height: 80vh;
    overflow: auto;
  }

  .fish_size {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin-left: 5px;
    position: absolute;
    float:left;
  }
  .character {
    width: 25vw;
    height: 50vh;
    left: 12vw;
    top: 20vh;
    position: relative;
    
  }

  /*大學生*/
  .undergraduate {
    margin: 3vh 3vw;
  }

  .link_und {
    width: 20vw;
    margin: 1vh 9vw;
    font-size: 3.5vw;
    text-decoration: none;
    color: black;
  }

  .link_und:hover {
    text-decoration: none;
    color: black;
  }

  .p_option {
    font-weight: 500;
    color: rgb(13, 73, 102);
    height: 10vh;
    font-size: 3.5vw;
    padding-top: 1.5vh;
    padding-left: 34vw;
    cursor: pointer;
  }

  #phone_title {
    font-size: 25px ;
    font-weight: bold;
    color: rgb(58, 154, 216);
  }

  .fade {
    display: none;
  }

  .now {
    border-bottom: solid rgb(91, 155, 213) 0.5vw;
    text-decoration: none;
  }

  .bg {   
    height: 10vh;
    background-color: rgb(255,215,92);
  }

  /*研究生*/
  .graduate {
    margin: 3vh 10vw;
  }

  .link_gra {
    width: 45vw;
    margin: 1vh 12vw;
    font-size: 4vw;
    text-decoration: none;
    color: black;
  }

  .link_gra:hover {
    text-decoration: none;
    color: black;
  }

  /*共同事項*/
  .common {
    margin: 3vh 0;
  }
  .link_com {
    width: 20vw;
    margin: 1vh 45vw;
    font-size: 4.5vw;
    text-decoration: none;
    color: black;
  }

  .link_com:hover {
    text-decoration: none;
    color: black;
  }


}


/*手機板*/
@media only screen and (max-device-width: 768px)  {
  /*index*/
  .fish_size {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin-left: 5px;
    position: absolute;
    float:left;
  }

  .character {
    width: 25vw;
    height: 50vh;
    left: 12vw;
    top: 20vh;
    position: relative;
    
  }

  /*大學生*/
  .undergraduate {
    margin: 3vh 3vw;
  }

  .link_und {
    width: 20vw;
    margin: 1vh 9vw;
    font-size: 3.5vw;
    text-decoration: none;
    color: black;
  }

  .p_option {
    font-weight: 500;
    color: rgb(13, 73, 102);
    height: 10vh;
    font-size: 3.5vw;
    padding-top: 1.5vh;
    padding-left: 34vw;
    cursor: pointer;
  }

  .fade {
    display: none;
  }

  .now {
    border-bottom: solid rgb(91, 155, 213) 0.5vw;
    text-decoration: none;
  }

  /*研究生*/
  .graduate {
    margin: 3vh 10vw;
  }

  .link_gra {
    width: 45vw;
    margin: 1vh 12vw;
    font-size: 4vw;
    text-decoration: none;
    color: black;
  }

  /*共同事項*/
  .common {
    margin: 3vh 0;
  }
  .link_com {
    width: 20vw;
    margin: 1vh 45vw;
    font-size: 4.5vw;
    text-decoration: none;
    color: black;
  }

  /*show modal*/

  #phone_title {
    font-size: 25px ;
    font-weight: bold;
    color: rgb(58, 154, 216);
  }

  .modal-dialog {
    max-width: 90%; 
  }

  .modal-body {
    height: 90vh;
    overflow: auto;
  }

}
