
body {
  padding: 50px;
  /*禁止反白*/
  -webkit-user-select:none;
  -moz-user-select:none;
  -o-user-select:none;
  user-select:none;
}

/*------------------------bar隱藏-------------------------------------*/
html {
  overflow: -moz-hidden-unscrollable;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  width: calc(100vw + 18px);
  overflow-y: auto;
  overflow-x: hidden;
}

/*---------------------------背景色---------------------------------*/

.index_bg {
  background-color: rgb(13, 73, 102);
}

.other_bg {
  background-color: #fff9dc;
}

.p_bg {
  background-color: rgb(251,217,185);
}

/*----------------------------------------------------------------*/
/*show文字自動縮排*/
#show_content{
  overflow-y: scroll;
  overflow-x: auto;
  height: 100%;
  word-wrap:break-word;
}

/*--------------------------------index-------------------------*/
.big {
    transform: scale(1.3);  
    font-size:40px;
    text-align: center
}

.identity {
  width: 100%;
  height: 100%;
  position: relative;
}

.character {
  width: 25vw;
  height: 50vh;
  left: 12vw;
  top: 20vh;
  position: relative;
}

.fish_size {
	width: auto;
	height: auto;
	max-width: 100%;
  max-height: 100%;
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
  position: absolute;
}

.fish_size2 {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 84%;
  top: 0;
  bottom: 30%;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}

.fish_size3 {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 37%;
  top: 76%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}


/*--------------------------bar----------------------------*/
.nav {
  position: relative;
  background-color: white;
  width: 31vw;
  height: 85px;
}

.sign {
  position: absolute;
  border-left: 5px solid #7CA7BC;
  padding-left: 20px;
  left: 104px;
  margin: 1vh 0;
  height: 80%;
}

.sign p {
  margin: 0;
}

.p1 {
  color: #FB8360;
  font-size: 28px;
  font-weight: bold;
}

.p2 {
  color: #767171;
  font-size: 17px;
}

.return_space {
  width: 83px;
  height: 82px;
  position: absolute;
  padding: 2.5vh 0 2.5vh 15px;
  margin: auto 0;
}

.return {
  width: 100%;
  height: 100%;
}

/*--------------------------選單--------------------------*/
.sidenav {
  height: calc(100vh - 145px);
  width: 14vw;
  position: absolute;
  z-index: 1;
  left: 0;
  padding-left: 3.5vw;
}

.sidenav2 {
  height: calc(100vh - 145px);
  width: 17vw;
  position: absolute;
  left: 14vw;
}

.sidenav2 p {
  color: rgb(32, 56, 100);
  display: block;
  font-size: 1.6vw;
  margin: 0;
}

.page_now {
  border-radius: 3px;
  background-color: rgb(251,217,185);
}

.icon {
  width: auto;
  height: auto;
  max-width: 70%;
  max-height: 65%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 15% 0;
}

/*-------------------顯示資料的地方--------------------------*/ 
.box {
  overflow-x: hidden;
  background-color: #FFFDF1;
  position: absolute;
  width: 67vw;
  height: calc(100vh - 60px);
  right: 3px;
  top:60px;
  margin-left: 1vw;
  padding: 4vh 5vw;
}

.gra_bg {
  width: 45vw;
  height: 79vh;
  background-size: 100%;
  background-image:url("MERMAID.png");
  background-repeat: no-repeat;  
  background-position: left -5vw bottom; 
  z-index: -1;
}

/*------------------------------RWD----------------------------------*/
@media only screen and (min-width: 1400px) {
  .sidenav2 p:hover {
    background-color: rgb(251,217,185);
    border-radius: 3px;
    cursor: pointer;
  }

  .identity div {
    float: left;
  }
  
  .fish_size {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    position: absolute;
  }

  .title {
    font-size: 1.8vw;
    font-weight: bold;
    color: rgb(58, 154, 216);
  }
  
  .content {
    overflow-y: hidden;
    font-size: 1.2vw;
    padding-top: 2vh;
  }

}

@media only screen and (min-width: 1025px) and (max-width: 1400px)  {
  .sidenav2 p:hover {
    background-color: rgb(251,217,185);
    border-radius: 3px;
    cursor: pointer;
  }

  .modal-dialog{
    overflow-y: initial !important
  }
  .modal-body{
    height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .identity div {
    float: left;
  }
  
  .fish_size {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    position: absolute;
  }

  .title {
    font-size: 25px;
    font-weight: bold;
    color: rgb(58, 154, 216);
  }
  
  .content {
    overflow-y: hidden;
    font-size: 16px;
    padding-top: 2vh;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1025px)  {
  

  .modal-dialog{
    overflow-y: initial !important
  }
  .modal-body{
    height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .identity div {
    float: left;
  }
  
  .fish_size {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 80%;
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    position: absolute;
  }

  .fish_size2 {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 66%;
    top: 0;
    bottom: 22%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
  }

  .fish_size3 {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 30%;
    top: 62%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
  }

.sidenav2 p {
  color: rgb(13, 73, 102);
  display: block;
  font-size: 1.7vw;
  margin: 0;
  }

  .title {
    font-size: 20px;
    font-weight: bold;
    color: rgb(58, 154, 216);
  }
  
  .content {
    overflow-y: hidden;
    font-size: 14px;
    padding-top: 2vh;
  }

}

 @media only screen and (max-width: 768px)  {

  .modal {
    top:56px;
    background-color: white;
  }

  .modal-dialog {
    max-width: 90%; 
  }
  .modal-body {
    height: 77vh;
    overflow: auto;
  }

  .character {
    width: 100vw;
    height: 30vh;
    left: 0;
    top: 0;
    position: relative;
    margin: auto;
  }

  .fish_size {
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    position: absolute;
    margin-left: 20vw;
  }

  .fish_size2 {
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    position: absolute;
    margin-left: 25vw;
  }

  .index_p {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 30vh;
    font-size: 5.5vw;
    margin-left: 52vw;
    color: white;
  }

  a:hover {
    text-decoration: none;
    color: black;
  }

  .bg {
    height: calc(var(--vh,1vh)*100 - 60px);
    background-size: 100%;
    background-image:url("手機背景.png");
    background-repeat: no-repeat;  
    background-position:bottom;
    background-color: rgba(255, 255, 255, .3);
    background-blend-mode: lighten;
  }

  .choose {
    height: calc(var(--vh,1vh)*100 - 60px);
  }

  .fade {
    display: none;
  }

  .now {
    border-bottom: solid rgb(91, 155, 213) 0.5vw;
    text-decoration: none;
  }

  .bar {
    width: 100%;
    text-align: center;
    margin: 0
  }

  .p_option {
    font-weight: 500;
    color: rgb(32, 56, 100);
    font-size: 4vw;
    padding-left: 32vw;
    margin: 0;
    cursor: pointer;
  }

  #phone_title {
    font-size: 25px ;
    font-weight: bold;
    color: rgb(58, 154, 216);
  }

  /*大學生*/
  .undergraduate {
    padding: 3vh 0vw;
  }

  .link_und {
    width: 20vw;
    margin: 0 4vw;
    font-size: 5vw;
    text-decoration: none;
    color: black;
  }

  .link_und:hover {
    text-decoration: none;
    color: black;
  }


  /*研究生*/
  .graduate {
    margin: 3vh 0vw;
  }

  .link_gra {
    width: 45vw;
    margin: 1vh 11vw;
    font-size: 5vw;
    text-decoration: none;
    color: black;
  }

  .link_gra:hover {
    text-decoration: none;
    color: black;
  }

  /*共同事項*/
  .common {
    margin: 3vh 0;
  }
  .link_com {
    width: 20vw;
    margin: 1vh 0vw;
    font-size: 5.2vw;
    text-decoration: none;
    color: black;
  }

  .link_com:hover {
    text-decoration: none;
    color: black;
  }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
  .character {
    width: 29vw;
    height: 35vh;
    left: 5vw;
    top: 29vh;
    position: relative;
  }
  
  .fish_size {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    position: absolute;
  }

  .fish_size2 {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 81%;
    top: 0;
    bottom: 30%;
    left: 1.2vw;
    right: 0;
    margin: auto;
    position: absolute;
  }

  .fish_size3 {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 37%;
    top: 77%;
    bottom: 0;
    left: 1.2vw;
    right: 0;
    margin: auto;
    position: absolute;
  }
/*美人魚會有錯*/
  .size_sp {
    width: auto;
    height: auto;
    max-width: 108%;
    max-height: 100%;
    top: 0;
    bottom: 0;
    left: 2.1vw;
    right: 0;
    margin: auto;
    position: absolute;
  }

  .modal {
    top:60px;
    background-color: white;
  }

}

/*手機板*/
@media only screen and (max-device-width: 768px){
  .character {
    width: 100vw;
    height: 30vh;
    left: 0;
    top: 0;
    position: relative;
    margin: auto;
  }

  .fish_size {
    width: auto;
    height: auto;
    max-width: 63%;
    max-height: 80%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin-left: 14vw;
    padding-top: 2.5vh;
  }

  .fish_size2 {
    width: auto;
    height: auto;
    max-width: 85%;
    max-height: 85%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin-left: 22vw;
    margin-top: 1vh;
    padding-top: 3.5vh;
  }

  .index_p {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 32.5vh;
    font-size: 8.5vw;
    margin-left: 55vw;
    color: white;
  }

  .fade {
    display: none;
  }

  .now {
    border-bottom: solid rgb(91, 155, 213) 0.5vw;
    text-decoration: none;
  }

  .bar {
    width: 100%;
    
    text-align: center;
  }

  .options {
    height: calc(var(--vh,1vh)*100 - var(--vh,1vh)*3 - 9vw);
    overflow-y: scroll;
  }

  .p_option {
    padding-left: 40px;
    font-weight: 500;
    color: rgb(32, 56, 100);
    font-size: 6.5vw;
    padding-left: 22vw;
    margin-right: 0;
    cursor: pointer;
  }

  /*大學生*/
  .undergraduate {
    padding: 3vh 0vw;
  }

  .link_und {
    width: 20vw;
    margin: 0 4vw;
    font-size: 6.3vw;
    text-decoration: none;
    color: black;
  }
  
  /*研究生*/
  .graduate {
    margin: 3vh 0;
  }

  .link_gra {
    width: 45vw;
    margin: 1vh 8vw;
    font-size: 7vw;
    text-decoration: none;
    color: black;
  }

  /*共同事項*/
  .common {
    margin: 3vh 0;
  }
  .link_com {
    width: 20vw;
    margin: 1vh 0vw;
    font-size: 8vw;
    text-decoration: none;
    color: black;
  }

  /*show modal*/

  #phone_title {
    font-size: 25px ;
    font-weight: bold;
    color: rgb(58, 154, 216);
  }

  .modal {
    top:60px;
    background-color: white;
  }

  .modal-dialog {
    max-width: 96vw;
    max-height: 88vh;
  }

  .modal-body {
    height: 66vh;
    overflow-x: scroll;
    overflow-y: scroll;
  }
}

 @media only screen and (max-device-width: 768px) and (orientation:landscape)  {

  .modal {
    top:40px;
  }

  .index_p {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 65vh;
    font-size: 8.5vw;
    margin-left: 55vw;
    color: white;
  }

  .character {
    width: 100vw;
    height: 65vh;
    left: 0;
    top: 2vh;
    position: relative;
    margin: auto;
  }
  
  .fish_size {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin-left: 14vw;
    padding-top: 2.5vh;
  }

  .bar {
    width: 100%;
    text-align: center;
  }

  .p_option {
    font-weight: 500;
    color: rgb(32, 56, 100);
    height: 8vh;
    font-size: 5vw;
    padding-left: 31vw;
    margin-top: 12.5vh;
    cursor: pointer;
  }

  .link_und {
    width: 20vw;
    margin: 0 4vw;
    font-size: 5.3vw;
    text-decoration: none;
    color: black;
  }

  .link_gra {
    width: 45vw;
    margin: 1vh 8vw;
    font-size: 5.8vw;
    text-decoration: none;
    color: black;
  }

  .link_com {
    width: 20vw;
    margin: 1vh 0vw;
    font-size: 6.3vw;
    text-decoration: none;
    color: black;
  }

} 
