body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html {
  overflow: -moz-hidden-unscrollable;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  height: 100%;
width: calc(100vw + 18px);
overflow: auto;
}

.index_bg {
  background-color: rgb(13, 73, 102);
}

.other_bg {
  background-color: #fff9dc;
}

/*show文字自動縮排*/
#show_content{
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap:break-word;
}


.big {
    transform: scale(1.3);  
    font-size:40px;
    text-align: center
}

.identity {
  width: 100%;
  height: 100%;
  position: relative;
}

/*.identity div {
  float: left;
}*/

.character {
  width: 25vw;
  height: 50vh;
  left: 12vw;
  top: 20vh;
  position: relative;
}

.fish_size {
	width: auto;
	height: auto;
	max-width: 100%;
  max-height: 100%;
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
  position: absolute;
}



/*標題*/
.nav {
  position: relative;
  background-color: white;
  width: 100%;
  height: 85px;
  box-shadow:2px 2px 2px rgba(20%,20%,40%,0.3),4px 4px 6px rgba(20%,20%,40%,0.1),6px 6px 12px rgba(20%,20%,40%,0.1);
}

/*.return_space {
  position: absolute;
  width: 14vw;
  height: 11vh;
  padding: 0.5vh 0 0.5vh 3vw;
}

.return {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 115%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}*/


.sign {
  position: absolute;
  border-left: 6px solid #ffcc00;
  padding-left: 20px;
  left: 14vw;
  margin: 1vh 0;
  height: 80%;
}

.sign p {
  margin: 0;
}

.p1 {
  color: rgb(20, 20, 102);
  font-size: 28px;
  font-weight: bold;
}

.p2 {
  color: gray;
  font-size: 17px;
}




/*選單*/
.sidenav {
  height: 79vh;
  width: 14vw;
  position: absolute;
  z-index: 1;
  padding-top: 2vh;
  left: 0;
  padding-left: 3.5vw;
}
.sidenav2 {
  padding-top: 2vh;
  height: 79vh;
  width: 17vw;
  position: absolute;
  left: 14vw;
  color: rgb(13, 73, 102);
}


.sidenav2 p {
  color: rgb(13, 73, 102);
  display: block;
  font-size: 1.3vw;
  font-weight: bold;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.sidenav2 p:hover {
  background-color: rgb(251,217,185);
  border-radius: 3px;
  cursor: pointer;
  background-image:url("螃蟹.png");
  background-position:center right;
  background-size: 20% auto;
  background-repeat: no-repeat;
}

.page_now {
  border-radius: 3px;
  background-color: rgb(251,217,185);
}

.icon {
  width: auto;
  height: auto;
  max-width: 70%;
  max-height: 65%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 15% 0;
}

/*顯示資料的地方*/ 
.box {
  overflow-x: hidden;
  background-color: #FFFDF1;
  position: absolute;
  width: 67vw;
  height: 77vh;
  right: 0vw;
  margin-top:1vh;
  margin-left: 1vw;
  padding: 4vh 5vw;
}

.title {
  font-size: 1.8vw;
  font-weight: bold;
  color: rgb(58, 154, 216);
}


.content {
  overflow-y: hidden;
  font-size: 1.2vw;
  padding-top: 2vh;
}

.modal-dialog{
  overflow-y: initial !important
}
.modal-body{
  height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}

/*.gra_bg {
  width: 30vw;
  height: 73vh;
  background-size: 50%;
  background-image:url("草.png"),url("魚.png"),url("人魚.png");
  background-repeat: no-repeat, no-repeat, no-repeat;  
  background-position: 0 bottom, 20px 20px, 400px bottom; 
  z-index: 1;
}*/



/*------------------------------RWD-------------------------------*/
/*index*/
@media only screen and (min-width: 1400px) {
  .fish_size {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    position: absolute;
  }

  .identity div {
    float: left;
  }

  .return_space {
    position: absolute;
    width: 14vw;
    height: 100%;
    padding: 0.5vh 0 0.5vh 4.5vw;
    margin: auto 0;
  }

  .return {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

}

@media only screen and (min-width: 980px) and (max-width: 1400px)  {
  
  .identity div {
    float: left;
  }
  
  .fish_size {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    position: absolute;
  }

  .return_space {
    position: absolute;
    width: 14vw;
    height:100%;
    padding: 0.5vh 0 0.5vh 4.5vw;
  }

  .return {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

}

@media only screen and (min-width: 768px) and (max-width: 980px)  {
  
  .identity div {
    float: left;
  }
  
  .fish_size {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 80%;
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    position: absolute;
  }

  .return_space {
    position: absolute;
    width: 14vw;
    height: 100%;
    padding: 0.5vh 0 0.5vh 3.5vw;
  }

  .return {
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

}


/*手機板*/
@media only screen and  (max-width: 768px)  {
  .fish_size {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin-left: 5px;
    position: absolute;
    float:left;
  }

  .return_space {
    position: absolute;
    width: 14vw;
    height: 100%;
    padding: 0.5vh 0 0.5vh 3vw;
  }

  .return {
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .character {
    width: 25vw;
    height: 50vh;
    left: 12vw;
    top: 20vh;
    position: relative;
    
  }

}
