<html>
  <head>
    <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
    <script src="/coolgame/game.js"></script>
    <title><%= title %></title>
  </head>
  <body onload="init();">
    <div id="game" style="width:800px;height:500px;margin:auto;display:grid;justify-content:center;align-items:center;height:100%;">
        <canvas id="gameStage" width="800" height="500" style="background-color: rgb(142, 219, 245)"></canvas>
    </div>
  
  </body>
</html>
