html {
  height: 100%;
}

body {
  padding: 200px;
  background-color: #fff9dc;
  height: 100%;

}

a {
  color: #00B7FF;
}

ul {
  list-style-type:none;
  padding: 0;
}

.mainTitle {
  position: relative;
  background-color:white;
  height: 180px;
}

.titleText {
  position: absolute;
  border-left: 6px solid #ffcc00;
  margin: 50px;
  left: 150px;
}

.content {
  margin: 0 auto;
  padding: 0 auto;
  position: relative;
  left: 55px;
  display: block;
  width: 900px;
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden; 
  bottom: 0;
}

.content::-webkit-scrollbar {
  -webkit-appearance: none;
}

#main {
  position: relative;
  top: 20px;
}

.sideNav {
  position: relative;
  float:right;
  right: 0;
  width: 20%;
  margin: 0;
  padding: 0;
  top: 50px;
  z-index: 300;
}

.navSubBtn {
  position: relative;
  max-width: 75%;
  max-height: 75%;
  /*width: 100px;*/
}

.sideNav li {
  height: 22vh;
}

/*-----------study------------*/

.studyPicture {
  position: relative;
}
.studyPicture div {
  float: left;
  width: 35%;
  height: 35%;
  padding: 5px;
}
.studyImg {
  width: 100%;
  height: 100%;
}

.subTitle {
  text-align: center;
  padding: 10px;
}
.studyTitle {
  background-color: #e0e0e0;
  height: 100px;
}

#name {
  position: absolute;
  margin: 2%;
  margin-left: 7%;
}

h1 {
  display: inline;
}
h5 {
  display: inline;
}


.subStudyContent {
  position: relative;
  width: 80%;
  height: 80%;
  margin: 2%;
}

.subStudyContent div {
  display: inline-block;
}

.SpictureArea {
  position: relative;
  left: 10%;
  margin: 0 auto;
  width: 40%;
}

#subStudyImg {
  position: relative;
  width: 100%;
  height: 100%;
}

.time {
  top: 10vh;
  left: 20%;
  position: relative;
}

.time p {
  font-size: 25px;
}


.studyTimeline {
  top: 10vh;
  width: 30%;
  height: 40%;
  left: 20%;
  position: relative;
  border-left:4px solid darkblue;
}
.event {
  margin-bottom: 0;
}

.event li {
  margin-bottom: 5%;
  font-size: 25px;
}
.studyContent {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}









/*---------- food -----------*/

.foodList {
  position: absolute;
}

.foodList li {
  z-index: 100;
}

.FpictureArea {
  position: relative;
  display: block;
  overflow: scroll;
  margin: 0 auto;
  height: 400px;
  width: 700px;
}
.foodImg {
  position: absolute;
  top: 100%;
  left: 100%;
  pointer-events: none;
  -moz-user-select: none;
}
#areaName {
  text-align: center;
}

.foodIcon {
  position: absolute;
  max-width: 10.8%;
  max-height: 10.8%;
  z-index: 100;
}





/*---------liveContent playContent------------*/
.picture {
  max-width: 850px;
  max-height: 400px;
}

.pic {
  float: left;
  top:0; bottom:0; left:0; right:0; margin:auto;
}

.pictureArea {
  position: relative;
  left: 150px;
}

.textArea {
  position: relative;
  width: 50vw;
  text-align: center;
  float: left;
}



  






