body {
  padding: 200px;
  background-color: #fff9dc;

}

a {
  color: #00B7FF;
}

ul {
  list-style-type:none;
  padding: 0;
}



.mainTitle {
  position: relative;
  background-color:white;
  height: 180px;
}

.titleText {
  position: absolute;
  border-left: 6px solid #ffcc00;
  margin: 50px;
  left: 150px;
}

.content {
  margin: 0 auto;
  padding: 0 auto;
  position: relative;
  left: 55px;
  display: block;
  width: 900px;
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden; 
  bottom: 0;
}

.content::-webkit-scrollbar {
  -webkit-appearance: none;
}

#main {
  position: relative;
  top: 20px;
}

.foodList {
  position: absolute;
}

.sideNav {
  position: relative;
  float:right;
  right: 0;
  width: 20%;
  margin: 0;
  padding: 0;
  top: 50px;
  z-index: 300;
}

.navSubBtn {
  position: relative;
  max-width: 75%;
  max-height: 75%;
  /*width: 100px;*/
}

.sideNav li {
  height: 22vh;
}

.studyPicture {
  position: relative;
}
.studyPicture div {
  float: left;
  padding: 5px;
}
.studyImg {
  max-width: 200px;
  max-height: 300px;
}

.subTitle {
  text-align: center;
  padding: 10px;
}
.studyTitle {
  background-color: gray;
}

/*---------- food -----------*/
#FpictureArea {
  position: relative;
  display: block;
  overflow: hidden;
  cursor: -webkit-grab;
  height:400px;
  width: 800px;
  left: 150px;
}
#foodImg {
  position: relative;
  top: 0;
  left: 0;
  pointer-events: none;
  -moz-user-select: none;
}








/*---------liveContent playContent------------*/
.picture {
  max-width: 850px;
  max-height: 400px;
}

.pic {
  float: left;
  top:0; bottom:0; left:0; right:0; margin:auto;
}

.pictureArea {
  position: relative;
  left: 150px;
}

.textArea {
  position: relative;
  width: 50vw;
  text-align: center;
  float: left;
}



  






