html {
    height: 100%;
  }
  
  body {
    background-color: #fff9dc;
    height: 100vh;
  }

  div, p {
    cursor: default;
  }
  
  ul {
    list-style-type:none;
    padding: 0;
  }

  .sideNav {
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 30%;
    height: calc(100% - 60px);
    margin: 0 auto;
    padding: 0;
    /* padding-top: 4.5vh; */
    z-index: 300;
    overflow: hidden;
  }
  
  .navSubBtn {
    position: relative;
    padding-top: 20px;
    max-width: 100%;
    max-height: 100%;
  }
  
  .sideNav li {
    height: 18vh;
  }

  .mainTitle {
    position: relative;
    top: 2%; bottom: 0; right: 0; left: 0 ; 
    width: 100%;
    z-index: 3;
    height: 15vw;
    text-align: center;
  }

  /* .maintitle p {
      position: relative;
  } */
    
  #nculife {
    display: block;
    font-size: 6vw;
    margin-bottom: 0;
    color: #FB8360;
    height: 50%;
  }

  #life {
    font-size: 3.2vw;
    color: #767171;
    height: 40%;
    margin-bottom:0;
  }

  .back {
    position: absolute;
    padding-top: 5%;
    margin-bottom: 0;
    margin-left: 8%;
    margin-right: 0;
    z-index: 10;
  }

  .backArrow, .backToMain{
      max-width: 16vw;
      cursor: pointer;
  }

  .content {
    margin: 0 auto;
    padding: 0 auto;
    position: relative;
    display: block;
    width: 77vw;
    height: 95%;
    top: 3%;
    overflow-y: scroll;
    overflow-x: hidden; 
  }

  #main {
    position: relative;
    width: 100%;
    height: calc(100% - 60px - 2% - 15vw);
    padding-bottom: 0;
  }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {        
    .sideNav {
        width: 100%;
        padding: 15vw 0;
        padding-left: 3vw;
        height: calc(100% - 60px);
    }
    .sideNav ul {
        margin: 0 auto;
    }
        .sideNav li {
        float: left;
        margin: 3vw 4vw;

    } 
    .navSubBtn {
        padding-top: 0;
    }
}
@media only screen and (max-device-width: 823px) and (orientation:landscape) {
    .sideNav {
        width: 100%;
        padding: 15vw 0;
        padding-left: 15vw;
        height: calc(100% - 60px);
    }
    .sideNav ul {
        margin: 0 auto;
    }
        .sideNav li {
        float: left;
        margin: 3vw 4vw;

    } 
    .navSubBtn {
        padding-top: 0;
    }
}  

@media only screen and (max-device-width: 736px) and (orientation:landscape) {
    .sideNav {
        width: 100%;
        padding: 15vw 0;
        padding-left: 10vw;
        height: calc(100% - 60px);
    }
    .sideNav ul {
        margin: 0 auto;
    }
        .sideNav li {
        float: left;
        margin: 3vw 4vw;

    } 
    .navSubBtn {
        padding-top: 0;
    }
}   


  /*--------------study--------------*/
  .studyPicture {
    position: relative;
    top: 0; bottom: 0; right: 0; left: 0 ; margin: 0 auto;

  }
  .studyPicture div {
    float: left;
    width: 50%;
    /* height: 30%; */
    padding: 1%;
  }

  .studyImg {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .studyImg:hover, .studyImg:focus, .studyImg:active {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  
  .studyImg {
    max-width: 100%;
    max-height: 100%;
  }

  .subContent {
    margin: 3% auto;
    position: relative;
    height: calc(100% - 60px - 8% - 15vw);
    overflow-y: scroll;
    overflow-x: hidden; 
  }

  .studyTitle {
    position: relative;
    background-color: #e0e0e0;
    height: 80px;
    margin: 20px 0;
  }
  
  .name {
    position: relative;
    text-align: center;
  }
  
  #name {
    font-size: 30px;
    padding-top: 1%;
    margin-bottom: 0;
    font-weight: 500;
  }
  #college {
    font-size: 15px;
    padding-bottom: 5px;
    font-weight: 500;
  }
  .subStudyContent {
    position: relative;
    width: 100%;
  }

  .SpictureArea {
    position: relative;
    margin: 5% auto;
    margin-bottom:0%;
    width: 70%;
    height: 50%;
  }

  #subStudyImg {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .event {
      position: relative;
      margin-left: 15%;
      margin-right: 16%;
  }

  #eventTitle {
      font-size: 3vw;
  }

  .event p {
      display: inline;
      word-break: break-all;
  }

  .studyContent {
    position: absolute;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    white-space: pre-line;
    word-break: break-all;
  }

  /*-----------food-----------*/

  .foodList {
    position: relative;
    margin: 0 auto;
    top: 4%; bottom: 0; left: 0; right: 0;
    text-align: center;
  }
  
  .foodList p {
    z-index: 100;
    font-size: 2.7vw;
    width: 16vw;
    padding: 1vh;
    /* margin: 0 5%; */
    border: 2px solid #7CA7BC;
    border-radius: 1rem;
    cursor: pointer;
    display: inline;
  }

  #nightStreet_p {
      border-color: white;
      background-color: #7CA7BC;
  }
  
  .FpictureArea {
    position: relative;
    display: block;
    overflow: scroll;
    margin: 0 auto;
    width: 90vw;
    height: 80vw;
    top: 7%;
    height: calc(100% - 60px - 2% - 15vw);
    /* z-index: 300; */
  }

  @media only screen and (orientation:landscape) {
    .FpictureArea {
      height: calc(100% - 60px - 2%);
    }
}


  
  .foodImg {
    position: relative; 
    display: block;
    /* -moz-user-select: none; */
  }
  
  #areaName {
    margin-left: 25%;
  }
  #areaName p {
    font-size: 4vw;
    border-bottom: 4px solid black;
    /* padding-bottom: 5%; */
  }
  
  .foodIcon {
    position: absolute;
    display: block;
    max-width: 4%;
    max-height: 4%;
    cursor: pointer;
  }
  
  .FpictureArea::-webkit-scrollbar {
    display: none;
  }
  
  #map {
    width: 90vw;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index:-100;
    /* transition: .5s ease; */
    animation-name: oxxo;
    animation-duration: 3s;
    animation-delay: 0.5s;
    background-color: rgb(94, 102, 105);
  }
  @keyframes oxxo{
    from{
        opacity: 0;
        z-index: -100;
    }
    to{
        opacity: 0.4;
        z-index: 300;
    }
  }
  
  .hint {
    color: white;
    font-size: 8vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .decoration img{
    position: absolute;
    width: 30%;
    bottom: 0px;
  }
  
  
  #foodModal .modal-dialog {
    width: 90%;
    max-width: none;
    margin-top: 10vh;
    margin-bottom: 0;
    min-height: calc(100vh - 51px);
  }

  
  #foodModalDetail{
    position: relative;
    right: 0;
    top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    display: block;
    width: 70%;
    padding: 5px;
    word-wrap: break-word;
    border-radius: 1rem;
    background-color: white;
    min-height: 50px;
  }
  
  #foodModalDetail .d {
    margin: 0;
    height: 200px;
    font-size: 2vw;
    font-weight: lighter;
    padding: 35% 0;
    /* overflow-y: scroll; */
  }
  
  #foodModal .modal-header {
    border-bottom-width: 0px;
  }
  
  #foodModal .modal-body{
    margin: 0;
    max-width: 100%;
  }
  
  #foodModal .modal-content {
    background-color: rgba(161, 212, 232, 0.966);
    /* min-width: 100vw;
    height: calc(50vw * 2.2); */
  }

 .modal-title {
    font-size: 5vw;
    display: block;
    width: 100%;
    padding-left: 10%;
    text-align: center;
    white-space: nowrap;
}
  
  .modal-header span {
    cursor: pointer;
    z-index: 3;
  }
  

  /*----------live-----------*/
  .picture {
    max-width: 70%;
    max-height: 50%;
  }
  
  .pic {
    float: left;
    margin:0 auto;
  }
  
  .pictureArea {
    position: relative;
    /* left: 10%; */
  }
  
  .textArea {
    position: relative;
    /* width: 60vw; */
    float: left;
  }

  .content h3 {
      font-size: 20px;
  }
  
  
  