html {
  height: 100%;
}

body {
  background-color: #fff9dc;
  height: 100vh;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type:none;
  padding: 0;
  margin-bottom: 0;
}
.T {
  position: relative;
}
.mainTitle {
  position: relative;
  background-color:white;
  width: 300px;
  height: 85px;
}

.titleText {
  position: absolute;
  margin-left: 34%;
  margin-top: 3%;
  border-left: 5px solid #7CA7BC;
}

.titleText span {
  margin-left: 20%;
}

#nculife {
  display: block;
  font-size: 28px;
  color: #FB8360;
}
#life {
  font-size: 17px;
  color: #767171;
}

.content {
  margin: 0 11.5vw;
  padding: 0 auto;
  position: relative;
  display: block;
  width: 77vw;
  height: 95%;
  top: 3%;
  overflow-y: scroll;
  overflow-x: hidden; 
}

.content::-webkit-scrollbar {
  -webkit-appearance: none;
}

.backgroundImg {
  position: absolute;
  bottom: 0;
}
.bgImage {
  max-width: 250px;
  left:0;
}
#main {
  position: relative;
  height: calc(100% - 145px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

.sideNav {
  position: relative;
  float:right;
  right: 0;
  left: 0;
  top:4%;
  width: 10%;
  margin: 0;
  padding: 0;
  z-index: 300;
}

.navSubBtn {
  position: relative;
  max-width: 75%;
  max-height: 75%;
}

.sideNav li {
  height: 21vh;
}

/*-----------study------------*/

.subContent {
  margin: 0 auto;
  position: relative;
  display: block;
  height: 75vh;
  overflow-y: scroll;
  overflow-x: hidden; 

}

.studyPicture {
  position: relative;
}

.studyImg {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.studyImg:hover, .studyImg:focus, .studyImg:active {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.studyImg {
  position: relative;
  float: left;
  width: 28%;
  margin: 1%;
}
.subTitle {
  text-align: center;
  font-size: 2.5vw;
  padding: 10px;
  font-weight: 500;
}
.studyTitle {
  background-color: #e0e0e0;
  height: 80px;
}

.name {
  position: absolute;
  margin-top:3px;
  margin-left: 100px;
}

.name p {
  position: relative;
  display: inline;
}

#name {
  font-size: 45px;
  font-weight: 500;
}
#college {
  font-size: 20px;
  font-weight: 500;
}

.subStudyContent {
  position: relative;
  width: 100%;
}

.subStudyContent div {
  display: inline-flex;
}
.S {
  position: relative;
  left: 10%;
  margin: 0 auto;
  width: 40%;
}
.SpictureArea {
  position: absolute;
  top: 10%;
  left: 10%;
  margin: 0 auto;
  width: 40%;
}

#subStudyImg {
  position: relative;
  width: 100%;
  height: 100%;
}

/* @media (min-width: 500px) {
.container {
    max-width: 700px;
} */

.container {
  position: relative;
  left: 50%;
}

.row {
  width: 100%;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #04244b;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 50px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #042446;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
  margin-top: 10px;
}

.offset-md-3 {
  margin-left: 5%;
}
.col-md-6 {
  flex: 0 0 100%;
  max-width: 100%;
}
.mt-5 {
  margin-top: 1.25rem!important;
}

#time {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 0;
}
.studyContent {
  position: absolute;
  margin-left: 5%;
  margin-right: 5%;
  /* padding-top: 50px; */
  white-space: pre-line;
  word-break: break-all;
}









/*---------- food -----------*/

.foodList {
  position: absolute;
  top: 15vh;
  left: 4vw;
}

.foodList p {
  z-index: 100;
  font-size: 1.5vw;
  width: 14vw; 
  padding-right: 3vh;
  padding-left: 3vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  cursor: pointer;
}

.foodList img  {
  visibility: hidden;
}

#LI1 {
  max-width: 20%;
  margin-left: 2.5vw;
}
#LI2 {
  max-width: 20%;
  margin-left: 4vw;
}
#LI3 {
  max-width: 20%;
  margin-left: 1vw;
}

.FpictureArea {
  position: relative;
  display: block;
  overflow: scroll;
  margin: 0 20%;
  width: 65%;
  height: 93%;
  /* z-index: 300; */
}

.foodImg {
  position: relative; 
  display: block;
  /* -moz-user-select: none; */
}

#areaName {
  margin-left: 25%;
}
#areaName p {
  font-size: 4vw;
  border-bottom: 4px solid black;
  /* padding-bottom: 5%; */
}
.T div{
  display: inline-block;
}

.foodIcon {
  position: absolute;
  display: block;
  max-width: 4%;
  max-height: 4%;
  cursor: pointer;
}

.FpictureArea::-webkit-scrollbar {
  display: none;
}

#map {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index:-100;
  /* transition: .5s ease; */
  animation-name: oxxo;
  animation-duration: 3s;
  animation-delay: 0.5s;
  background-color: rgb(94, 102, 105);
}
/* @keyframes oxxo{
  from{
      opacity: 0;
      z-index: -100;
  }
  to{
      opacity: 0.4;
      z-index: 300;
  }
} */

.hint {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.decoration img{
  position: absolute;
  width:30%;
  bottom: 0px;
}

#foodModal .modal-dialog {
  width: 70%;
  max-width: none;
  margin-top: 2vh;
  min-height: calc(100vh - 56px);
}

#foodModalDetail{
  position: relative;
  right: 0;
  top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  display: block;
  width: 70%;
  padding: 8px;
  word-wrap: break-word;
  border-style: solid;
  border-color: #2E627B;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: white;
  min-height: 50px;
}

#foodModalTitle {
  position: relative;
  right: 0;
  top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  display: block;
  width: 70%;
  padding: 8px;
  word-wrap: break-word;
  border-style: solid;
  border-color: #2E627B;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: white;
  min-height: 50px;
}

.t {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}
#foodModalDetail .d {
  margin: 0;
  max-height: 300px;
  font-size: 20px;
  font-weight: lighter;
  padding-top: 10px;
  overflow-y: scroll;
}

#foodModal .modal-header {
  border-bottom-width: 0px;
}

#foodModal .modal-body{
  margin: 0;
  max-width: 100%;
}

#foodModal .modal-content {
  background-color: rgb(81, 172, 207);
}

.modal-header span {
  cursor: pointer;
}




/*---------liveContent playContent------------*/
.pictureArea {
  position: relative;
  /* left: 10%; */
  padding-left: 10%;
  word-break: break-all;
}

.textArea {
  position: relative;
  width: 70vw;
  /* text-align: center; */
  float: left;
}






