<div class="box">
    <div class="title" >
            <p id="show_title"><% /*= data.title */ %></p>
    </div>
    <div class="content" >
            <p id="show_content"><% /*= data.content */%></p>
    </div>
</div>