<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../../layouts/head %>
    <link rel='stylesheet' href='/video/video_smp.css' />
  </head>
  <body>
    
    <% include ../../layouts/header %>
    <main>

        <%/* 藍色區域 
        <div class="background">
          <div class="video_area">
            <img src="/video/鯨_phone.png" class="whale">
          </div>
        </div>
        */%>


      <%/* 標題 */%>
        <div class="title_bar">
          <%/* 黃線mark */%>
          <div class="line"></div>
          <div class="title">
            VIDEO<div class="small_title">影音專區</div>
          </div>
        </div>

      <%/* 縮圖連結 */%>
        <div class="button_no_scroll">
          <a href="nculife/" class="button">
            <img src="/video/中大生活.jpg" class="img_button">
          </a>
          <a href="interview/" class="button">
            <img src="/video/學長姐訪談.jpg" class="img_button">
          </a>
          <a href="legend/" class="button">
            <img src="/video/中大傳說.jpg" class="img_button">
          </a>
        </div>

        <% include ./js_smp %>

      
    </main>

  </body>
  <% include ../../layouts/js %>
</html>