<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../../layouts/head %>
    <% include ../../layouts/script  %>
    <link rel='stylesheet' href='/video/style.css' />
  </head>
  <body>
    
    <% include ../../layouts/header %>
    <main>

        <%/* 藍色區域 */%>
        
        <div class="background">
            <div id="player"></div>
        </div>

        <%/* 引入Youtube API */%>
        <script>
            /* Youtube api */
    
            // This code loads the IFrame Player API code asynchronously.
            var tag = document.createElement('script');
    
            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        
            // This function creates an <iframe> (and YouTube player)
            //    after the API code downloads.
            var player;
            function onYouTubeIframeAPIReady() {
                player = new YT.Player('player', {
                    height: '360',
                    width: '640',
                    videoId: '<%= ytID %>',
                    events: {
                        'onReady': yt.onPlayerReady,
                        'onStateChange': yt.onPlayerStateChange
                    }
                });
            }
        </script>

        <%/* 標題 */%>
        <% include ./title_bar_smp %>
        

        <% if(title_bar[4] == null){ %>

          <% /*影片_中大生活*/ %>
          <% if(title_bar[0] === 'LIFE'){ %>
            <div class="button_area">
                <a href="eating">
                    <img src="/video/button/中大生活_食.png" class="v_button"> 
                </a>
                <a href="living">
                    <img src="/video/button/中大生活_住.png" class="v_button">  
                </a>
                <a href="going">
                    <img src="/video/button/中大生活_食.png" class="v_button"> 
                </a>
                <a href="education">
                    <img src="/video/button/中大生活_育.png" class="v_button"> 
                </a>
                <a href="joy">
                    <img src="/video/button/中大生活_樂.png" class="v_button">   
                </a>
            </div>
          
          <%/* 影片_中大傳說 */%>
          <% }else if(title_bar[0] === 'LEGEND'){ %>
            <div class="button_area">
                <a href="100challenge">
                    <img src="/video/button/中大傳說_100元.png" class="v_button"> 
                </a>
                <a href="mustdo">
                    <img src="/video/button/中大傳說_大學必做.png" class="v_button">
                </a>
                <a href="underfloor">
                    <img src="/video/button/中大傳說_地下室.png" class="v_button">  
                </a>
                <a href="breakfast">
                    <img src="/video/button/中大傳說_早餐.png" class="v_button">
                </a>
                <a href="lover">
                    <img src="/video/button/中大生活_食.png" class="v_button">
                </a>
            </div>
          <% } %>

        <% }else if(title_bar[0] === 'INTERVIEW'){ %>
          <% if(title_bar[3] === '管理學院'){ %>
            <div class="button_area">
                <a href="ba">
                    <img src="/video/button/企管系.png" class="v_button">
                </a>
                <a href="im">
                    <img src="/video/button/資管系.png" class="v_button">
                </a>
                <a href="fm">
                    <img src="/video/button/財金系.png" class="v_button">
                </a>
                <a href="ec">
                    <img src="/video/button/經濟系.png" class="v_button">
                </a>
            </div>
          <% }else if(title_bar[3] === '工學院'){ %>
            <div class="button_area">
                <a href="cme">
                    <img src="/video/button/化材系.png" class="v_button">
                </a>
                <a href="cv">
                    <img src="/video/button/土木系.png" class="v_button">
                </a>
                <a href="me">
                    <img src="/video/button/機械系.png" class="v_button">
                </a>
                <a href="ipe">
                    <img src="/video/button/工學院學士班.png" class="v_button">
                </a>
            </div>
          <% }else if(title_bar[3] === '文學院'){ %>
            <div class="button_area">
                <a href="chinese">
                    <img src="/video/button/中文系.png" class="v_button">
                </a>
                <a href="english">
                    <img src="/video/button/英文系.png" class="v_button">
                </a>
                <a href="fr">
                    <img src="/video/button/法文系.png" class="v_button">
                </a>
            </div>
          <% }else if(title_bar[3] === '生醫理工學院'){ %>
            <div class="button_area">
                <a href="ls">
                    <img src="/video/button/生科系.png" class="v_button">
                </a>
                <a href="dbse">
                    <img src="/video/button/生醫系.png" class="v_button">
                </a>
            </div>
          <% }else if(title_bar[3] === '地球科學學院'){ %>
            <div class="button_area">
                <a href="gep">
                    <img src="/video/button/地科系.png" class="v_button">
                </a>
                <a href="atm">
                    <img src="/video/button/大氣系.png" class="v_button">
                </a>
            </div>
          <% }else if(title_bar[3] === '客家學院'){ %>
            <div class="button_area">
                <a href="hakka">
                    <img src="/video/button/客家系.png" class="v_button">
                </a>
            </div>
          <% }else if(title_bar[3] === '理學院'){ %>
            <div class="button_area">
                <a href="jspcos">
                    <img src="/video/button/理學院學士班.png" class="v_button">
                </a>
                <a href="phy">
                    <img src="/video/button/物理系.png" class="v_button">
                </a>
                <a href="math">
                    <img src="/video/button/數學系.png" class="v_button">
                </a>
                <a href="chem">
                    <img src="/video/button/化學系.png" class="v_button">
                </a>
                <a href="dop">
                    <img src="/video/button/光電系.png" class="v_button">
                </a>
            </div>
          <% }else if(title_bar[3] === '資訊電機學院'){ %>
            <div class="button_area">
                <a href="ipeecs">
                    <img src="/video/button/資電院學士班系.png" class="v_button">
                </a>
                <a href="ee">
                    <img src="/video/button/電機系.png" class="v_button">
                </a>
                <a href="csie">
                    <img src="/video/button/資工系.png" class="v_button">
                </a>
                <a href="ce">
                    <img src="/video/button/通訊系.png" class="v_button">
                </a>
            </div>
          <% } %>
        <% } %>

        <% include ./js_smp %>
        
        
    </main>

  </body>
  <% include ../../layouts/js %>
</html>