<!DOCTYPE html>
<html>

<head>
    <title>Food</title>
    <% include ../layouts/head %>
    <% include ../layouts/script %>
    <link rel=stylesheet type="text/css" href="life.css">
</head>

<body>
    <% include ../layouts/header %>
    <div class="sideNav" id="navi">
            <ul>
                <li><a href="/life/study"> <img class="navSubBtn" src="naviBefore0.png"> </a></li>
                <li><a href="/life/food"> <img class="navSubBtn" src="naviAfter1.png"> </a></li>
                <li><a href="/life/play"> <img class="navSubBtn" src="naviBefore2.png"> </a></li>
                <li><a href="/life/live"> <img class="navSubBtn" src="naviBefore3.png"> </a></li>
            </ul>
        </div>
        <div class="mainTitle">
                <div class="titleText">
                    <h2>FOOD</h2>
                    <h3>該吃什麼</h3>
                </div>
            </div>
    <main id="main">
        <!--content-->
        <div class="content">
            <div class="foodList">
                <ul>
                    <li id="nightStreet">>宵夜街</li><br>
                    <li id="backdoor">>後門</li><br>
                    <li id="campus">>中央校園</li><br>
                </ul>
            </div>
            <h3 id="areaName">宵夜街</h3>                 
            <div class="FpictureArea">
                <!-- <div class="foodImg"> -->
                    <!-- 五興路 右側 -->
                    <img class="foodIcon" title="108果汁" style="top: 40%; left: 82%; transform: rotate(15deg);" src="food_icon/飲品.png">
                    <img class="foodIcon" title="豪味堡" style="top: 53%; left: 82%; transform: rotate(15deg);" src="food_icon/飲品.png">
                    <img class="foodIcon" title="魔法咖哩(2F)" style="top: 56%; left: 88%; transform: rotate(15deg);" src="food_icon/簡餐.png">
                    <img class="foodIcon" title="一品鍋" style="top: 66%; left: 82%; transform: rotate(15deg);" src="food_icon/鍋物.png">
                    <img class="foodIcon" title="香恬園" style="top: 79%; left: 82%; transform: rotate(15deg);" src="food_icon/簡餐.png">
                    <img class="foodIcon" title="宵夜屋" style="top: 92%; left: 82%; transform: rotate(15deg);" src="food_icon/簡餐.png">
                    <img class="foodIcon" title="來來/喬慧素食" style="top: 105%; left: 82%; transform: rotate(15deg);" src="food_icon/簡餐.png">
                    <img class="foodIcon" title="OK" style="top: 118%; left: 82%;" src="food_icon/OK.png">
                    <img class="foodIcon" title="粥王" style="top: 131%; left: 82%; transform: rotate(15deg);" src="food_icon/簡餐.png">
                    <img class="foodIcon" title="翔食堂" style="top: 131%; left: 90%; transform: rotate(15deg);" src="food_icon/小吃.png">
                    <img class="foodIcon" title="美味王炸雞" style="top: 144%; left: 82%; transform: rotate(15deg);" src="food_icon/小吃.png">
                    <img class="foodIcon" title="小惡魔" style="top: 144%; left: 90%; transform: rotate(15deg);" src="food_icon/飲品.png">
                    <img class="foodIcon" title="山頂丼人" style="top: 157%; left: 82%; transform: rotate(15deg);" src="food_icon/簡餐.png">
                    <img class="foodIcon" title="咖哩老師" style="top: 170%; left: 82%; transform: rotate(15deg);" src="food_icon/簡餐.png">
                    <img class="foodIcon" title="霸王炸雞" style="top: 183%; left: 82%; transform: rotate(15deg);" src="food_icon/小吃.png">
                    <img class="foodIcon" title="微笑轉角" style="top: 190%; left: 85%; transform: rotate(15deg);" src="food_icon/麵類.png">
                    <!-- 五興路 左側 -->
                    <img class="foodIcon" title="星pasta" style="top: 40%; left: 64%; transform: rotate(15deg);" src="food_icon/西餐.png">
                    <img class="foodIcon" title="早餐店" style="top: 40%; left: 58%; transform: rotate(15deg);" src="food_icon/簡餐.png">
                    <img class="foodIcon" title="無敵蛋餅" style="top: 50%; left: 67%; transform: rotate(15deg);" src="food_icon/小吃.png">
                    <img class="foodIcon" title="Master of Tea" style="top: 60%; left: 67%; transform: rotate(15deg);" src="food_icon/飲品.png">
                    <img class="foodIcon" title="麥味登" style="top: 70%; left: 64%; transform: rotate(15deg);" src="food_icon/西餐.png">
                    <img class="foodIcon" title="滿食記" style="top: 80%; left: 65%; transform: rotate(15deg);" src="food_icon/簡餐.png">
                    <img class="foodIcon" title="E&F" style="top: 90%; left: 65%; transform: rotate(15deg);" src="food_icon/簡餐.png">
                    <img class="foodIcon" title="饌食園" style="top: 100%; left: 65%; transform: rotate(15deg);" src="food_icon/簡餐.png">
                    <img class="foodIcon" title="饕客" style="top: 110%; left: 64%;" src="food_icon/滷味.png">
                    <img class="foodIcon" title="生鮮大水餃" style="top: 120%; left: 65%; transform: rotate(15deg);" src="food_icon/簡餐.png">
                    <img class="foodIcon" title="夏克提" style="top: 130%; left: 67%; transform: rotate(15deg);" src="food_icon/飲品.png">
                    <img class="foodIcon" title="立橙" style="top: 140%; left: 67%; transform: rotate(15deg);" src="food_icon/飲品.png">
                    <img class="foodIcon" title="甜甜圈" style="top: 150%; left: 67%; transform: rotate(15deg);" src="food_icon/小吃.png">
                    <img class="foodIcon" title="臭豆腐" style="top: 160%; left: 67%; transform: rotate(15deg);" src="food_icon/小吃.png">
                    <img class="foodIcon" title="影印豆花" style="top: 170%; left: 63%; transform: rotate(15deg);" src="food_icon/飲品.png">
                    <img class="foodIcon" title="香城燒臘" style="top: 183%; left: 65%; transform: rotate(15deg);" src="food_icon/簡餐.png">
                    <!-- 五興路 331巷 -->
                    <img class="foodIcon" title="真功夫" style="top: 140%; left: 30%; transform: rotate(15deg);" src="food_icon/小吃.png">
                    <img class="foodIcon" title="出海抓魚" style="top: 140%; left: 23%; transform: rotate(15deg);" src="food_icon/飯糰.png">
                    <img class="foodIcon" title="來客" style="top: 170%; left: 38%; transform: rotate(15deg);" src="food_icon/簡餐.png">
                    <!-- 五興路 下方右側 -->
                    <img class="foodIcon" title="比大爺" style="top: 227%; left: 70%;" src="food_icon/滷味.png">
                    <img class="foodIcon" title="雞叔叔" style="top: 233%; left: 70%; transform: rotate(-45deg);" src="food_icon/小吃.png">
                    <img class="foodIcon" title="客臨" style="top: 237%; left: 68%; transform: rotate(-45deg);" src="food_icon/小吃.png">
                    <img class="foodIcon" title="緣杏" style="top: 246%; left: 63%;" src="food_icon/麵類.png">
                    <img class="foodIcon" title="瑞霖美而美" style="top: 258%; left: 60%;" src="food_icon/西餐.png">
                    <img class="foodIcon" title="京城韓式湯飯" style="top: 268%; left: 58%; " src="food_icon/簡餐.png">
                    <img class="foodIcon" title="早安美芝城" style="top: 278%; left: 54%;" src="food_icon/西餐.png">
                    <img class="foodIcon" title="燒餅窯" style="top: 287%; left: 53%; transform: rotate(-45deg);" src="food_icon/飲品.png">
                    <img class="foodIcon" title="夠義式" style="top: 294%; left: 48%;" src="food_icon/西餐.png">
                    <img class="foodIcon" title="幸福廚房" style="top: 304%; left: 46%; " src="food_icon/簡餐.png">
                    <!-- 五興路 下方右側 -->
                    <img class="foodIcon" title="傻師傅湯包" style="top: 208%; left: 52%; " src="food_icon/麵類.png">
                    <img class="foodIcon" title="韓林" style="top: 218%; left: 48%; " src="food_icon/簡餐.png">
                    <img class="foodIcon" title="內卡小館" style="top: 231%; left: 44%; " src="food_icon/簡餐.png">
                    <img class="foodIcon" title="雙寶爸" style="top: 243%; left: 40%; " src="food_icon/麵類.png">
                    <img class="foodIcon" title="太祖魷魚羹" style="top: 255%; left: 37%; " src="food_icon/簡餐.png">
                    <img class="foodIcon" title="火靠窯" style="top: 266%; left: 31%; " src="food_icon/西餐.png">
                    <img class="foodIcon" title="小紅牛" style="top: 280%; left: 27%; " src="food_icon/西餐.png">
                    <img id="map" src="宵夜街地圖.png">
                <!-- </div> -->
            </div>
        </div>
    </main>
    <% include ../layouts/js %>
    <% include js %>
</body>

</html>