<!DOCTYPE html>
<html>
    <head>
        <title>Food</title>
        <link rel=stylesheet type="text/css" href="life.css">
    </head>
    <body>
        <h3>FOOD</h3>
        <h5>該吃什麼</h5>
        <main>
            <% include navi %>
            <!--content-->
            <aside>
                <ul>
                    <li>宵夜街</li><br>
                    <li>奢侈街</li><br>
                    <li>後門</li><br>
                    <li>中央校園</li><br>
                </ul>
            </aside>
        </main>
    </body>
</html>