<!DOCTYPE html>
<html>

<head>
    <title>Food</title>
    <% include ../layouts/head %>
    <% include ../layouts/script %>
    <link rel=stylesheet type="text/css" href="life.css">
</head>

<body>
        <div class="sideNav" id="navi">
                <ul>
                    <li><a href="/life/study"> <img class="navSubBtn" src="naviBefore0.png"> </a></li><br>
                    <li><a href="/life/food"> <img class="navSubBtn" src="naviAfter1.png"> </a></li><br>
                    <li><a href="/life/play"> <img class="navSubBtn" src="naviBefore2.png"> </a></li><br>
                    <li><a href="/life/live"> <img class="navSubBtn" src="naviBefore3.png"> </a></li>
                </ul>
            </div>
    <% include ../layouts/header %>
    <h3>FOOD <br> 中央吃什麼 </h3>
    <main id="main">
        <!--content-->
        <div class="foodList">
            <ul>
                <li>>宵夜街</li><br>
                <li>>奢侈街</li><br>
                <li>>後門</li><br>
                <li>>中央校園</li><br>
            </ul>
        </div>
    </main>
    <% include ../layouts/js %>
    <% include js %>
</body>

</html>