<!DOCTYPE html>
<html>
  <head>
      <% include ../layouts/head %>
  </head>
  <body>
      <script>
          $(document).ready(function(){
            console.log("enter!!!!!");
              var width = innerWidth;
              if(width <= 1024) document.location.href = "/life/index_phone";
              else document.location.href = "/life/study";
          });
      </script>
  </body>
</html>
