<!DOCTYPE html>
<html>

<head>
    <title>新生知訊網｜中大生活</title>
    <% include ../layouts/head %>
    <link rel=stylesheet type="text/css" href="life.css">
</head>
<body>
    <% include ../layouts/header %>
        <div class="sideNav" id="navi">
            <ul>
                <li><a href="/life/study"> <img class="navSubBtn" src="naviBefore0.png"> </a></li>
                <li><a href="/life/food"> <img class="navSubBtn" src="naviBefore1.png"> </a></li>
                <li><a href="/life/play"> <img class="navSubBtn" src="naviBefore2.png"> </a></li>
                <li><a href="/life/live"> <img class="navSubBtn" src="naviAfter3.png"> </a></li>
            </ul>
        </div>
        <div class="mainTitle">
                <div class="line"></div>
                <div class="titleText">
                    <span id="nculife">NCULife</span>
                    <span id="life">中大生活</span>
                </div>
            </div>
        
            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contentModal" style="position: absolute; z-index: 1;">新增/修改內容</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modifyModal" style="position: absolute; z-index: 1; left: 15vw;" id="delete_picture">刪除內容</button> -->
        <main id="main">
            <div class="backgroundImg">
                <img class="bgImage" src="燈塔.png">
            </div>
            <!--content-->
            <div class="content">
                <div class="pictureArea">
                    <%- data[0]['content'] %>
                </div>
            </div>
        <!--Modal-->
            <div class="modal fade" id="contentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel">新增/修改內容</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"> &times;</span>
                            </button> 
                        </div>
                        <div class="modal-body">
                            <form action="addLiveContent" method="POST">
                                <div class="form-group">
                                        <label class="col-md-4 control-label" for="elecategory">主標題選項</label>
                                        <div class="col-md-6">
                                            <select class="form-control input-md bigTitle" id="descBigTitle" name="modifyMainTitle">
                                                <option value="default">請選擇</option>
                                                <% for(var i in data) { %>
                                                        <option value="<%=data[i].content%>"><%-data[i].content%></option>
                                                <% } %>
                                            </select>
                                        </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="elecategory">敘述文字</label>
                                    <div class="col-md-16">
                                        <textarea class="form-control input-md tinyeditor" name="content" id="editor"><%- data[0]['content'] %></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">儲存/修改</button>
                                </div>
                            </form>
                        </div>
                    </div> <!--/.modal-content-->
                </div> <!--/.modal -->
            </div>
            <div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel">刪除</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"> &times; </span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="deleteLiveContent" method="POST" >
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="elecategory">請輸入要刪除的篇章大標題</label>
                                    <div class="col-md-16">
                                        <textarea class="form-control input-md" name="mainTitle" id="editor2"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">刪除</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <% include ../layouts/js %>
        <% include js %>
        <script>
                $(document).ready(function(){
                    var width = innerWidth;
                    if(width <= 1024)
                        document.location.href = "/life/live_phone";
                    $(window).resize(function(){
                        width = innerWidth;
                        if(width <= 1024)
                            document.location.href = "/life/live_phone";
                    });
                });
            </script>
    </body>
    
</html>