<!DOCTYPE html>
<html>
    <head>
        <title>Live</title>
        <link rel=stylesheet type="text/css" href="life.css">
    </head>
    <body>
        <h3>LIVE</h3>
        <h5>如何生活</h5>
        <main>
            <% include navi %>
            <!--content-->

        </main>
    </body>
</html>