<!DOCTYPE html>
<html>
    <head>
        <title>Live</title>
        <% include ../layouts/head %>
        <link rel=stylesheet type="text/css" href="life.css">
    </head>
    <% include navi %>
    <body>
            <% include ../layouts/header %>
        <h3>LIVE <br> 如何生活 </h3>
        <main>
                <!--content-->
               <div class="content">
                   <div class="livePicture">
                       <div>
                       <img class="liveImg" src="live.png">
                       </div>
                       <div>
                       <img class="liveImg" src="live.png">
                       </div>
                   </div>
               </div>
        </main>
        <% include ../layouts/js %>
    </body>
</html>