<div class="sideNav">
      <ul>
          <li><a href="/life/study"> <img class="navSubBtn" src="live_icon.png"> </a></li><br>
          <li><a href="/life/food"> <img class="navSubBtn" src="live_icon.png"> </a></li><br>
          <li><a href="/life/play"> <img class="navSubBtn" src="live_icon.png"> </a></li><br>
          <li><a href="/life/live"> <img class="navSubBtn" src="live_icon.png"> </a></li>
      </ul>
</div>