<div class="sideNav">
  <nav id="sideNav">
      <ul>
          <li><a href="/life/study"> study </a></li><br>
          <li><a href="/life/food"> food </a></li><br>
          <li><a href="/life/play"> play </a></li><br>
          <li><a href="/life/live"> live </a></li>
      </ul>
  </nav>
</div>