<div class="sideNav" id="navi">
      <ul>
          <li><a href="/life/study"> <img class="navSubBtn" src="naviBefore0.png"> </a></li><br>
          <li><a href="/life/food"> <img class="navSubBtn" src="naviBefore1.png"> </a></li><br>
          <li><a href="/life/play"> <img class="navSubBtn" src="naviBefore2.png"> </a></li><br>
          <li><a href="/life/live"> <img class="navSubBtn" src="naviBefore3.png"> </a></li>
      </ul>
</div>