<!DOCTYPE html>
<html>
    <head>
        <title>新生知訊網｜中大生活</title>
        <% include ../layouts/head %>
        <% include ../layouts/script %>
        <link rel=stylesheet type="text/css" href="life.css">
    </head>
    
    <body>
        <% include ../layouts/header %>
        <div class="sideNav" id="navi">
                <ul>
                    <li><a href="/life/study"> <img class="navSubBtn" src="naviBefore0.png"> </a></li>
                    <li><a href="/life/food"> <img class="navSubBtn" src="naviBefore1.png"> </a></li>
                    <li><a href="/life/play"> <img class="navSubBtn" src="naviAfter2.png"> </a></li>
                    <li><a href="/life/live"> <img class="navSubBtn" src="naviBefore3.png"> </a></li>
                </ul>
            </div>
            <div class="mainTitle">
                    <div class="line"></div>
                    <div class="titleText">
                        <span id="nculife">NCULife</span>
                        <span id="life">中大生活</span>
                    </div>
                </div>
            <%_ if (user && user.role === 'admin'){ -%>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contentModal" style="position: absolute; z-index: 1;">新增/修改內容</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modifyModal" style="position: absolute; z-index: 1; left: 15vw;" id="delete_picture">刪除/修改</button>
            <%_ } %>
        <main id="main">
            <!--content-->
            <div class="content">
                    <% for(let i in data) { %>
                        <div class="pictureArea">
                            <div class="pic">
                                <img class="picture" src="<%= data[i]['picture'] %>">
                            </div>
                        <div class="textArea">
                            <div class="contentMainTitle">
                                <%- data[i]['mainTitle'] %>
                            </div>
                            <div class="contentSubTitle">
                                <%- data[i]['subTitle'] %>
                            </div>
                            <div class="text">
                                <%- data[i]['content'] %>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
            
            <!--Modal-->
                <div class="modal fade" id="contentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel">新增內容</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"> &times;</span>
                                </button> 
                            </div>
                            <div class="modal-body">
                                <form action="addPlayContent" method="POST" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="elecategory">請輸入要修改的篇章大標題</label>
                                        <div class="col-md-16">
                                            <textarea class="form-control input-md" name="modifyMainTitle" id="editor2"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="elecategory">主要標題</label>
                                        <div class="col-md-16">
                                            <textarea class="form-control input-md" name="mainTitle" id="editor1"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="elecategory">子標題</label>
                                        <div class="col-md-16">
                                            <textarea class="form-control input-md" name="subTitle" id="editor2"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="elecategory">敘述文字</label>
                                        <div class="col-md-16">
                                            <textarea class="form-control input-md" name="content" id="editor5"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="elecategory">圖片</label>
                                        <div class="col-md-12">
                                            <input type="file" class="form-control input-md" name="picture">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">儲存/修改</button>
                                    </div>
                                </form>
                            </div>
                        </div> <!--/.modal-content-->
                    </div> <!--/.modal -->
                </div>
            <div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel"> 刪除</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"> &times; </span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="deletePlayContent" method="POST" >
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="elecategory">請輸入要刪除的篇章大標題</label>
                                    <div class="col-md-16">
                                        <textarea class="form-control input-md" name="mainTitle" id="editor2"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">刪除</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <% include ../layouts/js %>
        <% include js %>
        <script>
                $(document).ready(function(){
                    var width = innerWidth;
                    if(width <= 1024)
                        document.location.href = "/life/play_phone";
                    $(window).resize(function(){
                        width = innerWidth;
                        if(width <= 1024)
                            document.location.href = "/life/play_phone";
                    });
                });
            </script>

    </body>
</html>