<!DOCTYPE html>
<html>
    <head>
        <title>Play</title>
        <link rel=stylesheet type="text/css" href="life.css">
    </head>
    <% include navi %>
    <body>
        <h3>PLAY <br> 哪裡好玩 </h3>
        <main>
             <!--content-->
            <div class="content">
                <div class="playPicture">
                    <div>
                    <img class="playImg" src="play.png">
                    </div>
                    <div>
                    <img class="playImg" src="play.png">
                    </div>
                </div>
            </div>
           
           
        </main>
    </body>
</html>