<!DOCTYPE html>
<html>
    <head>
        <title>Play</title>
        <link rel=stylesheet type="text/css" href="life.css">
    </head>
    <body>
        <h3>PLAY</h3>
        <h5>哪裡好玩</h5>
        <main>
            <% include navi %>
            <!--content-->
        </main>
    </body>
</html>