<!DOCTYPE html>
<html>
    <head>
        <title>Study</title>
        <link rel=stylesheet type="text/css" href="life.css">
    </head>
    <body>
            <h3>STUDY</h3>
            <h5>學習之路</h5>
            <% include navi %>
        <main>
        <!--content-->

        </main>
    </body>
</html>