<!DOCTYPE html>
<html>
    <head>
        <title>新生知訊網｜中大生活</title>
        <% include ../layouts/head %>
        <% include ../layouts/script %>
        <link rel=stylesheet type="text/css" href="life.css">
    </head>
    
    <body>
        <% include ../layouts/header %>
        <div class="sideNav" id="navi">
            <ul>
                <li><a href="/life/study"> <img class="navSubBtn" src="naviAfter0.png"> </a></li>
                <li><a href="/life/food"> <img class="navSubBtn" src="naviBefore1.png"> </a></li>
                <li><a href="/life/play"> <img class="navSubBtn" src="naviBefore2.png"> </a></li>
                <li><a href="/life/live"> <img class="navSubBtn" src="naviBefore3.png"> </a></li>
            </ul>
        </div>
        <div class="mainTitle">
            <div class="titleText">
                <span id="nculife">NCULife</span>
                <span id="life">中大生活</span>
            </div>
        </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contentModal" style="position: absolute; z-index: 1;">新增/修改內容</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#timeModal" style="position: absolute; left: 150px; z-index: 1;">新增/修改時間軸</button>
        <main id="main">  
            <div class="backgroundImg">
                <img class="bgImage" style="max-width: 250px; left: 0;" src="燈塔.png">
            </div> 
        <!--content-->
        <div class="content">
           
            <div class="studyPicture">
                <div>
                    <a href="/life/study/lit"> <img class="studyImg" src="subPicture/lit.png"></a>
                </div>
                <div>
                    <a href="/life/study/science"> <img class="studyImg" src="subPicture/science.png"></a>
                </div>
                <div>
                    <a href="/life/study/ec"> <img class="studyImg" src="subPicture/ec.png"></a>
                </div>
                <div>
                    <a href="/life/study/mgt"> <img class="studyImg" src="subPicture/mgt.png"></a>
                </div>
                <div>
                    <a href="/life/study/ceecs"> <img class="studyImg" src="subPicture/ceecs.png"></a>
                </div>
                <div>
                    <a href="/life/study/escollege"> <img class="studyImg" src="subPicture/escollege.png"></a>
                </div>
                <div>
                    <a href="/life/study/hakka"> <img class="studyImg" src="subPicture/hakka.png"></a>
                </div>
                <div>
                    <a href="/life/study/chst"> <img class="studyImg" src="subPicture/chst.png"></a>
                </div>
            </div>
        </div>
            <!--Modal-->
                <div class="modal fade" id="contentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel">新增內容</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"> &times;</span>
                                </button> 
                            </div>
                            <div class="modal-body">
                                <form action="addStudyContent" method="POST" enctype="multipart/form-data">
                                    <!-- <div class="form-group">
                                        <label class="col-md-4 control-label" for="elecategory">請輸入要修改的學院</label>
                                        <div class="col-md-16">
                                            <textarea class="form-control input-md" name="modifyMainTitle" id="editor2"></textarea>
                                        </div>
                                    </div> -->
                                    <div class="form-group">
                                            <label class="col-md-4 control-label" for="elecategory">學院選項(lit:文, science:理, ec:工, mgt:管理, ceecs: 資電, escollege: 地科, hakka: 客家, chst: 生醫)</label>
                                            <div class="col-md-6">
                                                <select class="form-control input-md bigTitle" id="descBigTitle" name="modifyStudyTitle">
                                                    <option value="default">請選擇</option>
                                                    <% for(var i in data1) { %>
                                                            <option value="<%=data1[i].type%>"><%=data1[i].type%></option>
                                                    <% } %>
                                                </select>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="elecategory">學院名稱</label>
                                        <div class="col-md-16">
                                            <textarea class="form-control input-md" name="mainTitle" id="editor"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="elecategory">人名</label>
                                        <div class="col-md-16">
                                            <textarea class="form-control input-md" name="name" id="editor"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="elecategory">子標題</label>
                                        <div class="col-md-16">
                                            <textarea class="form-control input-md" name="subTitle" id="editor"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="elecategory">敘述文字</label>
                                        <div class="col-md-16">
                                            <textarea class="form-control input-md" name="content" id="editor"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="elecategory">圖片</label>
                                        <div class="col-md-12">
                                            <input type="file" class="form-control input-md" name="picture">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">儲存/修改</button>
                                    </div>
                                </form>
                            </div>
                        </div> <!--/.modal-content-->
                    </div> <!--/.modal -->
                </div>
                <div class="modal fade" id="timeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLabel">新增/修改時間軸內容</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"> &times;</span>
                                    </button> 
                                </div>
                                <div class="modal-body">
                                    <form action="addTimeline" method="POST">
                                            <div class="form-group">
                                                    <label class="col-md-4 control-label" for="elecategory">學院(請輸入英文簡稱：lit:文, science:理, ec:工, mgt:管理, ceecs: 資電, escollege: 地科, hakka: 客家, chst: 生醫)</label>
                                                    <div class="col-md-16">
                                                        <textarea class="form-control input-md" name="type" id="editor"></textarea>
                                                    </div>
                                                </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="elecategory">時間點</label>
                                            <div class="col-md-16">
                                                <textarea class="form-control input-md" name="time" id="editor"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="elecategory">此時間點之事件</label>
                                            <div class="col-md-16">
                                                <textarea class="form-control input-md" name="event" id="editor"></textarea>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">儲存/修改</button>
                                        </div>
                                    </form>
                                </div>
                            </div> <!--/.modal-content-->
                        </div> <!--/.modal -->
                    </div>   
        </main>
        <% include ../layouts/js %>
        <% include js %>
        <script>
        $(document).ready(function(){
            var width = innerWidth;
            if(width <= 1024)
                document.location.href = "/life/study_phone";
            $(window).resize(function(){
                width = innerWidth;
                if(width <= 1024)
                    document.location.href = "/life/study_phone";
            });
        });
    </script>
    </body>
    
</html>