<!DOCTYPE html>
<html>
    <head>
        <title>subStudy</title>
        <% include ../layouts/head %>
        <link rel=stylesheet type="text/css" href="life.css">
    </head>
    <body>
            <% include ../layouts/header %>
        <h1>名字＋學院</h1>
        <div calss="studyTitle">
            <p> 標題</p>
        </div>
    </body>
    <% include ../layouts/js %>
</html>