<!DOCTYPE html>
<html>

<head>
    <title>subStudy</title>
    <% include ../layouts/head %>
    <% include ../layouts/script %>
    <link rel=stylesheet type="text/css" href="../life.css">
</head>

<body>
    <% include ../layouts/header %>
    <div class="studyTitle">
        <div id="name">
            <h1>李宇哲</h1><h5>管理學院</h5>
        </div>
    </div>
   
     <!-- <main id="main"> -->
        <div class="subContent">
        <div class="subTitle">
            <h1>從中央經濟系到設計師</h1>
        </div>
        <div class="subStudyContent">
            <div class="SpictureArea">
                <img id="subStudyImg" src="../live1.png">
            </div>
            <div class="time">
                <p>2012</p>
                <p>2014</p>
                <p>2017</p>
                <p>2018</p>
                <p>2019</p>
                <p>2020</p>
            </div>
            <div class="studyTimeline">
                <ul class="event">
                    <li>Registration</li>
                    <li>Opening Ceremony</li>
                    <li>Main Event</li>
                    <li>Closing Ceremony</li>
                    <li>sdflhjk</li>
                    <li>asdoifjklc</li>
                </ul>
            </div>
        </div>
        <div class="studyContent">
            <p>Get here on time, it's first come first serve. Be late, get turned away.  
            Get ready for an exciting event, this will kick off in amazing fashion with MOP & Busta Rhymes as an opening show.   
            This is where it all goes down. You will compete head to head with your friends and rivals. Get ready!    
            See how is the victor and who are the losers. The big stage is where the winners bask in their own glory.
            Get here on time, it's first come first serve. Be late, get turned away.  
            Get ready for an exciting event, this will kick off in amazing fashion with MOP & Busta Rhymes as an opening show.   
            This is where it all goes down. You will compete head to head with your friends and rivals. Get ready!     -->
            See how is the victor and who are the losers. The big stage is where the winners bask in their own glory.
            Get here on time, it's first come first serve. Be late, get turned away.  
            Get ready for an exciting event, this will kick off in amazing fashion with MOP & Busta Rhymes as an opening show.   
            This is where it all goes down. You will compete head to head with your friends and rivals. Get ready!    
            See how is the victor and who are the losers. The big stage is where the winners bask in their own glory.
            </p>
        </div>
    </div>
<!-- </main> -->
    <% include ../layouts/js %>
</body>

</html>