<!DOCTYPE html>
<html>

<head>
    <title>subStudy</title>
    <% include ../layouts/head %>
    <% include ../layouts/script %>
    <link rel=stylesheet type="text/css" href="../life.css">
</head>

<body>
    <% include ../layouts/header %>
    <div class="studyTitle">
        <h1>名字</h1>
    </div>
   
    <main id="main">
        <div class="subTitle">
            <p> 標題</p>
        </div>
    <div class="studyPicture">
        <img class="p" src="live1.png">
    </div>
    <div class="studyContent">

    </div>
</main>
    <% include ../layouts/js %>
</body>

</html>