<!DOCTYPE html>
<html>
    <head>
        <title>subStudy</title>
        <% include ../layouts/head %>
        <link rel=stylesheet type="text/css" href="../life.css">
    </head>
    <body>
        <div class="studyTitle">
            <h1>名字</h1>
        </div>
        <div class="subTitle">
            <p> 標題</p>
        </div>
        <div class="studyPicture">
            
        </div>
        <div class="studyContent">

        </div>
   
    </body>
    <% include ../layouts/js %>
</html>