<!DOCTYPE html>
<html>
    <head>
        <title>subStudy</title>
        <link rel=stylesheet type="text/css" href="life.css">
    </head>
    <body>
        <h1>名字＋學院</h1>
        <div calss="studyTitle">
            <p> 標題</p>
        </div>
    </body>
</html>