body {
    padding: 50px;
    /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

a {
    color: #00B7FF;
}

#main {
    position: relative;
    top: 4vh;
}

.yellow {
    color: #FFCC00;
}

.orangeBg {
    background-color: rgb(251, 217, 185) !important;
}

body {
  overflow: hidden;
  moz-user-select: none;
  /* for Firefox */
  -webkit-user-select: none;
  /* for Chrome */
  background-image: url("background.png");
  background-repeat:no-repeat;
  background-position-y:  bottom;
  /* background-position-x: 55%; */
  background-color:#FFF9DC; 
  background-size: 100%;
}

._modal {
  display: none;
  position: fixed;
  padding: 0px;
  width: 63%;      
  
  top: 2%;
  left: 30%;
}

._modal-content {
  height: 100%;
  background-size: 200px auto;
  background-repeat: no-repeat;
  position: relative;
}

._modal-content>img {
  max-width: 100%;
}

.cross {
  position: absolute;
  top: 2%;
  right: 1%;
  font-size: 100%;
  z-index: 21;
  color:#FFCC00;
}

.cross:hover {
  cursor: pointer;
}

.question {
  width: 63%;
  position: absolute;
  top: 22%;
  left: 19%;
  height: 47vh;
  
}

.answer {
  width: 63%;
  position: absolute;
  top: 22%;
  left: 19%;
  height: 47vh;
  font-size: 1.5rem;
}

.modalTitle {
  border-bottom: 1px solid black;
  font-size: 1.5rem;
}

.modalContent {
  height: 90%;
  margin-top: 1%;
}    
.formElement {
  width: 100%;
  font-size:1.5em;
}

.answerModelQ {
  max-height: 40%;
}

.answerModelA {
  max-height: 60%;
}

.contentPart {
  overflow-y: auto;
  overflow-x: hidden;
}

.contentPart>p {
  background-color: #EAEAEA;
  height: 80%;
  border-radius: 4px;
  word-wrap:break-word;
  /* border: #e5e5e5 1px solid;     */
}
#mdoption{
  display:flex;
  position: relative;
}

.main {
    position: relative;
    top: 16vh;
    width: 90vw;
    margin: auto;
    height: 73vh;
}

#outterTitleSpace {
    position: absolute;
    top: -6%;
    width: 26%;
    left: 0;
    background-color: white;
    height: 85px;
}

.titleSpace {
    height: 80%;
    margin: auto;
    top: 12%;
    border-left: 5px solid #7CA7BC;
    padding-left: 4%;
    position: relative;
    left: 31%;
}

#qatxt {
    position: absolute;
    font-size: 28px;
    top: -6%;
    color: #FB8360;
}

#qatxt_c {
    position: absolute;
    font-size: 17px;
    bottom: 2%;
    color: #767171;
}

.leftSide {
    width: 20%;
    /* background-color: rgb(102, 252, 164);        */
}

.option {
  font-size: 3vh;
  margin-top: 5vh;  
}

.option ul {
    margin: 20px auto;
    padding: 0px;
    list-style-type: none;
    width: 78%;
}

.option li {
    margin-bottom: 5vh;
    border-radius: 2px;
    padding: 4% 7%;
}

.option a {
    text-decoration: none;
    color: #0D4966;
}

.optionHover {
    background-color: rgb(251, 217, 185);
    color: rgb(32, 56, 100);
}


/* 選單箭頭 */

.fa-angle-right {
    font-size: 1.3em;
    position: relative;
    top: 2px;
    margin-right: 6px;
    display: none;
}

.rightSide {
    /* background-color:rgb(67, 238, 238); */
    position: relative;
    width: 78%;
    padding-left: 2%;
    top: -22%;
}

.buttonGroup {
    font-size: 16px;
    display: inline-flex;
    color: black;
}

.button {
    border-radius: 5px;
    padding: 2% 10%;
    white-space: nowrap;
}


/* 過濾器以及搜尋框 */

.sort_SearchBar {
    /* background-color: bisque; */
    width: 100%;
    padding: 10px 80px;
    display: flex;
}

.sortButton {
    background-color: #D0CECE;
}

.sortButton:hover {
    cursor: pointer;
}
.searchBar {    
  position: absolute;
  right: 6%;
  top:7px;
  /* float: right; */
}

.form-inline {
    flex-flow: row nowrap;
}

.fa-arrow-alt-circle-up {
    float: right;
    visibility: hidden;
    font-size: 4vh;
}


/* mobileFilter默認隱藏 */

.mobileFilter {
    display: none;
}

.ask {
    display: inline-block;
    width: 10vw;
    height: auto;
    padding: 0px;
    position: absolute;
    bottom: -15%;
    left: -8%;
}

#img1 {
    max-width: 66%;
    position: relative;
    top: -1%;
    right: -59%;
}

#img2 {
    max-width: 100%;
}

.content {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 20px 60px;
    height: 100%;
}

tbody>tr {
    border-bottom: 1px solid #0D4966;
    height: 6vh;
    font-size: 2.5vh;
}

tbody tr:hover {
    cursor: pointer;
}

thead>tr {
    border-bottom: 1px dashed #0D4966;
    height: 6vh;
    font-size: 3vh;
}

.rowTitle {
    min-width: 47%;
}

.modal {
  background-color: rgba(0, 0, 0, 0.4);  
}

.modal-dialog {
    max-width: 60vw;
    margin: 7vh auto;
}

.modal-content {
    height: 85vh;
    width: 70%;
    margin: auto;
}

.searchInput {
  border-radius: 30px;
  margin-right: 2px;
  border:1px solid #B9B9B9;
  padding: 1% 4%;
  width: 93%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px;
}

/* iPhone XR */
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 2) {
      body{
        background-image: none;
      }      
      #mobileAskBtn{
        display: inline !important;
      }
      #notice-dialog{
        max-width: none;
      }
      #notice-content{
        width:90%;
        height:55vh;
      }
      #outterTitleSpace{
        width:40%;
      }
      .titleSpace{
        left:27%;
      }
      .leftSide,.ask {
        display: none;
    }
    .rightSide {
        position: relative;
        width: 100%;
        padding: 0;
    }
    .content {
        overflow-x: hidden;
        overflow-y: auto;
        position: absolute;
        width: 100%;
        margin: 0;
        bottom: 7%;
    }
    .buttonGroup {
        display: none;
      }
      
      thead > tr{
        white-space:nowrap;
        font-size:6vw;
      }
      tbody > tr{
        font-size:5vw;
      }
      .fa-arrow-alt-circle-up {
        visibility: hidden;  
        position: absolute;  
        right: -2vw;  
        bottom: 5vh;  
        font-size: 2.5em;
        z-index: 87;
      }
      .sortButton{
        color:#0D4966;    
      }
      .sort_SearchBar{
        padding:0;
        font-size: 5vw;
        /* background-color:red;         */
      }
     
      .searchBar{       
        width:100%; 
        position: static;              
      }
      
      .searchInput{
        border-radius: 360px;   
        
      }
      #simpleSieve{
        width: 6vw;
      }
      .mobileFilter{
        display: block;
        position: absolute;
        text-align: right;
        right: 0;
        top: -4vh;
        z-index: 88;
    }
    .mobileFilterButton {
        font-size: 3vh;
    }
    .mobileFilterButton ul {
        margin: 5% auto;
        padding: 0px;
        list-style-type: none;
        width: 50%;
    }
    .mobileFilterButton li {
        margin-bottom: 21%;
        text-align: center;
        border-radius: 2px;
    }
    .mobileFilterContent {
        width: 50vw;
        background-color: #D0CECE;
        position: relative;
        top: -4%;
        padding: 1px 0;        
      }
    
      .option{
        font-size: 3vh;    
        margin-top:0;
        white-space: nowrap;
    }
    .option ul {
        margin: 5% auto;
        padding: 0px;
        list-style-type: none;
        width: 50%;
    }
    .option li {
        margin-bottom: 21%;
        text-align: center;
        border-radius: 2px;
        padding: 4% 0%;
      }
      .option i{
        display: none;
      }
      .contentTable{
        overflow-x:auto;
      }
      #Top{        
        width: 14vw !important;        
      }
    }
}


/* iphone 6/7/8 plus */


/* @media screen and (max-width: 414px) and (max-height: 736px) {
  body{
    background-image: none;
  }
  .leftSide,.ask {
    display: none;
  }
  .rightSide{
    position: relative;
    width: 100%;
    padding: 0;
  }
  .content{
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    margin: 0;
    bottom: 7%;
  }
  
  .buttonGroup{
    display: none;
  }
  
  thead > tr{
    white-space:nowrap;
  }
  .fa-arrow-alt-circle-up {
    visibility: hidden;  
    position: absolute;  
    right: -2vw;  
    bottom: 5vh;  
    font-size: 2.5em;
    z-index: 87;
  }
  .sortButton{
    color:#00B7FF;
  }
  .mobileFilter{
    display: block;
    position: absolute;    
    text-align: right;
    right: 0;
    top: -3%;
    z-index: 88;
  }
  .mobileFilterButton{
      font-size: 3vh;    
  }
  .mobileFilterButton ul{
    margin: 5% auto;
    padding: 0px;
    list-style-type: none;
    width: 50%;
  }.mobileFilterButton li{
    margin-bottom: 21%;
    text-align: center;
    border-radius: 2px;
  }
  .mobileFilterContent{
    width: 50vw;    
    background-color: #D0CECE;
    position: relative;
    top: -4%;
    padding: 1px 0;
  }

  .option{
    font-size: 3vh;    
    margin-top:0;
    white-space: nowrap;
  }
  .option ul{
    margin: 5% auto;
    padding: 0px;
    list-style-type: none;
    width: 50%;
  }
  .option li{
    margin-bottom: 21%;
    text-align: center;
    border-radius: 2px;
  }
} */


/* iphone X/XS */


/* @media screen and (max-width: 375px) and (max-height: 812px) {
  body{
    background-image: none;
  }
  .leftSide,.ask {
    display: none;
  }
  .rightSide{
    position: relative;
    width: 100%;
    padding: 0;
  }
  .content{
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    margin: 0;
    bottom: 7%;
  }
  
  .buttonGroup{
    display: none;
  }
  
  thead > tr{
    white-space:nowrap;
  }
  .fa-arrow-alt-circle-up {
    visibility: hidden;  
    position: absolute;  
    right: -2vw;  
    bottom: 5vh;  
    font-size: 2.5em;
    z-index: 87;
  }
  .sortButton{
    color:#00B7FF;
  }
  .mobileFilter{
    display: block;
    position: absolute;    
    text-align: right;
    right: 0;
    top: -3vh;
    z-index: 88;
  }
  .mobileFilterButton{
      font-size: 3vh;    
  }
  .mobileFilterButton ul{
    margin: 5% auto;
    padding: 0px;
    list-style-type: none;
    width: 50%;
  }.mobileFilterButton li{
    margin-bottom: 21%;
    text-align: center;
    border-radius: 2px;
  }
  .mobileFilterContent{
    width: 50vw;    
    background-color: #D0CECE;
    position: relative;
    top: -4%;
    padding: 1px 0;
  }

  .option{
    font-size: 3vh;    
    margin-top:0;
    white-space: nowrap;
  }
  .option ul{
    margin: 5% auto;
    padding: 0px;
    list-style-type: none;
    width: 50%;
  }
  .option li{
    margin-bottom: 21%;
    text-align: center;
    border-radius: 2px;
  }
} */


/* iphone xr */


/* @media screen and (device-width: 414px) and (device-height: 896px) {
  body{
    background-image: none;
  }
  .leftSide,.ask {
    display: none;
  }
  .rightSide{
    position: relative;
    width: 100%;
    padding: 0;
  }
  .content{
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    margin: 0;
    bottom: 7%;
  }
  
  .buttonGroup{
    display: none;
  }
  
  thead > tr{
    white-space:nowrap;
  }
  .fa-arrow-alt-circle-up {
    visibility: hidden;  
    position: absolute;  
    right: -2vw;  
    bottom: 5vh;  
    font-size: 2.5em;
    z-index: 87;
  }
  .sortButton{
    color:#00B7FF;
  }
  .mobileFilter{
    display: block;
    position: absolute;    
    text-align: right;
    right: 0;
    top: -3vh;
    z-index: 88;
  }
  .mobileFilterButton{
      font-size: 3vh;    
  }
  .mobileFilterButton ul{
    margin: 5% auto;
    padding: 0px;
    list-style-type: none;
    width: 50%;
  }.mobileFilterButton li{
    margin-bottom: 21%;
    text-align: center;
    border-radius: 2px;
  }
  .mobileFilterContent{
    width: 50vw;    
    background-color: #D0CECE;
    position: relative;
    top: -4%;
    padding: 1px 0;
  }

  .option{
    font-size: 3vh;    
    margin-top:0;
    white-space: nowrap;
  }
  .option ul{
    margin: 5% auto;
    padding: 0px;
    list-style-type: none;
    width: 50%;
  }
  .option li{
    margin-bottom: 21%;
    text-align: center;
    border-radius: 2px;
  }
} */