a {
    color: #00B7FF;
}

#main {
    position: relative;
}

.yellow {
    color: #FFCC00;
}

.orangeBg {
    background-color: rgb(251, 217, 185) !important;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /** overflow: hidden; */
  moz-user-select: none;
  /* for Firefox */
  -webkit-user-select: none;
  /* for Chrome */
  background-image: url("background.png");
  background-repeat:no-repeat;
  background-position-y: bottom;
  background-color:#FFF9DC; 
  background-size: 100%;
}

._modal {
  display: none;
  position: fixed;
  padding: 0px;
  width: 63%;  
  top: 2%;
  left: 30%;
}

._modal-content {
  /*height: 100%;*/
  background-size: 200px auto;
  background-repeat: no-repeat;
  position: relative;
}

._modal-content>img {
  max-width: 100%;
}

.cross {
  position: absolute;
  top: 2%;
  right: 1%;
  font-size: 100%;
  z-index: 21;
  color:#FFCC00;
}

.cross:hover {
  cursor: pointer;
}

.question {
  width: 63%;
  position: absolute;
  top: 22%;
  left: 19%;
  height: 47vh;  
}

.answer {
  width: 63%;
  position: absolute;
  top: 22%;
  left: 19%;
  height: 53vh;
  font-size: 1.5rem;
}

.modalTitle {
  border-bottom: 1px solid black;
  font-size: 1.5rem;
}

.modalContent {
  height: 90%;
  margin-top: 1%;
}    
.formElement {
  width: 100%;
  font-size:1.5em;
}

.answerModelQ {
  max-height: 35%;
}

.answerModelA {
  max-height: 63%;
  margin-top: 2%;
}

.contentPart {
  overflow-y: auto;
  overflow-x: hidden;
}
.answerArea,.questionArea{
  background-color: #EAEAEA;
  border-radius: 4px;
}
.contentPart>p {
  /* background-color: #EAEAEA;
  height: 80%;
  border-radius: 4px;
  word-wrap:break-word; */
}
#mdoption{
  display:flex;
  position: relative;
}

.main {
    position: relative;
    top: 16vh;
    width: 90vw;
    margin: auto;
    height: 73vh;
}

#outterTitleSpace {
    position: absolute;
    width: 26%;
    left: 0;
    background-color: white;
    height: 85px;
    
}

.titleSpace {
    height: 80%;
    margin: auto;
    top: 12%;
    border-left: 5px solid #7CA7BC;
    padding-left: 4%;
    position: relative;
    left: 31%;
}

#qatxt {
    position: absolute;
    font-size: 28px;
    top: -6%;
    color: #FB8360;
}

#qatxt_c {
    position: absolute;
    font-size: 17px;
    bottom: 2%;
    color: #767171;
}

.leftSide {
    width: 20%;
}

.option {
  font-size: 1.5vw;
  margin-top: 5vh;  
}

.option ul {
    margin: 20px auto;
    padding: 0px;
    list-style-type: none;
    width: 78%;
}

.option li {
    margin-bottom: 5vh;
    border-radius: 2px;
    padding: 4% 7%;
}

.option a {
    text-decoration: none;
    color: #0D4966;
}

.optionHover {
    background-color: rgb(251, 217, 185);
    color: rgb(32, 56, 100);
}


/* 選單箭頭 */

.fa-angle-right {
    font-size: 1.3em;
    position: relative;
    top: 2px;
    margin-right: 6px;
    display: inline;
}

.rightSide {
    position: relative;
    width: 78%;
    padding-left: 2%;
    top: -16%;
}

.buttonGroup {
    font-size: 1.4vw;
    display:flex;
    color: black;
    position: absolute;
    left: 7.5%;
}

.button {
    border-radius: 5px;
    padding: 2px 10px;
    white-space: nowrap;
}


/* 過濾器以及搜尋框 */

.sort_SearchBar {
    width: 100%;
    position: relative;
}

.sortButton {
    background-color: #D0CECE;
}

.sortButton:hover {
    cursor: pointer;
}
.searchBar {    
  position: absolute;
  right: 9%;
}
#searchForm{
  display: flex;
}

.form-inline {
    flex-flow: row nowrap;
}

.fa-arrow-alt-circle-up {
    float: right;
    visibility: hidden;
    font-size: 4vh;
}


/* mobileFilter默認隱藏 */

.mobileFilter {
    display: none;
}

.ask {
    display: inline-block;
    width: 9vw;
    height: auto;
    padding: 0px;
    position: absolute;
    bottom: -15%;
    left: -8%;
}

#img1 {
    max-width: 66%;
    position: relative;
    top: -1%;
    right: -59%;
}

#img2 {
    max-width: 100%;
}

.content {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 7% 7% 3%;
    height: 100%;
}

tbody>tr {
    border-bottom: 1px solid #0D4966;
    height: 6vh;
    font-size: 1.3vw;
}

tbody tr:hover {
    cursor: pointer;
}

thead>tr {
    border-bottom: 1px dashed #0D4966;
    height: 6vh;
    font-size: 1.5vw;
    position: sticky; 
    top: 0;
    background-color:#FFF9DC; 
}

.rowTitle {
    min-width: 47%;
}
.modal {
  background-color: rgba(0, 0, 0, 0.4);  
}
.modal-dialog {
    max-width: 60vw;
    margin: 7vh auto;
}
.modal-content {
    height: 85vh;
    width: 70%;
    margin: auto;
}
.searchInput {
  border-radius: 30px;
  margin-right: 2px;
  border:1px solid #B9B9B9;
  padding: 1% 4%;
  width: 98%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px;
}
.titleTextSize {
  font-size: 2rem;
}

.contentTextSize {
  font-size: 1.6rem;
}

.mobilAnswerModalContent {
  width: 60%;
  height: 60vh;
}

#mobileAskBtn {
  position: fixed;      
  z-index: 200;
  display: none;
}

.mobilAskModalContent {
  width: 90%;
  height: 60vh;
}

#Top {
  position: fixed;
  bottom: 10vh;
  right: 5vw;
  width: 4vw;
  z-index: 200;
  display: none;
}

#searchImg:hover {
  cursor: pointer;
}

/* ipad 直立設計*/
@media only screen 
  and (min-width : 768px) 
  and (max-width : 1024px) 
  and (orientation : portrait)  {
  .option{
    font-size:1.2rem;
  }
  .option ul{
    width:90%;
  }
  .searchInput{
    width:72%;
  }
  .searchBar{
    right:-6%;
    top: -1px;
  }
  .ask{
    display: none;
  }
  #mobileAskBtn{
    display: inline !important; 
    bottom:7vh;   
    right: 3vw;
    width: 6vw;
  }
  #Top{
    right: 3vw !important;
    width: 6vw !important;
    bottom: 14vh !important;
  }
  .mobilAnswerModalContent{
    width:80% !important;
  }
  .mobilAskModalContent{
    width:80%;
  }
  .titleTextSize{
    font-size: 4vw !important;
  }
  .contentTextSize{
    font-size: 3vw !important;
    height:1%;
  }
  .buttonGroup{
    font-size: 0.9rem;
  }
  thead > tr{
    font-size: 1.3rem;
  }
  tbody > tr{
    font-size:1.2rem;
  }
  .answerModelQ{
    max-height:30% !important;
  }
  .answerModelA{
    max-height: 68% !important;
    margin-top:2% !important;
  }
}
/* ipad 橫放設計 */
@media only screen 
  and (min-width : 768px) 
  and (max-width : 1024px) 
  and (orientation : landscape) {
    .ask{
      display: none;
    }
    #mobileAskBtn{
      display: inline !important;
      bottom: 10vh;
      right: 5vw;
      width: 4vw;      
    }
    #Top{
      bottom: 20vh !important;
    }
    .mobilAnswerModalContent{
      width: 70% !important;
    }
    .titleTextSize{
      font-size:3vw !important;
    }
    .contentTextSize{
      font-size:2vw !important;
      height:1%;
    }
    .option{
      font-size:1.3rem;
    }
    .buttonGroup{
      font-size:0.9rem;
    }
    thead > tr{
      font-size: 1.3rem;
    }
    tbody > tr{
      font-size:1.2rem;
    }
    .mobilAskModalContent{
      width:70%;
    }
  }

/* 手機橫放的通用設計 */
@media only screen 
  and (max-width:900px)
  and (orientation : landscape){
  .ask{
    display: none;
  }
  #mobileAskBtn{
    display: inline !important;
    width:4vw !important;
    bottom: 24vh !important;
    right:5vw;
  }
  .content{
    position: relative;
    top: 0;
  }
  .modal-content{
    height:auto !important;
    width:65% !important;
  }
  .titleTextSize{
    font-size: 2vw !important;
  }
  
  .contentTextSize{
    font-size: 2vw !important;
    height:1%;
  }
  .searchInput{
    width:70%;
  }
  .searchBar{
    right:-6%;
    top: -3px;
  }
  .option{
    font-size: 1.1rem;
    margin-top:7vh;
  }

  /*
.button_contener {
  display: flex;
  justify-content: flex-start;
}
*/


  .buttonGroup{
    font-size: 1rem;
  }
  thead > tr{
    font-size: 1.1rem;
  }
  tbody > tr{
    font-size:1rem;
  }
  
}
/* 手機直立的通用設計 */
@media only screen and (max-width:767px) and (orientation : portrait){
  html{
    /*height: 100%;*/
    /*overflow: hidden;*/
  }
  body{
    background-image: none;
    height: 100%;
    /*overflow: hidden;*/
  }      
  #mobileAskBtn{
    display: inline !important;
    bottom: 2vh;
    right: 5vw;
    width: 14vw;
  }
  #notice-dialog{
    max-width: none;
  }
  #notice-content{
    width:90%;
    height:55vh;
  }
  #outterTitleSpace{
    width:40%;
    position: relative;
  }
  .main{
    position: relative;
    top: 16px;
  }
  .titleSpace{
    left:27%;
    width:92%;
  }
  .leftSide,.ask {
    display: none;
  }
  .rightSide {
    position: relative;
    width: 100%;
    padding: 0;
    top:0;
  }
  #searchForm{
    width:92%;
  }
  .content {
    /*overflow-x: hidden;*/
    overflow-y: auto;
    width: 100%;
    margin: 0;
    position: relative;
    top: 1%;
  }
  .buttonGroup {
    display: none;
  }
  
  thead > tr{
    white-space:nowrap;
    font-size:6vw;
  }
  tbody > tr{
    font-size:5vw;
  }
  .fa-arrow-alt-circle-up {
    visibility: hidden;  
    /*position: absolute;*/  
    right: -2vw;  
    bottom: 5vh;  
    font-size: 2.5em;
    z-index: 87;
  }
  .sortButton{
    color:#0D4966;    
  }
  .sort_SearchBar{
    padding:0;
    font-size: 5vw;
    position:relative;
  }
 
  .searchBar{       
    width:100%; 
    position: static;              
  }
  
  .searchInput{
    border-radius: 360px;        
  }
  #simpleSieve{
    width: 6vw;
  }
  .mobileFilter{
    display: block;
    position: absolute;
    text-align: right;
    right: 0;
    top: 6%;
    z-index: 400;
  }
  .mobileFilterButton {
    font-size: 3vh;
  }
  .mobileFilterButton ul {
    margin: 5% auto;
    padding: 0px;
    list-style-type: none;
    width: 50%;
  }
  .mobileFilterButton li {
    margin-bottom: 12%;
    text-align: center;
    border-radius: 2px;
  }
  .mobileFilterContent {
    width: 50vw;
    background-color: #D0CECE;
    position: relative;
    top: -4%;
    padding: 1px 0; 
    display: none;       
  }

  .option{
    font-size: 3vh;    
    margin-top:0;
    white-space: nowrap;
  }
  .option ul {
    margin: 5% auto;
    padding: 0px;
    list-style-type: none;
    width: 50%;
  }
  .option li {
    margin-bottom: 12%;
    text-align: center;
    border-radius: 2px;
    padding: 4% 0%;
  }
  .option i{
    display: none;
  }
  .content{
    overflow-y:scroll;
    overflow-x:auto;
  }
  #Top{        
    width: 14vw !important;        
  }
  .titleTextSize{
    font-size: 5.2vw;
  }
  .contentTextSize{
    font-size:4.8vw;
    height: 1%;
  }
  .mobilAnswerModalContent{
    width:90%;
  }
  .answerModelQ{
    max-height:30% !important;
  }
  .answerModelA{
    margin-top:2%;
    max-height: 68% !important;
  }
}

